<!DOCTYPE html>
<html>
	<head>
		<title>美文共欣赏</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="telephone=no,email=no" name="format-detection">
		<link rel="stylesheet" href="css/sm.css">
		<link rel="stylesheet" href="css/icon.css">
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<div class="page-group">
			<div class="page page-current" id="article_list">
				<header class="bar bar-nav">
					<a class="button button-link button-nav pull-left back" href="#">
						<span class="icon icon-left"></span>
					</a>
					<h1 class="title">美文共欣赏</h1>
					<div class="buttons-tab">
						<a href="#" class="tab-link button active" data-num="58">本周精选</a>
						<a href="#" class="tab-link button" data-num="59">感情思绪</a>
						<a href="#" class="tab-link button" data-num="60">脱单套路</a>
						<a href="#" class="tab-link button" data-num="61">送花故事</a>
					</div>
				</header>
				
				<div class="content infinite-scroll" data-distance="100">
					<div class="mark" id="mark">
						<div class="mark_content">
							<div class="preloader"></div>
							<div>正在努力为您加载</div>
						</div>
					</div>
					<script id="articleListTemplate" type="text/html">
						{{each dataList as vo}}
							<li  data-id="{{vo.articleClassId}}">
								<a href="Article_detail.html?articleId={{vo.articleId}}">
									<img class="lazyload" src="images/article.jpg" data-original="{{apiUrl}}{{vo.articleLogo}}" />
									<div class="subtext">{{vo.articleTitle}}</div>
								</a>
							</li>
						{{/each}}
					</script>
					
					<div class="list-block media-list">
						<div id="article_list_Dom" class="content-block tab-list">
							
						</div>
					</div>
					
					<div class="infinite-scroll-preloader">
						<div class="preloader"></div>
					</div>
				</div>
			</div>
		</div>
		
		<script type='text/javascript' src='js/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/store_json2.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-extend.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-city-picker.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/picLazyLoad.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/app.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/action.js' charset='utf-8'></script>
	</body>
</html>
