<!DOCTYPE html>
<html>
	<head>
		<title>文章详情</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="telephone=no,email=no" name="format-detection">
		<link rel="stylesheet" href="css/sm.css">
		<link rel="stylesheet" href="css/icon.css">
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<div class="page-group">
			<div class="page" id="article_detail">
				<header class="bar bar-nav">
					<a class="button button-link button-nav pull-left back" href="#">
						<span class="icon icon-left"></span>
					</a>
					<h1 class="title" id="header-articleTitle">文章详情</h1>
				</header>
				<script id="articleDetailDomSpt" type="text/html">
					<div class="more-list-head">
						<div class="more-list-title">{{detail.articleTitle}}</div>
						<div class="more-list-info">{{detail.addTime}}</div>
					</div>
					<!--<div class="top-picture">
						<div class="pic-mask"></div>
						<img src="{{apiUrl}}{{detail.articleLogo}}"/>
					</div>-->
					
					<div class="more-list-content ">
						<div class="more-list">
					<!--		<div class="list-head"><span>01</span>{{detail.articleClassName}}</div>-->
							<div class="list-info">
								{{#detail.articleDetail}}
							</div>
							<!--<div class="flex-center more-list-tab">
								<div class="flex-col">价格：<span class="price">&yen; {{detail.articlePrice}}</span></div>
								<div class="flex-col">
									<span class="app-icon icon-kongxin"></span> 
									{{if detail.articlePraiseNum == null}}0{{else}}{{detail.articlePraiseNum}}{{/if}}
								</div>
								<div class="flex-col go-see">
									<a href="{{detail.jumpUrl}}">去看一下</a>
								</div>
							</div>-->
						</div>						
					</div>
				</script>
				<div id="article-Detail-Dom" class="content">
					
				</div>
			</div>
		</div>
		
		<script type='text/javascript' src='js/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/store_json2.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-extend.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-city-picker.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/picLazyLoad.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/app.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/action.js' charset='utf-8'></script>
	</body>
</html>
