<!DOCTYPE html>
<html>

	<head>
		<title>主页</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="telephone=no,email=no" name="format-detection">
		<link rel="stylesheet" href="css/sm.css">
		<link rel="stylesheet" href="css/icon.css">
		<link rel="stylesheet" href="css/app.css">
	</head>

	<body>
		<div class="page-group">
			<!-- page 容器 -->
			<div class="page" id="category_index">
				<!-- 标题栏 -->
				<header class="bar bar-nav">
					<a class="button button-link button-nav pull-left back" href="#">
						<span class="icon icon-left"></span>
					</a>
					<h1 class="title">搜索</h1>
				</header>
				<div class="bar bar-header-secondary">
					<div class="searchbar">
						<a class="searchbar-cancel">取消</a>
						<div class="search-input">
							<label class="icon icon-search" for="search"></label>
							<input type="search" id='search' placeholder='输入关键字...' />
						</div>
					</div>
				</div>
				<!-- 这里是页面内容区 -->
				<div class="content">
					<div class="category-list-box">
						<div class="category-list">
							<div class="category-list-img">
								<div class="flex-center category-list-info">
									<span class="category-info-box">
										<span class="category-info-text">
											<div><span>鲜花花材</span></div>
											<span class="subname">FLOWER MATERIAL</span>
										</span>									
									</span>
								</div>
								<img src="images/T-1.jpg"/>
							</div>
							<ul class="category-item">
								<li>玫瑰</li>
								<li>百合</li>
								<li>康乃馨</li>
								<li>洋牡丹</li>
								<li>永生花</li>
								<li>兰花</li>
								<li>洋桔梗</li>
								<li>其它</li>
							</ul>
						</div>
						
						<div class="category-list">
							<div class="category-list-img">
								<div class="flex-center category-list-info">
									<span class="category-info-box">
										<span class="category-info-text">
											<div><span>送花对象</span></div>
											<span class="subname">THE OBJECT OF FLOWERS</span>
										</span>									
									</span>
								</div>
								<img src="images/T-2.jpg"/>
							</div>
							<ul class="category-item">
								<li>爱人</li>
								<li>恋人</li>
								<li>老师</li>
								<li>朋友</li>
								<li>长辈</li>
								<li>客户</li>
								<li>闺蜜</li>
								<li>同学</li>
							</ul>
						</div>
						
						<div class="category-list">
							<div class="category-list-img">
								<div class="flex-center category-list-info">
									<span class="category-info-box">
										<span class="category-info-text">
											<div><span>节日送花</span></div>
											<span class="subname">FESTIVAL OF FLOWERS</span>
										</span>									
									</span>
								</div>
								<img src="images/T-3.jpg"/>
							</div>
							<ul class="category-item">
								<li>情人节</li>
								<li>母亲节</li>
								<li>父亲节</li>
								<li>圣诞节</li>
								<li>感恩节</li>
								<li>七夕节</li>
								<li>建军节</li>
								<li>元旦</li>
							</ul>
						</div>
						
						<div class="category-list">
							<div class="category-list-img">
								<div class="flex-center category-list-info">
									<span class="category-info-box">
										<span class="category-info-text">
											<div><span>体格定位</span></div>
											<span class="subname">PRICE POSITION</span>
										</span>									
									</span>
								</div>
								<img src="images/T-4.jpg"/>
							</div>
							<ul class="category-item">
								<li>000~100</li>
								<li>100~200</li>
								<li>200~300</li>
								<li>300~400</li>
								<li>400~500</li>
								<li>500以上</li>
							</ul>
						</div>
					</div>
					<div class="today-hot-search">
						<h4>今日热搜</h4>
						<ul id="todayHotSearch">
						</ul>
						<script id="todayHotSearchDom" type="text/html">
							{{each hotKWs as vo}}
								<li style="background-color: {{vo.color}};">{{vo.keywords}}</li>
							{{/each}}
						</script>
					</div>
				</div>
			</div>
		</div>
		<script type='text/javascript' src='js/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/store_json2.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-extend.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-city-picker.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/picLazyLoad.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/app.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/action.js' charset='utf-8'></script>
	</body>

</html>