<!DOCTYPE html>
<html>

	<head>
		<title>商品详情</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="telephone=no,email=no" name="format-detection">
		<link rel="stylesheet" href="css/sm.css">
		<link rel="stylesheet" href="css/icon.css">
		<link rel="stylesheet" href="css/app.css">
	</head>

	<body>
		<div class="page-group">
			<!-- page 容器 -->
			<div class="page" id="detail_index">
				<header class="bar bar-nav">
					<a id="backHref" class="button button-link button-nav pull-left back" href="#">
						<span class="icon icon-left"></span>
					</a>
					<h1 class="title" id="header-goodsName">产品详情</h1>
					<a class="button button-link button-nav pull-right" style="display: none;" href="#" id="bt_wx_share">
						<span class="icon icon-share"></span>
					</a>
				</header>
				<div class="btn_wrap btn_wrap_fixed" id="btnTools">
					<input type="hidden" id="favoriteId" value="">
					<a class="btn_fav" href="javascript:void(0);" id="fav"><i></i></a>
					<div class="btn_col">
						<span class="btn btn_cart" id="addCart">加入购物车</span>
						<span class="btn btn_buy" id="buyBtn">立即购买</span>
					</div>
					<a class="cart_wrap" href="Cart_index.html">
						<i class="i_cart" id="cartNum"></i>
						<span class="cart"></span>
						<span class="add_num" id="popone">+1</span>
					</a>
				</div>
				<!-- 这里是页面内容区 -->
				<div class="content">
					<div class="mark" id="mark">
						<div class="mark_content">
							<div class="preloader"></div>
							<div>正在努力为您加载</div>
						</div>
					</div>
					<script id="goodsDetailTemplate" type="text/html">
						<input type="hidden" id="goodsId" value="{{detail.goodsId}}">
						<input type="hidden" id="goodsName" value="{{detail.goodsName}}">
						<input type="hidden" id="goodsLogo" value="{{detail.goodsLogo}}">
						<input type="hidden" id="goodsCode" value="{{detail.goodsCode}}">
						<input type="hidden" id="shopId" value="0">
						<input type="hidden" id="buyNum" value="1">
						<input type="hidden" id="goodsPrice" value="{{detail.goodsPrice}}">
						<input type="hidden" id="goodsSub" value="{{detail.goodsSub}}">
						<!-- Slider -->
						<div class="swiper-container" data-speed='1000' data-autoplay="3000">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img class="lazyload" src="images/loading-800.png" data-original="{{apiUrl}}{{detail.goodsLogo}}"></div>
							</div>
							<div class="swiper-pagination"></div>
						</div>
						<div class="tm">
							<div class="td2">
								<div class="td2_name">
									{{detail.goodsName}}
								</div>
								<div class="td2_cx">
									{{detail.goodsSub}}
								</div>
								<div class="price_div">
									<span class="price">¥{{detail.goodsPrice}}</span>
									<span style="text-decoration:line-through;margin-left:0.5rem;font-size:0.6rem;"> {{detail.marketPrice}} </span>
									<div style="right:0;padding-right:0.5rem;bottom:0.2rem;position:absolute;">已售：<i id="sold_quantity">{{detail.saleCount}}</i>件</div>
								</div>
							</div>
						</div>
						<div class="buttons-tab">
							<a href="#tab1" class="tab-link active button">图文详情</a>
							<a href="#tab2" class="tab-link button">客户评价({{#commentCount}})</a>
						</div>
						<div class="content-block">
							<div class="tabs">
								<div id="tab1" class="tab active">
									<div class="content-block">
										{{#detail.goodsDes}}
									</div>
								</div>
								<div id="tab2" class="tab">
									<div class="content-block">
										{{if commentCount != "0"}}
										<div class="list-block media-list" style="margin-top: 0;">
											<ul>
												{{each commentList as vo}}
												<li>
													<div class="item-content" style="align-items:baseline;padding-left:0;">
														<div class="item-media">
															<img style="border-radius:40px;" class="lazyload fadeIn" src="images/default_user_portrait.gif" data-original="{{vo.headImgUrl}}" width="40">
														</div>
														<div class="item-inner" style="padding-right: 0;">
															<div class="item-title-row">
																<div style="width:100%;">
																	<div style="color:#333333;font-style:italic;font-size:0.5rem;">
																		用户ID：<span style="color:dodgerblue;">{{vo.memberId}}</span>
																	<span style="float:right;padding-right:0.2rem;">
																		<p class="common-num-{{vo.commentLevel}}" style="color:#FFA500;"></p>
																	</span>
																	</div>
																	{{vo.commentContent}}
																</div>
															</div>
															<div class="item-text" style="font-size: 0.5rem;height: 1rem;line-height: 1rem;float:right;margin-top: 0.45rem;">
																<div><span class="evaluate" style="font-size:0.4rem;color:#999;">{{vo.cAddTime}}</span></div>
															</div>
														</div>
													</div>
												</li>
												{{/each}}
											</ul>
										</div>
										{{else}}
										<p class="text-center" style="padding:5rem 0;">目前还没有评论哦！</p>
										{{/if}}
									</div>
								</div>
							</div>
						</div>
					</script>
					<div id="goodsDetail"></div>
				</div>

				<!--暂时保留 上线前删除-->
				<!--<div class="content" style="display:none;">
					<div class="swiper-container" data-speed='1000' data-autoplay="3000">
						<div class="swiper-wrapper">
							<div class="swiper-slide"><img class="lazyload" src="images/loading-800.png" data-original="http://m.531314.com/upload/5464dbbc69092.jpg"></div>
							<div class="swiper-slide"><img class="lazyload" src="images/loading-800.png" data-original="http://m.531314.com/upload/54643f05b0bcb.jpg"></div>
							<div class="swiper-slide"><img class="lazyload" src="images/loading-800.png" data-original="http://m.531314.com/upload/54643f05b0bcb.jpg"></div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
					<div class="tm">
						<div class="td2">
							<div class="td2_name">
								等待你的到来
							</div>
							<div class="td2_cx">
								圣诞节礼物 11只红玫瑰，8只白玫瑰。纯白的爱，火热的心，等待你的到来。
							</div>
							<div class="price_div">
								<span class="price">¥55</span>
								<span style="text-decoration:line-through;margin-left:0.5rem;font-size:0.6rem;"> 85.00 </span>
								<div style="right:0;padding-right:0.5rem;bottom:0.2rem;position:absolute;">已售：<i id="sold_quantity">10000+</i>件</div>
							</div>
						</div>
					</div>
					<div class="buttons-tab">
						<a href="#tab1" class="tab-link active button">图文详情</a>
						<a href="#tab2" class="tab-link button">客户评价(1368)</a>
					</div>
					<div class="content-block">
						<div class="tabs">
							<div id="tab1" class="tab active">
								<div class="content-block">
									<p>
										<img src="http://m.531314.com/upload/14176858735761.jpg" style="float:none;" title="等待你的到来620_01.jpg">
									</p>
									<p>
										<img src="http://m.531314.com/upload/14176858742925.jpg" style="float:none;" title="等待你的到来620_02.jpg">
									</p>
									<p>
										<img src="http://m.531314.com/upload/14176858746495.jpg" style="float:none;" title="等待你的到来620_03.jpg">
									</p>
									<p>
										<img src="http://m.531314.com/upload/141768587448.jpg" style="float:none;" title="等待你的到来620_04.jpg">
									</p>
									<p>
										<img src="http://m.531314.com/upload/14176858743252.jpg" style="float:none;" title="等待你的到来620_05.jpg">
									</p>
								</div>
							</div>
							<div id="tab2" class="tab">
								<div class="content-block">
									ddddd
								</div>
							</div>
						</div>
					</div>
				</div>-->
			</div>
		</div>
		<script type='text/javascript' src='js/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/store_json2.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-extend.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-city-picker.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/picLazyLoad.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/app.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/action.js' charset='utf-8'></script>
	</body>

</html>