<!DOCTYPE html>
<html>

	<head>
		<title>我订花</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="telephone=no,email=no" name="format-detection">
		<link rel="stylesheet" href="css/sm.css">
		<link rel="stylesheet" href="css/icon.css">
		<link rel="stylesheet" href="css/app.css">
	</head>

	<body>
		<div class="page-group">
			<!-- page 容器 -->
			<div class="page" id="index_index">
				<!-- 标题栏 -->
				<header class="bar bar-nav">
					<a class="button button-link button-nav pull-left" href="#" onclick="$.openPanel('#index-panel-left');">
						<span class="icon icon-menu"></span>
					</a>
					<h1 class="title">
                    	<img src="images/logo-100.png" style="height:1.4rem;margin:0.4rem 0.5rem;"/>
                	</h1>
					<a class="button button-link button-nav pull-right" href="#" id="bt_wx_share">
						<span class="icon icon-share"></span>
					</a>
					<!--<a class="button button-link button-nav pull-right" href="Category_index.html">
						<span class="icon icon-search"></span>
					</a>-->
				</header>

				<!-- 工具栏 -->
				<nav class="bar bar-tab">
					<a class="tab-item" data-no-cache="false" id="nav_index" href="Index_index.html">
						<span class="icon icon-home"></span>
						<span class="tab-label">首页</span>
					</a>
					<a class="tab-item" data-no-cache="false" id="nav_search" href="Search_index.html">
						<span class="icon icon-menu"></span>
						<span class="tab-label">所有产品</span>
					</a>
					<a class="tab-item" data-no-cache="true" id="nav_cart" href="Cart_index.html">
						<span class="icon icon-cart"></span>
						<span class="tab-label">购物车</span>
						<span class="badge" style="display: none;"></span>
					</a>
					<a class="tab-item" data-no-cache="true" id="nav_user" href="User_index.html">
						<span class="icon icon-me"></span>
						<span class="tab-label">个人中心</span>
					</a>
				</nav>

				<!-- 这里是页面内容区 -->
				<div class="content pull-to-refresh-content" data-ptr-distance="55">
					<div class="pull-to-refresh-layer">
						<div class="preloader"></div>
						<div class="pull-to-refresh-arrow"></div>
					</div>
					<!-- Slider -->
					<script id="ad13ListTemplate" type="text/html">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								{{each dataList.ad13 as vo}}
								<div class="swiper-slide">
									<a href="{{vo.appLink}}">
										<img class="lazyload" src="images/swiper.jpg" data-original="{{apiUrl}}{{vo.imageUrl}}" />
									</a>
								</div>
								{{/each}}
							</div>
							<div class="swiper-pagination"></div>
						</div>
					</script>
					<div id="swiper"><img src="images/swiper.jpg" width="100%"></div>
					<div class="home-icon card flex-center">
						<div class="flex-col home-icon-item">
							<a href="User_favorite.html">
								<span class="flex-center" style="background-color: #F83267;">
	                        		<img src="images/icon-collection.png"/>
	                        	</span>
								<div>收藏</div>
							</a>
						</div>
						<div class="flex-col home-icon-item">
							<a href="User_orderList.html?t=3">
								<span style="background-color: #F832B9;">
	                        		<img src="images/icon-logistics.png"/>
	                        	</span>
								<div>物流</div>
							</a>
						</div>
						<div class="flex-col home-icon-item">
							<a href="#" onclick="$.openPanel('#index-panel-left');">
								<span style="background-color: #CC68FC;">
	                        		<img src="images/icon-cate.png"/>
	                        	</span>
								<div>分类</div>
							</a>
						</div>
						<div class="flex-col home-icon-item">
							<a href="User_redPackets.html">
								<span style="background-color:red;">
	                        		<img src="images/HB.png"/>
	                        	</span>
								<div>红包</div>
							</a>
						</div>
					</div>
					<script id="ad14ListTemplate" type="text/html">
						{{each dataList.ad14 as vo}}
						<div class="flex-col list-right-line">
							<a href="{{vo.appLink}}">
								<div class="recommend-title">{{vo.title}}</div>
								<div class="recommend-info">{{vo.subtitle}}</div>
								<div class="flex-center recommend-img">
									<img class="lazyload" src="images/recommend.jpg" data-original="{{apiUrl}}{{vo.imageUrl}}" />
								</div>
							</a>
						</div>
						{{/each}}
					</script>
					<div class="card flex-center recommend" id="recommend">

					</div>
					<div class="card">
						<script id="ad15ListTemplate" type="text/html">
							<a href="{{dataList.ad15[0].appLink}}">
								<img class="lazyload" src="images/x.jpg" data-original="{{apiUrl}}{{dataList.ad15[0].imageUrl}}" />
							</a>
						</script>
						<div class="home-cate" id="home-cate"><img src="images/x.jpg"></div>
						<ul class="cate-list">
							<li class="flex-center list-right-line">
								<div class="cate-list-text">
									<div class="cate-list-title">精美花束</div>
									<div class="cate-list-info">生日祝福、纪念礼物</div>
									<div class="cate-list-btn">
										<a href="Search_index.html?keyword=精品花束">立即进入</a>
									</div>
								</div>
								<div class="flex-col cate-list-img">
									<img src="images/cate-list-img01.png" />
								</div>
							</li>
							<li class="flex-center list-right-line">
								<div class="cate-list-text">
									<div class="cate-list-title">伴手礼盒</div>
									<div class="cate-list-info">一份祝福、一份惊喜</div>
									<div class="cate-list-btn">
										<a href="Search_index.html?keyword=伴手礼盒">限量抢购</a>
									</div>
								</div>
								<div class="flex-col cate-list-img">
									<img src="images/cate-list-img02.png" />
								</div>
							</li>
							<li class="flex-center list-right-line">
								<div class="cate-list-text">
									<div class="cate-list-title">永生花</div>
									<div class="cate-list-info">鲜花永生、祝福永恒</div>
									<div class="cate-list-btn">
										<a href="Search_index.html?keyword=永生花">马上去抢</a>
									</div>
								</div>
								<div class="flex-col cate-list-img">
									<img src="images/cate-list-img03.png" />
								</div>
							</li>
							<li class="flex-center list-right-line">
								<div class="cate-list-text">
									<div class="cate-list-title">商务用花</div>
									<div class="cate-list-info">开业花蓝、庆典用花</div>
									<div class="cate-list-btn">
										<a href="Search_index.html?keyword=商务用花">立即进入</a>
									</div>
								</div>
								<div class="flex-col cate-list-img">
									<img src="images/cate-list-img04.png" />
								</div>
							</li>
						</ul>
					</div>
					<div class="buttons-tab">
						<a href="#tab1" class="tab-link button active">本周精选</a>
						<a href="#tab2" class="tab-link button">感情思绪</a>
						<a href="#tab3" class="tab-link button">脱单套路</a>
						<a href="#tab4" class="tab-link button">送花故事</a>
					</div>
					<script id="indexArticleListTemplateTab1" type="text/html">
						<div class="content-block tab-list">
							{{each dataList.article as vo}} {{if vo.articleClassId == 58}}
							<li>
								<a href="Article_detail.html?articleId={{vo.articleId}}">
									<img class="lazyload" src="images/article.jpg" data-original="{{apiUrl}}{{vo.articleLogo}}" />
									<div class="subtext">{{vo.articleTitle}}</div>
								</a>
							</li>
							{{/if}} {{/each}}
						</div>
					</script>
					<script id="indexArticleListTemplateTab2" type="text/html">
						<div class="content-block tab-list">
							{{each dataList.article as vo}} {{if vo.articleClassId == 59}}
							<li>
								<a href="Article_detail.html?articleId={{vo.articleId}}">
									<img class="lazyload" src="images/article.jpg" data-original="{{apiUrl}}{{vo.articleLogo}}" />
									<div class="subtext">{{vo.articleTitle}}</div>
								</a>
							</li>
							{{/if}} {{/each}}
						</div>
					</script>
					<script id="indexArticleListTemplateTab3" type="text/html">
						<div class="content-block tab-list">
							{{each dataList.article as vo}} {{if vo.articleClassId == 60}}
							<li>
								<a href="Article_detail.html?articleId={{vo.articleId}}">
									<img class="lazyload" src="images/article.jpg" data-original="{{apiUrl}}{{vo.articleLogo}}" />
									<div class="subtext">{{vo.articleTitle}}</div>
								</a>
							</li>
							{{/if}} {{/each}}
						</div>
					</script>
					<script id="indexArticleListTemplateTab4" type="text/html">
						<div class="content-block tab-list">
							{{each dataList.article as vo}} {{if vo.articleClassId == 61}}
							<li>
								<a href="Article_detail.html?articleId={{vo.articleId}}">
									<img class="lazyload" src="images/article.jpg" data-original="{{apiUrl}}{{vo.articleLogo}}" />
									<div class="subtext">{{vo.articleTitle}}</div>
								</a>
							</li>
							{{/if}} {{/each}}
						</div>
					</script>
					<div class="content-block">
						<div class="tabs">
							<div id="tab1" class="tab active">

							</div>
							<div id="tab2" class="tab">

							</div>
							<div id="tab3" class="tab">

							</div>
							<div id="tab4" class="tab">

							</div>
						</div>
					</div>
					<a href="Article_list.html">
						<div class="subtext-more">点击浏览更多</div>
					</a>
				</div>
			</div>
			<div class="panel-overlay"></div>
			<div class="panel panel-left panel-cover" id="index-panel-left">
				<div class="content native-scroll">
					<div class="list-block contacts-block theme-dark">
						<div class="list-group">
							<ul>
								<li class="list-group-title">类别</li>
								<li>
									<a class="close-panel" href='javascript:$.router.load("Search_index.html?keyword=精品花束");'><img src="images/sidebar01.png"></a>
								</li>
								<li>
									<a class="close-panel" href='javascript:$.router.load("Search_index.html?keyword=伴手礼盒");'><img src="images/sidebar02.png"></a>
								</li>
								<li>
									<a class="close-panel" href='javascript:$.router.load("Search_index.html?keyword=永生花");'><img src="images/sidebar03.png"></a>
								</li>
								<li>
									<a class="close-panel" href='javascript:$.router.load("Search_index.html?keyword=商务用花");'><img src="images/sidebar04.png"></a>
								</li>
							</ul>
						</div>
						<div class="list-group">
							<ul>
								<li class="list-group-title">热搜</li>
								<li id="item-list" style="padding:0.2rem;justify-content: space-between;flex-wrap: wrap;flex-direction: row;display: flex;display: -webkit-flex;width: 100%;">
									<div class="panel-item searchkey close-panel" data="七夕">七夕</div>
									<div class="panel-item searchkey close-panel" data="情人节">情人节</div>
									<div class="panel-item searchkey close-panel" data="99朵">99朵</div>
									<div class="panel-item searchkey close-panel" data="表白">表白</div>
									<div class="panel-item searchkey close-panel" data="礼盒">礼盒</div>
									<div class="panel-item searchkey close-panel" data="19朵玫瑰">19朵玫瑰</div>
									<div class="panel-item searchkey close-panel" data="生日礼物">生日礼物</div>
									<div class="panel-item searchkey close-panel" data="11朵康乃馨">11朵康乃馨</div>
									<div class="panel-item searchkey close-panel" data="父亲节">父亲节</div>
									<div class="panel-item searchkey close-panel" data="向日葵">向日葵</div>
									<div class="panel-item searchkey close-panel" data="母亲节">母情节</div>
									<div class="panel-item searchkey close-panel" data="永生花">永生花</div>
									<div class="panel-item searchkey close-panel" data="33朵红玫瑰">33朵红玫瑰</div>
									<div class="panel-item searchkey close-panel" data="白色情人节">白色情人节</div>
									<div class="panel-item searchkey close-panel" data="探望">探望</div>
									<div class="panel-item searchkey close-panel" data="道歉">道歉</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-right panel-cover" style="width:auto;background-color:#2F2E33;box-shadow:0px 0 1px rgba(0,0,0,.85);" id="panel-right">
				<div class="content-block" style="margin:0;">
					<p>
						<a href="#" class="button button-big button-success" style="width:2rem;height:2rem;line-height:2rem;">
							<span class="icon icon-share"></span>
						</a>
					</p>
					<p>
						<a href="#" class="button button-big button-success close-panel" style="width:2rem;height:2rem;line-height:2rem;">
							<span class="icon icon-message"></span>
						</a>
					</p>
				</div>
			</div>
		</div>
		<script type='text/javascript' src='js/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/store_json2.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-extend.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-city-picker.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/picLazyLoad.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/app.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/action.js' charset='utf-8'></script>
	</body>

</html>