<!DOCTYPE html>
<html>

	<head>
		<title>产品列表</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="telephone=no,email=no" name="format-detection">
		<link rel="stylesheet" href="css/sm.css">
		<link rel="stylesheet" href="css/icon.css">
		<link rel="stylesheet" href="css/app.css">
	</head>

	<body>
		<div class="page-group">
			<!-- page 容器 -->
			<div class="page" id="search_index">
				<!-- 标题栏 -->
				<header class="bar bar-nav">
					<a class="button button-link button-nav pull-left back" href="#" style="position:absolute;">
						<span class="icon icon-left"></span>
					</a>
					<div class="searchbar">
						<div class="search-input">
							<label class="icon icon-search" for="search"></label>
							<input type="search" id="search" placeholder="输入关键字...">
						</div>
						<a class="button button-link button-nav pull-right open-panel" style="position:absolute;right:0;z-index:9999;" data-panel="#search-panel-right">
							<span class="icon icon-menu"></span>
						</a>
					</div>
				</header>

				<!-- 工具栏 -->
				<nav class="bar bar-tab">
					<a class="tab-item" data-no-cache="false" id="nav_index" href="Index_index.html">
						<span class="icon icon-home"></span>
						<span class="tab-label">首页</span>
					</a>
					<a class="tab-item" data-no-cache="false" id="nav_search" href="Search_index.html">
						<span class="icon icon-menu"></span>
						<span class="tab-label">所有产品</span>
					</a>
					<a class="tab-item" data-no-cache="true" id="nav_cart" href="Cart_index.html">
						<span class="icon icon-cart"></span>
						<span class="tab-label">购物车</span>
						<span class="badge" style="display: none;"></span>
					</a>
					<a class="tab-item" data-no-cache="true" id="nav_user" href="User_index.html">
						<span class="icon icon-me"></span>
						<span class="tab-label">个人中心</span>
					</a>
				</nav>
				<div class="my_menu_s">
					<ul>
						<li>
							<a href="#" id="gridIcon" class="switch">
								<i class="icon_switch"></i>
							</a>
						</li>
						<li>
							<a href="#" class="state_switch_u" id="orderByPrice">
								价格
								<i class="icon_sort"></i>
							</a>
						</li>
						<li>
							<a href="#" class="state_switch" id="orderBySale">
								销量
								<i class=" icon_sort_single"></i>
							</a>
						</li>
						<li>
							<a href="#" class="state_switch" id="orderByComments">
								评价
								<i class="icon_sort_single"></i>
							</a>
						</li>
					</ul>
				</div>
				<!-- 这里是页面内容区 -->
				<div class="content infinite-scroll" data-distance="100">
					<div class="grid" id="goodsList_content">
						<div class="mark" id="mark">
							<div class="mark_content">
								<div class="preloader"></div>
								<div>正在努力为您加载</div>
							</div>
						</div>
						<script id="goodsListTemplate" type="text/html">
							{{each dataList}}
							<li>
								<a href="Detail_index.html?goodsId={{$value.goodsId}}" class="item-link item-content">
									<div class="item-media">
										<img class="lazyload" src="images/loading-800.png" data-original="{{apiUrl}}{{$value.goodsLogo}}" width="80">
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">{{$value.goodsName}} {{$value.goodsSub}}</div>
										</div>
										<div class="item-text">
											<div><span class="txt_color_red price">&yen; {{$value.goodsPrice}}</span><span class="old_price">{{$value.marketPrice}}</span></div>
											<div><span class="evaluate">已售{{$value.saleCount}}件</span></div>
										</div>
									</div>
								</a>
							</li>
							{{/each}}
						</script>
						<ul id="goodsList">
						</ul>
						<div class="infinite-scroll-preloader">
							<div class="preloader"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-overlay"></div>
			<div class="panel panel-right panel-cover" id="search-panel-right">
				<div class="content native-scroll">
					<div class="list-block contacts-block theme-dark">
						<div class="list-group">
							<ul>
								<li class="list-group-title">类别</li>
								<li><a class="searchkey close-panel" data="精品花束"><img src="images/sidebar01.png"></a></li>
								<li><a class="searchkey close-panel" data="伴手礼盒"><img src="images/sidebar02.png"></a></li>
								<li><a class="searchkey close-panel" data="永生花"><img src="images/sidebar03.png"></a></li>
								<li><a class="searchkey close-panel" data="商务用花"><img src="images/sidebar04.png"></a></li>
							</ul>
						</div>
						<div class="list-group">
							<ul>
								<li class="list-group-title">热搜</li>
								<li id="item-list" style="padding:0.2rem;justify-content: space-between;flex-wrap: wrap;flex-direction: row;display: flex;display: -webkit-flex;width: 100%;">
									<div class="panel-item searchkey close-panel" data="七夕">七夕</div>
									<div class="panel-item searchkey close-panel" data="情人节">情人节</div>
									<div class="panel-item searchkey close-panel" data="99朵">99朵</div>
									<div class="panel-item searchkey close-panel" data="表白">表白</div>
									<div class="panel-item searchkey close-panel" data="礼盒">礼盒</div>
									<div class="panel-item searchkey close-panel" data="19朵玫瑰">19朵玫瑰</div>
									<div class="panel-item searchkey close-panel" data="生日礼物">生日礼物</div>
									<div class="panel-item searchkey close-panel" data="11朵康乃馨">11朵康乃馨</div>
									<div class="panel-item searchkey close-panel" data="父亲节">父亲节</div>
									<div class="panel-item searchkey close-panel" data="向日葵">向日葵</div>
									<div class="panel-item searchkey close-panel" data="母亲节">母情节</div>
									<div class="panel-item searchkey close-panel" data="永生花">永生花</div>
									<div class="panel-item searchkey close-panel" data="33朵红玫瑰">33朵红玫瑰</div>
									<div class="panel-item searchkey close-panel" data="白色情人节">白色情人节</div>
									<div class="panel-item searchkey close-panel" data="探望">探望</div>
									<div class="panel-item searchkey close-panel" data="道歉">道歉</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type='text/javascript' src='js/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/store_json2.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-extend.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-city-picker.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/picLazyLoad.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/app.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/action.js' charset='utf-8'></script>

	</body>

</html>