<!DOCTYPE html>
<html>

	<head>
		<title>商品收藏</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="telephone=no,email=no" name="format-detection">
		<link rel="stylesheet" href="css/sm.css">
		<link rel="stylesheet" href="css/icon.css">
		<link rel="stylesheet" href="css/app.css">
	</head>

	<body>
		<div class="page-group">
			<!-- page 容器 -->
			<div class="page" id="user_favorite">
				<header class="bar bar-nav">
					<a class="button button-link button-nav pull-left back" href="#">
						<span class="icon icon-left"></span>
					</a>
					<h1 class="title">我的收藏</h1>
				</header>
				<!-- 这里是页面内容区 -->
				<div class="content infinite-scroll" data-distance="100">
					<div class="mark" id="mark">
						<div class="mark_content">
							<div class="preloader"></div>
							<div>正在努力为您加载</div>
						</div>
					</div>
					<div id="favoriteEmptyContent" class="shopcart_none" style="display:none;">
						<i class="icon"></i>
						<p class="no_p_title">您的收藏夹还没有收藏任何哦商品！</p>
						<div class="mod_btns">
							<a href="User_index.html" class="mod_btn">个人中心</a>
							<a href="Search_index.html" class="mod_btn">立即抢购</a>
						</div>
					</div>
					<div class="list-block media-list">
						<script id="user_favorite_content" type="text/html">
							{{each dataList as vo}}
							<li>
								<a href="Detail_index.html?goodsId={{vo.goodsId}}" class="item-link item-content">
									<div class="item-media">
										<img class="lazyload" src="images/loading-160.png" data-original="{{apiUrl}}{{vo.goodsLogo}}" width="80">
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">{{vo.goodsName}}{{vo.goodsSub}}</div>
										</div>
										<div class="item-text">
											<div><span class="txt_color_red price">&yen; {{vo.goodsPrice}}</span></div>
											<div><span class="evaluate">已售 {{vo.saleCount}}件</span></div>
										</div>
									</div>
								</a>
							</li>
							{{/each}}
						</script>
						<ul id="user_favorite_list">

						</ul>
						<div class="infinite-scroll-preloader">
							<div class="preloader"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type='text/javascript' src='js/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/store_json2.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-extend.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-city-picker.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/picLazyLoad.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/app.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/action.js' charset='utf-8'></script>
	</body>

</html>