<!DOCTYPE html>
<html>

	<head>
		<title>订单列表</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="telephone=no,email=no" name="format-detection">
		<link rel="stylesheet" href="css/sm.css">
		<link rel="stylesheet" href="css/icon.css">
		<link rel="stylesheet" href="css/app.css">
	</head>

	<body>
		<div class="page-group">
			<!-- page 容器 -->
			<div class="page" id="user_orderlist">
				<header class="bar bar-nav" style="height: auto;">
					<a class="button button-link button-nav pull-left back" href="#">
						<span class="icon icon-left"></span>
					</a>
					<h1 class="title">订单列表</h1>
					<a class="button button-link button-nav pull-right" href="User_index.html">
						<span class="icon icon-me"></span>
					</a>
					<div class="buttons-tab">
						<a href="#" data-num="1" class="tab-link button active">全部</a>
						<a href="#" data-num="2" class="tab-link button">待付款</a>
						<a href="#" data-num="4" class="tab-link button">待发货</a>
						<a href="#" data-num="3" class="tab-link button">待收货</a>
						<a href="#" data-num="5" class="tab-link button">待评价</a>
					</div>
				</header>
				<!-- 这里是页面内容区 -->

				<div class="content infinite-scroll" data-distance="100">
					<div class="mark" id="mark">
						<div class="mark_content">
							<div class="preloader"></div>
							<div>正在努力为您加载</div>
						</div>
					</div>

					<div id="orderListyEmptyContent" class="shopcart_none" style="display:none;">
						<i class="icon"></i>
						<p class="no_p_title">没有符合条件的订单</p>
						<div class="mod_btns">
							<a href="User_index.html" class="mod_btn">个人中心</a>
							<a href="Search_index.html" class="mod_btn">立即抢购</a>
						</div>
					</div>

					<script id="orderListSpt" type="text/html">
						{{each dataList as vo}}
						<ul>
							<li>
								<a href="User_orderDetail.html?orderId={{vo.orderId}}" class="item-link item-content">
									<div class="item-inner order-no">
										<div class="item-title">{{vo.orderCode}}</div>
										<span class="sub txt_color_red ">{{vo.orderStatusTxt}}</span>
									</div>
								</a>
							</li>
							{{each vo.itmesList as value}}
							<li>
								<a href="User_orderDetail.html?orderId={{value.orderId}}" class="item-link item-content">
									<div class="item-media"><img src="{{value.goodsLogoUrl}}" width="60"></div>
									<div class="item-inner order_content">
										<div class="item-title-row">
											<div class="item-title">{{value.goodsName}}</div>
										</div>
										<div class="item-text">
											<div><span class="txt_color_red price">￥:{{value.goodsPrice}}</span> × {{value.goodsQuantity}}</div>
											<div><span class="evaluate"></span></div>
										</div>
									</div>
								</a>
							</li>
							{{/each}}
							<li>
								<div class="item-inner order_content totalprice">
									<div>共{{vo.itmesList.length}}件商品 合计:￥{{vo.totalPrice}}(含运费￥{{vo.expressPrice}})</div>
								</div>
							</li>
							<li>
								<div class="item-inner order_content buttons">
									{{if vo.orderStatusId == 1}}
									<a href="#" data-id="{{vo.orderId}}" class="button button-light cancelOrder">取消订单</a>
									<a href="User_orderDetail.html?orderId={{vo.orderId}}" class="button button-success">去支付</a>
									{{/if}} {{if vo.orderStatusId == 2}}
									<a href="#" class="button button-light remindShip">提醒发货</a>
									<!--<a href="#" class="button button-warning">投诉</a>-->
									{{/if}} {{if vo.orderStatusId == 3}}
									<a href="#" data-id="{{vo.orderId}}" class="button button-warning receiptOrder">确认收货</a>
									{{/if}} {{if vo.orderStatusId == 4}}
									<a href="User_orderEvaluate.html?orderId={{vo.orderId}}" class="button button-light">立即评价</a>
									{{/if}} {{if vo.orderStatusId == 9 || vo.orderStatusId == 5 || vo.orderStatusId == 6 || vo.orderStatusId == 7 || vo.orderStatusId == 8}}
									<a href="User_orderDetail.html?orderId={{vo.orderId}}" class="button button-light">查看详情</a>
									{{/if}}
								</div>
							</li>
						</ul>
						{{/each}}
					</script>

					<div id="orderListDom" class="list-block media-list">

					</div>
					<div class="infinite-scroll-preloader">
						<div class="preloader"></div>
					</div>
				</div>
			</div>
		</div>
		<script type='text/javascript' src='js/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/store_json2.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-extend.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-city-picker.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/picLazyLoad.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/app.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/action.js' charset='utf-8'></script>
	</body>

</html>