<!DOCTYPE html>
<html>

	<head>
		<title>修改收货地址</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="telephone=no,email=no" name="format-detection">
		<link rel="stylesheet" href="css/sm.css">
		<link rel="stylesheet" href="css/icon.css">
		<link rel="stylesheet" href="css/app.css">
	</head>

	<body>
		<div class="page-group">
			<!-- page 容器 -->
			<div class="page" id="user_addressedit">
				<header class="bar bar-nav">
					<a class="button button-link button-nav pull-left back" href="#">
						<span class="icon icon-left"></span>
					</a>
					<h1 class="title">修改收货地址</h1>
				</header>
				<!-- 这里是页面内容区 -->
				<div class="content">
                    <script id="addressEditTemplate" type="text/html">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">姓名</div>
                                        <div class="item-input">
                                            <input type="text" id="name" value="{{detail.accepterName}}" placeholder="姓名">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">手机</div>
                                        <div class="item-input">
                                            <input type="number" id="mobile" value="{{detail.accepterMobile}}" placeholder="手机号码">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">城市</div>
                                        <div class="item-input">
                                            <input type="text" id='edit-city-picker' value="{{detail.accepterProvinceName}} {{detail.accepterCityName}} {{detail.accepterDistrictName}}" placeholder="城市" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">街道</div>
                                        <div class="item-input">
                                            <input type="text" id="street" value="{{detail.street}}" placeholder="街道">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </script>
                    <div class="list-block" id="addressEdit"></div>
					<div class="content-block">
						<div class="row">
							<div class="col-100">
								<a href="#" id="btn_address_edit" class="button button-big button-fill button-success">提交</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type='text/javascript' src='js/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/store_json2.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-extend.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-city-picker.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/picLazyLoad.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/app.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/action.js' charset='utf-8'></script>
	</body>

</html>