<!DOCTYPE html>
<html>

	<head>
		<title>充值记录</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="telephone=no,email=no" name="format-detection">
		<link rel="stylesheet" href="css/sm.css">
		<link rel="stylesheet" href="css/icon.css">
		<link rel="stylesheet" href="css/app.css">
	</head>

	<body>
		<div class="page-group">
			<!-- page 容器 -->
			<div class="page" id="user_chargerecod">
				<!-- 标题栏 -->
				<header class="bar bar-nav">
					<a class="button button-link button-nav pull-left back" href="#">
						<span class="icon icon-left"></span>
					</a>
					<h1 class="title">充值记录</h1>
				</header>
				<!-- 这里是页面内容区 -->
				<div class="content">
					<div class="list-block media-list">
						<script id="chargeRecodSpt" type="text/html">
							{{each dataList as vo}}
								<li>
									<a href="User_chargeRecodDetail.html?id={{vo.chargeId}}" class="item-link item-content">
										<div class="item-inner">
											<div class="item-title-row">
												<div>充值金额：￥ {{vo.totalPrice}}</div>
												<div class="recharge-time">{{vo.addTime}}</div>
											</div>
											
											<div>支付方式：{{vo.payTypeTxt}}
												<span class="recharge-pay-status">{{vo.orderStatusTxt}}</span>
											</div>
										</div>
									</a>
								</li>
							{{/each}}
						</script>
						<ul id="chargeRecodDom">
							
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script type='text/javascript' src='js/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/store_json2.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-extend.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-city-picker.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/picLazyLoad.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/app.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/action.js' charset='utf-8'></script>
	</body>

</html>