<!DOCTYPE html>
<html>

	<head>
		<title>收货地址管理</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="telephone=no,email=no" name="format-detection">
		<link rel="stylesheet" href="css/sm.css">
		<link rel="stylesheet" href="css/icon.css">
		<link rel="stylesheet" href="css/app.css">
	</head>

	<body>
		<div class="page-group">
			<!-- page 容器 -->
			<div class="page" id="user_addresslist">
				<header class="bar bar-nav">
					<a class="button button-link button-nav pull-left back" href="#">
						<span class="icon icon-left"></span>
					</a>
					<h1 class="title">收货地址管理</h1>
					<a class="button button-link button-nav pull-right" href="User_addressAdd.html">
						<span class="mui-icon mui-icon-plus"></span>
					</a>
				</header>
				<!-- 这里是页面内容区 -->
				<div class="content">
					<div class="list-block media-list">
						<script id="addresslist_m" type="text/html">
							{{each dataList}}
							<li>
								<div class="menu">
									<a href="User_addressEdit.html?accepterId={{$value.accepterId}}">
                                        <div class="edit"><span class="icon icon-edit"></span></div>
                                    </a>
									<div data-id="{{$value.accepterId}}" class="del"><span class="icon icon-remove"></span></div>
								</div>
								<label class="label-checkbox item-content">
		                            <div class="item-inner">
		                                <div class="item-subtitle">{{$value.accepterName}} {{$value.accepterMobile}}</div>
		                                <div class="item-text">{{$value.accepterAddress}}</div>
		                            </div>
		                        </label>
							</li>
							{{/each}}
						</script>
						<script id="addresslist_c" type="text/html">
							{{each dataList}}
							<li>
								<div class="menu">
                                    <a href="User_addressEdit.html?accepterId={{$value.accepterId}}">
                                        <div class="edit"><span class="icon icon-edit"></span></div>
                                    </a>
									<div data-id="{{$value.accepterId}}" class="del"><span class="icon icon-remove"></span></div>
								</div>
								<label id="orderAddressScl" class="label-checkbox item-content" data-address="{{$value.accepterAddress}}" data-city="{{$value.accepterCityName}}" data-district="{{$value.accepterDistrictName}}" data-mobile="{{$value.accepterMobile}}" data-name="{{$value.accepterName}}" data-province="{{$value.accepterProvinceName}}" data-street="{{$value.street}}">
									<input type="radio" name="my-radio">
		                            <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
		                            <div class="item-inner">
		                                <div class="item-subtitle">{{$value.accepterName}} {{$value.accepterMobile}}</div>
		                                <div class="item-text">{{$value.accepterAddress}}</div>
		                            </div>
		                        </label>
							</li>
							{{/each}}
						</script>
						<ul id="addresslist"></ul>
					</div>
				</div>
			</div>
		</div>
		<script type='text/javascript' src='js/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/store_json2.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-extend.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-city-picker.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/picLazyLoad.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/app.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/action.js' charset='utf-8'></script>
	</body>

</html>