<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="telephone=no,email=no" name="format-detection">
		<link rel="stylesheet" href="css/sm.css">
		<link rel="stylesheet" href="css/icon.css">
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<div class="page-group">
			<div class="page" id="user_signed">
				<header class="bar bar-nav">
					<a class="button button-link button-nav pull-left back" href="#">
						<span class="icon icon-left"></span>
					</a>
					<h1 class="title">签到</h1>
				</header>
				<div class="content native-scroll">
					<img src="images/signed-bg.png"/>
					<div class="content-box">
						<div class="flex-center head-btn">
							<a href="#" class="flex-col">今日签到</a>
							<a href="#" class="flex-col">积分商城</a>
						</div>
						<div class="signed-box">
							<div class="signed-head flex-center">
								<div class="flex-col">2016-08-01</div>
								<div class="flex-col">积分总额：286486</div>
							</div>
							<ul id="userSignedList">
								<li class="list-right-line">日</li>
								<li class="list-right-line">一</li>
								<li class="list-right-line">二</li>
								<li class="list-right-line">三</li>
								<li class="list-right-line">四</li>
								<li class="list-right-line">五</li>
								<li class="list-right-line">六</li>
								<script id="signedList" type="text/html">
									{{each timeList as vo}}
										<li class="list-right-line">
											<span class="flex-center {{if vo.today == 1}}today{{/if}}">{{vo.time}}</span>
											<div class="{{if vo.signed >= 1}}continue-signed{{/if}}">
												<span class="signed-txt">{{vo.int}}</span>
											</div>
										</li>
									{{/each}}
								</script>
							</ul>
						</div>	
						<div class="signed-rules">
							<div class="signed-rules-head">活动规则</div>
							<div class="signed-rules-info">
								<span></span>
								<p>每天签到可获得5积分，连续签到7天、15天可分别额外获得300积分、900积分。</p>
							</div>
							<div class="signed-rules-info">
								<span></span>
								<p>我订花有权取消作弊或非法途径获得的积分以及签到资格。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type='text/javascript' src='js/zepto.min.js' charset='utf-8'></script>
	<script type='text/javascript' src='js/sm.min.js' charset='utf-8'></script>
	<script type='text/javascript' src='js/store_json2.min.js' charset='utf-8'></script>
	<script type='text/javascript' src='js/sm-extend.min.js' charset='utf-8'></script>
	<script type='text/javascript' src='js/sm-city-picker.min.js' charset='utf-8'></script>
	<script type='text/javascript' src='js/picLazyLoad.js' charset='utf-8'></script>
	<script type='text/javascript' src='js/app.js' charset='utf-8'></script>
	<script type='text/javascript' src='js/action.js' charset='utf-8'></script>
</html>
