<!DOCTYPE html>
<html>

	<head>
		<title>评价</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="telephone=no,email=no" name="format-detection">
		<link rel="stylesheet" href="css/sm.css">
		<link rel="stylesheet" href="css/icon.css">
		<link rel="stylesheet" href="css/app.css">
	</head>

	<body>
		<div class="page-group">
			<!-- page 容器 -->
			<div class="page" id="user_orderevaluate">
				<header class="bar bar-nav">
					<a id="backHref" class="button button-link button-nav pull-left back" href="#">
						<span class="icon icon-left"></span>
					</a>
					<h1 class="title">评价</h1>
					<a class="button button-link button-nav pull-right" href="User_index.html">
						<span class="icon icon-me"></span>
					</a>
				</header>
				<!-- 这里是页面内容区 -->
				<div class="content">
					<div class="mark" id="mark">
						<div class="mark_content">
							<div class="preloader"></div>
							<div>正在努力为您加载</div>
						</div>
					</div>
					<script id="orderDetailTemplatee" type="text/html">
						<ul>
							<li>
								<a href="#" class="item-link item-content">
									<div class="item-inner order-no">
										<div class="item-title">{{order.orderCode}}</div>
										<span class="sub txt_color_red ">{{order.orderStatusTxt}}</span>
									</div>
								</a>
							</li>
							{{each order.itemList as vo}}
							<li>
								<a href="Detail_index.html?goodsId={{vo.goodsId}}" class="item-link item-content">
									<div class="item-media">
										<img src="{{vo.goodsLogoUrl}}" width="60">
									</div>
									<div class="item-inner order_content">
										<div class="item-title-row">
											<div class="item-title">{{vo.goodsName}}</div>
										</div>
										<div class="item-text">
											<div><span class="txt_color_red price">￥:{{vo.goodsPrice}}</span> × {{vo.goodsQuantity}}</div>
											<div><span class="evaluate"></span></div>
										</div>
									</div>
								</a>
							</li>
							{{/each}}
							<li>
								<div class="item-inner order_content totalprice">
									<div>共{{order.itemList.length}}件商品 合计:￥ {{order.totalPrice}}(含运费￥{{order.expressPrice}})</div>
								</div>
							</li>
						</ul>
					</script>
					<div id="orderDetail" class="list-block media-list"></div>
					<div class="list-block media-list">
						<ul>
							<li>
								<label class="label-checkbox item-content">
	            					<input type="radio" name="commentLevel" value="5" ch>
						            <div class="item-media">
						            	<i class="icon icon-form-checkbox"></i>
						            </div>
						            <div class="item-inner" style="line-height:1.3rem;">
						              <div class="item-title-row">
						                <div class="item-title">好评</div>
						                <div class="item-after"><p style="margin:0;color:#FFA500;" class="common-num-5"></p></div>
						              </div>
						            </div>
          						</label>
							</li>
							<li>
								<label class="label-checkbox item-content">
	            					<input type="radio" name="commentLevel" value="3">
						            <div class="item-media">
						            	<i class="icon icon-form-checkbox"></i>
						            </div>
						            <div class="item-inner" style="line-height:1.3rem;">
						              <div class="item-title-row">
						                <div class="item-title">中评</div>
						                <div class="item-after"><p style="margin:0;color:#FFA500;" class="common-num-3"></p></div>
						              </div>
						            </div>
          						</label>
							</li>
							<li>
								<label class="label-checkbox item-content">
	            					<input type="radio" name="commentLevel" value="1">
						            <div class="item-media">
						            	<i class="icon icon-form-checkbox"></i>
						            </div>
						            <div class="item-inner" style="line-height:1.3rem;">
						              <div class="item-title-row">
						                <div class="item-title">差评</div>
						                <div class="item-after"><p style="margin:0;color:#FFA500;" class="common-num-1"></p></div>
						              </div>
						            </div>
          						</label>
							</li>
						</ul>
					</div>
					<div class="tickling">
						<textarea rows="5" id="content" placeholder="请输入评论"></textarea>
					</div>
					<div class="content-block">
						<div class="row">
							<div class="col-100">
								<a id="comment-submit" href="#" class="button button-big button-fill button-success">提交</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type='text/javascript' src='js/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/store_json2.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-extend.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-city-picker.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/picLazyLoad.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/app.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/action.js' charset='utf-8'></script>
	</body>

</html>