<!DOCTYPE html>
<html>

	<head>
		<title>足迹</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="telephone=no,email=no" name="format-detection">
		<link rel="stylesheet" href="css/sm.css">
		<link rel="stylesheet" href="css/icon.css">
		<link rel="stylesheet" href="css/app.css">
	</head>

	<body>
		<div class="page-group">
			<!-- page 容器 -->
			<div class="page" id="user_browsinghistory">
				<header class="bar bar-nav">
					<a class="button button-link button-nav pull-left back" href="#">
						<span class="icon icon-left"></span>
					</a>
					<h1 class="title">我的足迹</h1>
					<a class="button button-link button-nav pull-right del-history" href="#">
						<span class="icon icon-remove"></span>
					</a>
				</header>
				<!-- 这里是页面内容区 -->
				<div class="content infinite-scroll" data-distance="100">
					<div id="historyEmptyContent" class="shopcart_none" style="display:none;">
						<i class="icon"></i>
						<p class="no_p_title">您还没有查看过任何商品！</p>
						<div class="mod_btns">
							<a href="User_index.html" class="mod_btn">个人中心</a>
							<a href="Search_index.html" class="mod_btn">立即抢购</a>
						</div>
					</div>
					<div id="history-list" class="list-block media-list">
						<script id="user_history_con" type="text/html">
							{{each userHistory as vo}}
								<li>
									<a href="Detail_index.html?goodsId={{vo.goodsId}}" class="item-link item-content">
										<div class="item-media">
											<img src="{{vo.goodsLogo}}" width="80">
										</div>
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title">{{vo.goodsName}}{{vo.goodsSub}}</div>
											</div>
											<div class="item-text">
												<div><span class="txt_color_red price">￥ {{vo.goodsPrice}}</span></div>
												<div><span class="evaluate">已售{{vo.saleCount}}件</span></div>
											</div>
										</div>
									</a>
								</li>
							{{/each}}
						</script>
						<ul id="user_history">
								
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script type='text/javascript' src='js/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/store_json2.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-extend.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-city-picker.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/picLazyLoad.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/app.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/action.js' charset='utf-8'></script>
	</body>

</html>