<!DOCTYPE html>
<html>

	<head>
		<title>订单详情</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="telephone=no,email=no" name="format-detection">
		<link rel="stylesheet" href="css/sm.css">
		<link rel="stylesheet" href="css/icon.css">
		<link rel="stylesheet" href="css/app.css">
	</head>

	<body>
		<div class="page-group">
			<!-- page 容器 -->
			<div class="page" id="user_orderdetail">
				<header class="bar bar-nav">
					<a id="backHref" class="button button-link button-nav pull-left back" href="#">
						<span class="icon icon-left"></span>
					</a>
					<h1 class="title">订单详情</h1>
					<a class="button button-link button-nav pull-right" href="User_index.html">
						<span class="icon icon-me"></span>
					</a>
				</header>
				<script id="orderDetailNavTemplate" type="text/html">
					{{if order.payStatusId == 1}}
					<a href="#" data-id="{{order.orderId}}" class="button button-light cancelOrder">取消订单</a>
					<a href="#" data-id="{{order.orderId}}" class="button button-success payButton">立即支付</a>
					{{/if}} {{if order.orderStatusId == 2}}
					<a href="#" class="button button-light remindShip">提醒发货</a>
					<!--<a href="#" class="button button-warning">投诉</a>-->
					{{/if}} {{if order.orderStatusId == 3}}
					<a href="#" data-id="{{order.orderId}}" class="button button-warning receiptOrder">确认收货</a>
					{{/if}} {{if order.orderStatusId == 4}}
					<a href="User_orderEvaluate.html?orderId={{order.orderId}}" class="open-indicator button button-light">立即评价</a>
					{{/if}} {{if order.orderStatusId == 9 || order.orderStatusId == 5 || order.orderStatusId == 6 || order.orderStatusId == 7 || order.orderStatusId == 8}}
					<a href="Search_index.html" class="button button-light">再去逛逛</a>
					{{/if}}
				</script>
				<nav id="orderDetailNav" class="bar bar-tab buttons"></nav>
				<!-- 这里是页面内容区 -->
				<div class="content">
					<div class="mark" id="mark">
							<div class="mark_content">
								<div class="preloader"></div>
								<div>正在努力为您加载</div>
							</div>
						</div>
					<script id="orderDetailTemplate" type="text/html">
						<ul>
							<li style="background:#5D6A84;">
								<div id="orderDetailOrderId" class="item-inner info" data-oid="{{order.orderId}}">
									<div class="delivery-info-icon">
										<span class="mui-icon mui-icon-info"></span>
									</div>
									<div class="delivery-info">
										<div class="status">{{order.orderStatusTxt}}</div>
										<div>订单总金额(含运费):￥ {{order.totalPrice}}</div>
										<div>运费:￥{{order.expressPrice}}</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-inner info">
									<div class="acpt-info-icon">
										<span class="mui-icon mui-icon-location"></span>
									</div>
									<div class="acpt-info">
										<div class="status">收货人：{{order.accepterName}}<span class="number">{{order.accepterMobile}}</span></div>
										<div>收货地址：{{order.address}}</div>
										<div>送达时间：{{order.arrivedTime}}</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-inner info">
									<div class="acpt-info-icon">
										<span class="mui-icon mui-icon-map"></span>
									</div>
									<div class="acpt-info">
										<div class="status">物流信息</div>
										<div class="txt-g">{{order.deliveryStatusTxt}}</div>
									</div>
								</div>
							</li>
						</ul>
						<ul>
							<li>
								<a href="#" class="item-link item-content">
									<div class="item-inner order-no">
										<div class="item-title">{{order.orderCode}}</div>
										<span class="sub txt_color_red ">{{order.orderStatusTxt}}</span>
									</div>
								</a>
							</li>
							{{each order.itemList as vo}}
							<li>
								<a href="Detail_index.html?goodsId={{vo.goodsId}}" class="item-link item-content">
									<div class="item-media">
										<img src="{{vo.goodsLogoUrl}}" width="60">
									</div>
									<div class="item-inner order_content">
										<div class="item-title-row">
											<div class="item-title">{{vo.goodsName}}</div>
										</div>
										<div class="item-text">
											<div><span class="txt_color_red price">￥:{{vo.goodsPrice}}</span> × {{vo.goodsQuantity}}</div>
											<div><span class="evaluate"></span></div>
										</div>
									</div>
								</a>
							</li>
							{{/each}}
							<li>
								<div class="item-inner order_content totalprice">
									<div>共{{order.itemList.length}}件商品 合计:￥ {{order.totalPrice}}(含运费￥{{order.expressPrice}})</div>
								</div>
							</li>
						</ul>
					</script>
					<div id="orderDetail" class="list-block media-list"></div>
				</div>
			</div>
		</div>
		<script type='text/javascript' src='js/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/store_json2.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-extend.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/sm-city-picker.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/picLazyLoad.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/app.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/action.js' charset='utf-8'></script>
	</body>

</html>