/*reset*/
html{color:#333;}
body{font-size:12px;line-height:1.8em;font-family:Tahoma,Arial;background:#eee;}
html,body{height:100%;background-color:#ddd;overflow:hidden;overflow-y: auto;}
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, th, td, dl, dt, dd,pre{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
img{border:none;}
address, caption, cite, code, dfn, em, th, var, b, i{font-style:normal;font-weight:normal;}
li{list-style-image:none;list-style-position: outside;list-style-type:none;}
caption, th{text-align:left;}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;vertical-align:baseline;zoom:1;}
input, textarea, select, button{font-size: 12px;font-weight:inherit; vertical-align:middle;outline:none;}
input[type=radio], input[type=checkbox]{vertical-align: middle; margin-right:5px;}
textarea{resize:none;}
input[type=text],input[type=password],textarea, input[type=text]:focus, input[type=password]:focus, textarea:focus, button, button:focus, input[type=number]:focus,input[type=number]{appearance: none;appearance:none;-webkit-appearance:none;-tap-highlight-color: rgba(0, 0, 0, 0);
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
/*base*/
a{text-decoration:none; color:#333;}
a:focus{outline-style:none;outline-width:0;}
a:link, a:visited, a:active{text-decoration:none;}
a:hover{text-decoration:none;}
.underline{text-decoration:underline!important;}
.bold{font-weight:bold;}
.floatleft{float:left!important;}
.floatright{float:right!important;}
.aligncenter{text-align:center;}
.alignright{text-align:right!important;}
.alignleft{text-align:left!important;}
.forcewrap{word-wrap:break-word;word-break:break-all;text-overflow:hidden;overflow:hidden;}
.borderless{border: none;}
label.checkbox,label.radio,label.text{padding-left:4px;vertical-align:top;}
.breakword{word-wrap:break-word;}
/*margin*/
.nomar{margin:0!important;}
.mar-auto{margin:0 auto!important;}
.nomar-t{margin-top:0!important}
.nomarl{margin-left:0!important;}
.nomarr{margin-right:0!important;}
.noboder{border:0!important;}
.mart5{margin-top:5px!important;}
.mart10{margin-top:10px!important;}
.mart15{margin-top:15px!important;}
.mart20{margin-top:20px!important;}
.mart30{margin-top:30px!important;}
.mart40{margin-top:40px!important;}
.mart50{margin-top:50px!important;}
.mart70{margin-top:70px!important;}
.mart80{margin-top:80px!important;}
.marl10{margin-left:10px!important;}
.marr5{margin-right:5px!important;}
.marr10{margin-right:10px!important;}
.marr15{margin-right:15px!important;}
.marr35{margin-right:35px!important;}
.marl5{margin-left:5px!important;}
.marl15{margin-left:15px!important;}
.marl20{margin-left:20px!important;}
.marl30{margin-left:30px!important;}
.color-black{color:#000;}
.color-white{color:#fff!important;}
.floatleft{float: left;}
.floatright{float: right;}
/*width*/
.width-48{width:48px;color:#06c;text-indent:0;}
/*padding*/
.nopadding{padding:0!important;}
.p-top5{padding-top:5px!important;}
.p-top10{padding-top:10px!important;}
.p-top15{padding-top:15px!important;}
.p-top20{padding-top:20px!important;}
.p-top30{padding-top:30px!important;}
.p-top40{padding-top:40px!important;}
.p-top50{padding-top:50px!important;}
.p-top80{padding-top:80px!important;}
.p-bt10{padding-bottom:10px!important;}
.p-bt20{padding-bottom:20px!important;}
/*font-size*/
.font9{font-size:9px!important;}
.font12{font-size:12px!important;}
.font13{font-size:13px!important;}
.font14{font-size:14px!important;}
.font15{font-size:15px!important;}
.font16{font-size:16px!important;}
.font17{font-size:17px!important;}
.font18{font-size:18px!important;}
.font20{font-size:20px!important;}
.font22{font-size:22px!important;}
.font25{font-size:24px!important;}
.font24{font-size:25px!important;}
.font30{font-size:30px!important;}
.l_th{text-decoration:line-through!important;}
.txt_hidden,.list_li p,.mid_name{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:inline-block;}
/*.list_li p span{float:left;white-space:nowrap;word-break:inherit;}
.list_li p .name:first-child{margin-left:10px;}*/
.name{color:#06c;text-indent:0;}
.block{display: block;}
.goon{cursor: pointer;}
.more{color:#0066cc;padding:0 10px;display:inline-block;}
.color-3{color:#333;}
.color-4{color:#444;}
.color-6{color:#666!important;}
.color-8{color:#888;}
.color-9{color:#999;}
.color-a{color:#aaa;}
.color-c{color:#ccc!important;}
.t_croose,.t_veto,.t_wait{color:#1b8d1d;padding-left:2px;}
.t_veto{color:#ee1e1e;}
.t_wait{color:#888}
.color-info{color:#f19149;}
.keywords{color:#df4341;}
.Important,.Important td,.Important th{color:#eb6100!important;}
.error,.error span{color:#bd2c00!important;}
.nobg{background:none!important;}
.nobgimg{background-image:none!important;}
.bgwhite{background:#fff;}
/*.mask,.loading{position:absolute;top:0;left:0;right:0;bottom:0;background:#000;opacity:0.5;z-index:50;}*/
/*.loading{width:50px;height:50px;line-height:50px;text-align:center;left:50%;top:50%;right:inherit;bottom:inherit;margin:-25px 0 0 -25px;opacity:0.3;font-size:30px;color:#ccc;border-radius:4px;-webkit-border-radius:4px;}*/
/*.loading i{-webkit-animation:spin 700ms infinite linear;animation:spin 700ms infinite linear;}*/
@-webkit-keyframes spin{
	0%{-webkit-transform:rotate(0deg)}
	100%{-webkit-transform:rotate(359deg)}
}
/*clear*/
.clear{clear:both;line-height:0;height:0;font-size:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1}
.userimg,span.userimg{border-radius:50%;display:inline-block;padding:0;width:30px;height:30px;}
.userimg img{border-radius:50%;width:30px;height:30px;}
.userimg.img-50{height:50px;line-height:50px;}
.userimg.img-50 img{width:50px;height:50px;}



.btn{position: absolute;left:0;bottom:0;right:0;height:60px;line-height:60px;text-align: center;color:#fff;font-size:14px;}
.btn_login,.btn_next{background-color:#06c;}
.btn_commit{background-color:#21c064;}
.btn_voet{background-color:#ff502b;}
.btn_normal{background-color:#ccc;color:#888;}
.btn_next{background-color:;}
.btn_inline{display:inline-block;width:48px;height:32px;line-height:32px;text-align: center;color:#888;border:1px solid #888;border-radius:4px;-webkit-border-radius:4px;}
.btnItem{position: absolute;right:50px;left:50px;bottom:0;}
.btnItem .btn{display:block;width:100%;height:40px;line-height:40px;margin-bottom:20px;color:#fff;border:1px solid #3073cd;font-size:14px;position:relative;border-radius:3px;}
.btnItem .btn:nth-child(1){background:#347cdc}
.btnItem .btn:nth-child(2){background:none;color:#888;border-color:#aba7a3;}


.footer_app .btn_inline{width:20%;margin:0 5px;margin-top:7px;font-size:14px;}
.btn_no{border-color:#df4341;color:#df4341;}
.btn_yes{border-color:#21c064;color:#21c064;}
.btn_block{display:block;width:100px;height:70px;line-height:70px;color:#fff;text-align:center;position:absolute;top:0;}
.btn_block.btn_yes{background:#21c064;right:0;}
.btn_block.btn_more{background:#bbb;left:0;}
.btn_block.btn_no{background:#df4341;left:100px;}



.view{width:100%;height:100%;background-color:#eee;}
.login{position: absolute;left:0;right:0;top:15%;}
.login img{width:36%;}
.login_box{position:absolute;right:60px;left:60px;top:50%;}
.login_box p{border-bottom:1px solid #aaa;height:36px;line-height:36px;position: relative;margin-bottom:20px;}
.login_box p i{position:absolute;height:36px;line-height:36px;left:1px;top:1px;font-size:16px;color:#aaa;}
.login_box p i.icon-person{left:-2px;}
.login_box p i.icon-vpn-key{transform:rotate(90deg);-webkit-transform:rotate(90deg);}
.login_box p input{border:0;height:32px;line-height:32px;width:100%;text-indent:25px;background:none;color:#aaa;}
.company_name{position: absolute;top:80%;left:0;right:0;color:#aaa;}
.splash_logo,.splash_img{width:100%;position: absolute;top:20%;z-index:2;}
.splash_img{max-width:1080px;left:50%;margin-left:-50%;top:inherit;bottom:0;z-index:1;}
.splash_logo img{width:36%;max-width:500px;}
.net{position: absolute;width:100%;bottom:10px;text-align: center;color:#888;z-index:2;}
.choosenet{width:270px;background:#fff;position:absolute;left:50%;margin-left:-135px;z-index:300;border-radius:5px;top:50%;margin-top:-100px;}
.choosenet ul li{display:block;margin:0 13px;border-bottom:1px solid #ccc;height:50px;line-height:50px;font-size:14px;text-indent:5px;position:relative;z-index:10;}
.choosenet ul li:last-child{border-bottom:0;}
.choosenet .quitBtn{display:block;height:40px;line-height:40px;font-size:15px;color:#fff;background:#4587c4;border-radius:4px;margin:10px;position:relative;z-index:100;}
.choosenet ul li.current{color:#5299e4;background: none;}
.choosenet .choosenet_out{height:150px;overflow: hidden;overflow-y: auto;}
.update .choosenet_out{height:200px;}
.update{position:fixed;margin-top:-150px;}
.update .choosenetin{padding:15px;color:#666;min-height:190px;}
.update .choosenetin p.font14{color:#333;}
.update .choosenetin p{padding-bottom:5px;}
.update .bottomB{border-top:1px solid #aaa;position:relative;}
.update .bottomB span.quitBtn{height:40px;line-height:40px;position:relative;width:50%;float:left;border-radius:0;background-color: #fff;color:#444;border-radius:0;margin:0;border-radius:0 0 4px 4px;}
.update .bottomB span.quitBtn.current{background-color:#4587c4;color:#fff;}
.update .bottomB span.quitBtn:last-child{border-radius:0 0 4px 0;border-left:1px solid #aaa;position:absolute;top:0;right:0;}
/*index*/
.header{height:44px;line-height:44px;background-color:#1874d0;border-bottom:1px solid #ddd;position: relative;z-index:100;left:0;top:0;right:0;color:#fff;}
.header span,.personHeader span{display: inline-block;height:44px;line-height:44px;font-size:12px;padding:0 20px 0 10px;}
.header span.floatright,.personHeader span.floatright{padding:0 10px 0 20px;}
.header span.userimg,.personHeader span.userimg{padding:0;margin:15px 30px 0 20px;}
.header span.mid_name,.personHeader span.mid_name{padding:0;position:absolute;width:60%;left:50%;margin-left:-30%;}
.main{position: absolute;left:0;right:0;bottom:0;}
.header span i,.personHeader span i{line-height: 45px;}
.reg{background:#000;border-bottom-color:#333;}
.header *,.personHeader *{color:#fff!important;}

.personHeader{min-height:44px;line-height:44px;background-color:#1874d0;border-bottom:1px solid #ddd;position: relative;z-index:100;left:0;top:0;right:0;color:#fff;}


.form_main{top:45px;}
.form_table{width:100%;}
.form_table td{width:33.33%;text-align: center;padding:30px 0 10px 0;}
.form_table td span{display:block;margin:0 auto;width:70px;height:70px;position:relative;line-height:60px;border:1px solid #06c;border-radius:50%;-webkit-border-radius:50%;
margin-bottom:5px;-webkit-animation:bounceIn .3s .3s ease both;animation:bounceIn .3s .3s ease both;transition:0.3S;-webkit-transition:0.3S;}
.form_table i{font-size:66px;color:#06c;position: absolute;top:50%;left:50%;margin:-33px 0 0 -33px;}
.form_table td.current span{background:#0066cc;transition:0.3S;-webkit-transition:0.3S;}
.form_table td.current i{color:#fff;-webkit-animation:start3 .3s .3s ease both;animation:start3 .3s .3s ease both;}
.form_item{width:130px;padding:0 10px;position:absolute;top:0;bottom:0;right:0;z-index:120;background:#fff;}
.form_item li{height:39px;line-height:39px;color:#666;border-bottom:1px solid #bbb;position:relative;}
.form_item .radio_ico{position:inherit;display: inline-block;top:50%;margin-top:-10px;left: inherit;float: right;}

@-webkit-keyframes start3 {  
	0% {opacity: 1;-webkit-transform:scale(1);}
    50% {opacity: 0.8;-webkit-transform: scale(1.1);}}
@-webkit-keyframes start4 {  
	0% {opacity: 1;-webkit-transform:scale(1);}
    50% {opacity: 1;-webkit-transform: scale(30);}
    }

@-webkit-keyframes scroll3 {
    0% {-webkit-transform: scale(1, 1);}
    100% {-webkit-transform: scale(200, 200);}
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.search{height:39px;line-height:39px;border-bottom:1px solid #ddd;margin:0 20px;margin-top:-40px;-webkit-transition:0.3s;transition:0.3;}
.search.current{margin-top:0;-webkit-transition:0.3s;transition:0.3;}
.search i{display:inline-block;height:39px;line-height:44px;}
.search input{border:0;width:90%;height:36px;line-height:36px;background:none;margin-top:-5px;text-indent:4px;text-align: center;}
.header_large{min-height:80px;background-image:url(../img/arrow_r.png);background-position:96% center;background-repeat:no-repeat;background-size:13px;}
.header_large p{line-height:24px;word-wrap: break-word;word-break:break-all}
.main .header_large{background-color:#fff;color:#666;}
.main .header_large *{color:#666!important;}
.footer_tool,.footer_app{width:100%;height:49px;border-top:1px solid #ccc;background:#e8e8e8;position:fixed;left:0;bottom:0;right:0;}
.footer_tool span{display:inline-block;width:20%;height:49px;float: left;text-align: center;color:#888;position: relative;}
.footer_tool span i{display:block;margin:7px 0 2px 0;font-size:20px;}
.footer_tool span i.icon-search2{font-size:18px;margin:8px 0 3px 0}
.footer_tool span.current{color:#06c;}
.footer_tool span:nth-child(3) i{margin:9px 0 3px 0;}
.footer_tool span:nth-child(3) i:last-child{position: absolute;font-size:10px;left:50%;top:41%;margin:-5px 0 0 -5px;color:#fff;}


.btn_items_bt{width:100%;height:50px;line-height:50px;position: absolute;left:0;bottom:-50px;transition:0.3s;-webkit-transition:0.3s;}
.btn_items_bt span{display:inline-block;width:50%;height:50px;line-height:50px;text-align:center;float: left;color:#fff;font-size:14px;}
.btn_items_bt.current{bottom:0;transition:0.3s;-webkit-transition:0.3s;z-index:3;}
.btn_items_bt .btn_no{background:#df4341;}
.btn_items_bt .btn_yes{background:#21c064;}
.radioitem{margin: 15px 0 15px 0;padding-left: 10px;} 

.list_main{top:80px;bottom:50px;}
.list_tilte{height:30px;line-height:30px;border-bottom:1px solid #ccc;}
.list_tilte .more{height:30px;line-height:30px;}
.list li{min-height:69px;border-bottom:1px solid #ccc;background:#fff;position:relative;overflow-x:hidden;}
.list li.active .list_li,.item_list li.active .inner,.item_list li.active .Inmask{background:#ECEBEB;transition:0.3s;-webkit-transition:0.3s;}
li.active .icon-square-check{color:#aaa;}
.list li span [class^="btn_"],.list li span [class*="btn_"]{display:inline-block;position:absolute;height:70px;line-height:70px;}
.list_li{position: relative;height:60px;padding:10px 0 0 0;z-index:2;background:#fff;right:0;transition:0.3s;-webkit-transition:0.3s;overflow-x:hidden;}
.list_li .more{padding:0;padding-right:2px;display:inline;}
.item_list li .inner.more{width:100%;padding:0;}
.list_li .icon-expand-more{position:absolute;font-size:20px;left:92%;top:50%;margin-top:-7px;color:#ccc;transition:0.3s;-webkit-transition:0.3s;}
.list_li p{height:22px;line-height:22px;text-indent:10px;width:96%;}
.list_li .icon-expand-more,.arrow_r .icon-expand-more,.item_list li .icon-expand-more,.city_list li .icon-expand-more{position:absolute;font-size:20px;left:92%;top:50%;margin-top:-7px;color:#aaa;transition:0.3s;-webkit-transition:0.3s;}
.current .icon-expand-more{transform:rotate(-180deg);-webkit-transform:rotate(-180deg);transition:0.3s;-webkit-transition:0.3s;}
.no_preview .icon-expand-more,.arrow_r .icon-expand-more,.item_list li .icon-expand-more,.city_list li .icon-expand-more{transform:rotate(-90deg);-webkit-transform:rotate(-90deg);}
.arrow_r .icon-expand-more,.item_list li .icon-expand-more{font-size:24px;margin-top:-5px;color:#ccc;}
.item_list{padding-bottom:20px;}
.item_list li .icon-expand-more{left:inherit;right:6px;top:12px;margin-top:0;}
.preview{padding:10px 20px;margin-top:10px;background:#eee;border-top:1px solid #ddd;position:relative;}
.arrow_t{display:inline-block;width:11px;height:5px;background:url(../img/arrow_t.png) no-repeat 0 0;background-size:100%;position: absolute;left:50%;margin-left:-5px;top:-5px;}
.preview table{width:100%;}
.preview table th{height:20px;color:#888;width:65px;}
.preview table td{height:20px;color:#444;word-wrap: break-word;word-break: break-all;}
.preview table tr:last-child td,.preview table tr:last-child th{border-bottom:1px solid #ccc;padding-bottom:10px;}
.radio_ico{display:inline-block;width:20px;height:20px;line-height:22px;border:1px solid #aaa;border-radius:50%;-webkit-border-radius:50%;
position:absolute;text-align: center;top:28px;left:10px;}
.radio_ico i{display: none;}
.radio_ico.current{background:#06c;color:#fff;border-color:#06c;}
.radio_ico.current i{display: inline-block;}
ul.choose .radio_ico{-webkit-animation:bounceIn .3s .3s ease both;animation:bounceIn .3s .3s ease both;transition:0.3S;-webkit-transition:0.3S;}
ul.choose .list_li{right:-32px;transition:0.3s;-webkit-transition:0.3s;}
/*通讯录*/
.search_out{height:50px;background:#ddd;position:relative;z-index:10;}
.search_out .search{border:0;position:relative;margin:0 10px;bottom:-10px;height:30px;line-height:30px;background:#f5f5f5;border-radius:6px;}
.search_out .search input{width:99%;height:30px;line-height:30px;color:#aaa!important;border-radius:6px;margin:0 auto;text-indent: 0;}
.search_out .search i{position: absolute;height:30px;line-height:32px;left:50%;color:#aaa!important;margin-left:-32px;transition:0.4s;-webkit-transition:0.4s;}
.search_out .search.current i{left:40px;transition:0.4s;-webkit-transition:0.4s;}
.contact_main{top:95px;}
.contaceTab{width:150px;border:1px solid #06c;border-radius:5px;height:28px;margin:0 auto;position:relative;top:7px;}
.contaceTab dd{display:inline-block;float:left;text-align:center;height:28px;line-height:28px;font-size:13px;width:75px;color:#06c;}
.contaceTab dd.current{background-color:#06c;color:#fff;}
.contact{position: absolute;overflow:hidden;left:0;right:0;bottom:0;top:10px;}
.contactBox p.color-6{padding-left:15px;height:20px;line-height:20px;}
ul.contactBox li{border:1px solid #ecebeb;border:1px 0;padding:0 15px;margin-top:-1px;background: #fff;position:relative;}
ul.contactBox li img{width:34px;height:34px;border-radius:50em;margin:8px 10px 0 0;}
ul.contactBox li div.floatleft p:first-child{color:#555;padding-top:5px;font-size:15px;}
ul.contactBox li div.floatleft p:last-child{color:#888;}
ul.contactBox li div.floatleft p span:first-child{padding-right:10px;}
ul.contactBox li .radio_ico{left:inherit;right:10px;width:16px;height:16px;line-height:16px;top:50%;margin-top:-8px;border-color:#06c;color:#06c;display:none;}
.item_list_step .icon-check2{display:none;}
ul.contactBox li .radio_ico i,.choosed .icon-check2{display: inline-block;}
ul.contactBox li .radio_ico{position: absolute;}
ul.contactBox li .radio_ico i{top:50%;left:50%;margin:-1px 0 0 -1px;}
li.choosed .radio_ico{display:block!important;position: relative;}
ul.city_list li{height:40px;line-height:40px;}
ul.city_list li div.floatleft p:first-child{padding:0;}
ul.city_list li .icon-check2,ul.contactBox li .icon-check2{margin-top:10px;color:#06c;}
ul.city_list li.choosed p:last-child{color:#06c!important;}
.item_list_step .name{color:#333;}

ul.contactBox li.word-title,ul.city_list li.word-title{background: none;border:0;padding-left: 10px;height:auto;line-height:normal;}
.form_item li.choosed .radio_ico{right:0px;}
.wordfind{position:absolute;width:15px;top:70px;right:4px;color:#59a7f9;text-align:center;z-index:60;}
.wordfind li{height:14px;line-height:14px;font-size:11px;position: relative;}
.wordfind li em{width:29px;height:24px;background: url(../img/word-bg.png) no-repeat;background-size:29px;text-align:left;text-indent: 8px;line-height:24px;color:#fff;position:absolute;left:-29px;top:50%;margin-top:-13px;font-size:11px;}
.wordfind_main{position:fixed;top:0;width:123px;border-left:1px solid #888;right:-125px;bottom:0;background-color: #eee;z-index:40;-webkit-transition:0.2s;transition:0.2s;}
.wordfind_main span{display: inline-block;width:40px;height:40px;line-height:40px;text-align: center;background-color: #fff;font-size:18px;color:#888;border:1px solid #eee;border-width:0 1px 1px 0;margin-left: -0px;float: left;}
.wordfind_main span.active{background-color: #06c;color: #fff;-webkit-transition:0.2s;transition:0.2s;}
.word_current{width:36px;height:36px;background:#000;opacity: 0.3;border:1px solid #9a9a9a;border-radius:5px;-webkit-border-radius:5px;position: absolute;top:50%;margin-top:-18px;right:20px;line-height:36px;text-align: center;color: #fff;font-size:16px;}
.apps_title{background:#f5f5f5;height:39px;border-bottom:1px solid #ddd;position:relative;z-index:10;}
.apps_title span{display:inline-block;height:26px;line-height:26px;padding:0 14px;margin:0 4px;margin-top:7px;border-radius:12px;-webkit-border-radius:12px;}
.apps_title.apply_list span{padding:0;margin:7px 0 0 0;width:15%;}
.apps_title span.current{background:#06c;color:#fff;}
.form_tab span{width:30%;padding:0px;margin:7px 20px 0 20px;}
/*表单详情审批*/
.form_box{background:#fff;border:1px solid #ddd;border-width:1px 0;margin-top:-1px;padding:13px 18px;}
p.color-3{border-bottom:1px solid #ddd;padding-bottom:10px;}
.border-top{border-bottom:0!important;border-top:1px solid #ddd;padding-bottom:0!important;padding-top:10px;position: relative;}
.form_box table{width:100%;}
.form_box table th{width:90px;height:35px;color:#666;}
.form_box table th div{width:90px;}
.form_box table td{color:#333;text-align: right;font-size:12px;word-wrap:break-word;word-break: break-all;}
.process_main{top:45px;left:0;right:0;bottom:60px;}
.item_list li{margin-top:9px;position:relative;}
.item_list li textarea{width:99%;height:100px;border:0;margin-top:4px;}
.item_list li .inner{width:97%;height:100%;min-height:48px;line-height:48px;position:relative;border-top:1px solid #ddd;border-bottom:1px solid #ddd;background:#fff;padding-left:10px;}
.li_top{line-height:24px;padding-left:10px;color:#888;}
.time_line{border-left:1px solid #ccc;margin:15px 0 0 10px;padding-left:34px;}
.time_line li{position: relative;border-bottom:1px solid #ddd;padding:10px 0 10px 0;}
.time_line li p{line-height:24px;}
.time_line li p:last-child{font-size:9px;}
.time_line li.current{color:#06c;padding:5px 0 10px 0;}
.time_line li.current p{position: relative;top:-5px;}
.circle{display:inline-block;width:8px;height:8px;background:#ccc;position:absolute;left:-38.51px;top:20px;border-radius:50%;-webkit-border-radius:50%;}
.time_line li.current .circle{width:12px;height:12px;line-height:10px;position:relative;text-align:center;border:1px solid #06c;background:#fefefe;left:-41px;}
.time_line li.current .circle i{display:inline-block;width:8px;height:8px;background:#06c;border-radius:50%;-webkit-border-radius:50%;position: absolute;top:50%;left:50%;margin:-4px 0 0 -4px;}
.time_line li .apply_txt{position:relative;border:1px solid #ddd;border-radius:8px;-webkit-border-radius:8px;background:#f5f5f5;padding:5px;margin:10px 0 0 10px;}
.time_line li .apply_txt p{line-height:20px;}
.time_line li .apply_txt i{display: block;position:absolute;width:10px;height:20px;background: url(../img/arrow_l.png) no-repeat;background-size:10px;left:-10px;top:5px;}
/*附件*/
.attachment_list li{height:40px;line-height:40px;padding:5px 0;background:#fff;border:1px solid #ccc;border-width:1px 0;margin-top:-1px;}
.attachment_list li span.floatleft{display:inline-block;height:40px;}
.attachment_list li span.floatleft img{width:32px;margin:4px 0 0 5px;}
.attachment_list li.choose{background:#06c;color:#fff;}
.AttchImg img{max-width: 95%;margin:5px;}
.attachment_list li .txt_hidden{width:70%;}
.city_list li div.floatleft{width: 100%;height:40px;}
.city_list li p.txt_hidden{width:93%;font-size:13px!important;}
pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.loading{position:absolute;width:160px;padding:10px 0;top:50%;left:50%;margin:-50px 0 0 -80px;z-index:202;color:#fff;background:url("../img/mask40.png") repeat;border-radius:3px;}
.loading img{width:35px;height:35px;margin-bottom:8px;}
.mask{width: 100%;height: 100%;position: fixed;top:0;left:0;z-index:110;background:#000;opacity: 0.4;}
/*转审*/
.item_list li .userimg{vertical-align: middle;margin-right:10px;}
.touch_off{display:block;width:51px;height:26px;font-size:0;line-height:0;
background-color:#ddd;border-radius:32px;-webkit-border-radius:32px;position:absolute;top:50%;margin-top:-13px;right:10px;}
.touch_off em{display:block;width:23px;height:23px;background-color:#fff;border-radius:50%;-webkit-border-radius:50%;position: absolute;top:50%;margin-top:-12px;left:2px;box-shadow:0 0 1px #999;-webkit-transition:0.3s;transition:0.3s;}
.touch_off.current{background-color:#0066cc;}
.touch_off.current em{left:27px;-webkit-transition:0.3s;transition:0.3s;box-shadow:0 0 1px #0863bd;}
.editList li{margin:0;}
.editList li .inner{margin-top:-1px;}
.editList li .inner.has-error{position:relative;z-index:10;}
.editList li.noboder{margin-bottom:5px;}
.editList li .Inmask{left:0;top:0;bottom:0;right:0;position:absolute;background:#fff;font-size:14px;}
.editList li .Inmask span{color:#aaa;}
.editList li .Inmask span.floatleft{color:#888;width:140px;text-indent:10px;float: none;white-space:nowrap;overflow: hidden;text-overflow: ellipsis;}
.editList li .Inmask span.text_int{display:block;margin-left: 100px;margin-right:30px;}
.editList li .Inmask span.text_int input{width:70%;border:0;text-align:right;height:40px;line-height:normal;font-size:14px;text-indent:0;}
.editList li .has-error .Inmask span,.editList li .has-error .article,
.editList li .has-error .Inmask span.text_int input{color:#bd2c00!important;}
.editList li .has-error{border-color:#fb7d79;}
.editList li textarea + .Inmask{height:80px;}
.editList li span.text_int{text-align: right;}
/*.editList li.choose span.text_int{text-align: right;}*/
.editList li input,.editList li textarea,.editList li .article{background:transparent;width:100%;border:0;position: relative;z-index:5;color:#888;overflow-y:visible;font-size:14px;}
.editList li textarea{min-height:30px;line-height:20px;height:80px;}
.editList li.autoHeight div.inner{height:auto;min-height:40px;}
.inner.hideInmask .Inmask,.inner.hideInmask .textnumber,.inner.error .Inmask.Txterror,.inner .Inmask.Txterror{display: none;}/*隐藏默认信息*/
.textnumber{position: absolute;color:#c6c6c6;right:12px;bottom:11px;line-height:14px;height:14px;}
.uploadimg{height:44px;padding:5px 12px;border-top:1px solid #ccc;margin-left:-10px;}
.uploadimg img{width:44px;height:44px;margin-right:2px;}
.uploadimg img:last-child{margin-right:0;}
.editList li.upimg .inner .Inmask{position:relative;margin-left:-10px;}
.score_main{top:45px;bottom:110px;}
.select_in{border:0;width:40%;height:50px;line-height:50px;background:none;margin-left:10px;color:#06c;}
.item_list li .select_in{width:115%;color:#888;position: relative;left:-18px;top:-2px;font-size:14px;}
.score_item_list{width:100%;position:absolute;left:0;bottom:60px;background:#f5f5f5;}
.score_item_list li{margin-top:0;}
.score_details{padding-left:30px;}
.score_details li{clear:both;min-height:28px;line-height:22px;padding:10px 0;border-bottom:1px solid #ddd;padding-right:5px;}
.score_details li em{display:block;float:left;height:100%;margin:0 10px 0 -15px;}
.Revoke{width:50px;height:50px;line-height:50px;text-align:center;background:#dc424e;font-size:15px;color:#fff;position:absolute;right:-50px;bottom:0;z-index:999;transition:0.2s;-webkit-transition:0.2s;}
.item_list li.active .Revoke{right:0;transition:0.2s;-webkit-transition:0.2s;}
.item_list li .txt_hidden,.item_list li .name{width:55%;}/*vertical-align:-19px;*/
.item_list li .name{width:65px;}
.item_list_step li{margin-top:-1px;}
.item_list_step li .txt_hidden{width:60%;float: left;}
/*search*/
.search_header{padding-bottom:2px;}
.search_main{top:50px;}
.search_header .search{bottom:-8px;}
.cost_list li .inner{line-height:24px;}
.cost_list li .inner .more{line-height:48px;}
.cost_list li .txt_hidden{width:80%;}
.worktime_list li .txt_hidden{width:100%;}
.worktime_list li p{height:48px;line-height:48px;}
.worktime_list li.noboder p{height:21px;line-height:21px;}
.out{height:40px;line-height:40px;text-align: center;font-size:14px;background:#fff;border:1px solid #ddd;border-radius:2px;-webkit-border-radius:2px;margin:10px 5px;}
i.icon-iback,.header_large.active,.header_large,span.active i.icon-iback{transition:0.3s;-webkit-transition:0.3s;}
span.active i.icon-iback{margin-left:-3px;}
.header_large.active{background-position-x:97%;}
.get_more span{display: inline-block;color:#777;}
.get_more .load{width:25px;height:25px;background:url(../img/loading1.png) no-repeat center center;background-size:20px;margin-right:5px;-webkit-transition:0.3s;transition:0.3s;}
.get_more.up .load{-webkit-transform:rotate(-180deg);-webkit-transition:0.3s;transition:0.3s;}
.get_more.wait .load{background:url(../img/loading2.png) no-repeat center center;background-size:25px;-webkit-animation:spin 800ms infinite linear;animation:spin 800ms infinite linear;}
.get_more span:nth-child(2){text-align:left;line-height:16px;}
.details table tr:last-child td, .details table tr:last-child th{border:0;}
.details .title{border-bottom:1px solid #ddd;margin-bottom:10px;padding-bottom:3px;}
/*2015-8-10*/
.humBtn{display: block;width:50px;height:50px;line-height:54px;position:fixed;z-index:20;right:15px;bottom:20px;border-radius:50%;background:#0066cc;opacity: 0.9;text-align:center;color:#fff;}
.rightCount{width:100%;position:fixed;top:0;left:0;bottom:0;background:#eee;z-index:120;right:0;}
/*.rightCount.current{right:0;transition: 0.4s;}*/
.rightCount .header{width:50%;}
.rightCount .list li{min-height:45px;}
.rightCount .list .list_li{height:45px;line-height:45px;padding:0;overflow:hidden;}
.rightCount .list .list_li p{height:45px;line-height:45px;}
.rightCount .list .list_li .icon-expand-more{font-size:30px;right:10px;}
.rightCount .list_ul{border-bottom:1px solid #d9d9d9;background:#fff;}
/*.rightCount .list_ul li{margin-left:15px;}*/
.rightCount .list_ul li:last-child{border:0;}
.rightInner{width:50%;height:100%;float:left;position:relative;overflow-y: auto;background:#fff;transition: 0.4s;-webkit-transition: 0.4s;}
.Ios_scroll{-webkit-overflow-scrolling : touch;}
.rightCount ul.city_list li{height:44px;line-height:44px;border-color:#ccc;}
.rightCount ul.contactBox li div.floatleft p:last-child{color:#333;}

/*2015-1-18*/
.login_layout {
	width: 100%;
	height: 100%;
	position: relative;
}
.new_login{background:#f9f9f9;}
.new_login .login_box{width:100%;margin:0;position: relative;left:0;top:70px;}
.new_login .login_box p{background:#fff;}
.new_login .login_box p input{text-indent:1rem;}
.new_login .login_box p label{left:1rem;}
.new_login .btnItem{left:20px;right:20px;bottom:inherit;top:200px;}
.new_login .btnItem .btn:nth-child(1){background: none;color:#347cdc;}
.new_login #bottomBtn{top:inherit;bottom:10px;}
.new_login #bottomBtn p:first-child{border-bottom:1px solid #ccc;margin-bottom:25px;}
.new_login #bottomBtn p:first-child span{background:#f9f9f9;padding:0 15px;position: relative;bottom:-10px;}
.new_login .header{position: fixed;top:0;left:0;text-align: center;background:#347cdc;color:#fff;border:0;}
.login_box {
	width: 62%;
	border-top: 1px solid #ccc;
	position: absolute;
	left:50%;
	top:52%;
	margin-left:-31%;
}
.login_box p {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
	position: relative;
	margin:0;
}
.login_box p input {
	height:45px;
	line-height:45px;
	color: #888;
	font-size: 12px;
	width: 100%;
	text-indent: 2.4em;
	background: none;
	position:relative;
	z-index: 2;
}
.login_box label{
	color: #888;
	position: absolute;
	bottom:2px;
	left:2.4rem;
	right:0;
	top:3px;
	z-index:0;
	line-height:45px;
}









