@font-face {font-family: "iconfont";src: url('../fonts/iconfont.ttf') format('truetype');}
.iconfont {font-family:"iconfont" !important;font-size:16px;font-style:normal;-webkit-font-smoothing: antialiased;}

.icon-user:before { content: "\e600"; }
.icon-address:before { content: "\e601"; }
.icon-time:before { content: "\e60f"; }
.icon-dianpu:before { content: "\e603"; }
.icon-shouye:before { content: "\e605"; }
.icon-daifukuan:before { content: "\e609"; }
.icon-guanyu:before { content: "\e60d"; }
.icon-fav:before { content: "\e60b"; }
.icon-daifahuo01:before { content: "\e610"; }
.icon-daipingjia:before { content: "\e611"; }
.icon-youhuiquan:before { content: "\e602"; }
.icon-shouhuo:before { content: "\e60a"; }
.icon-guanzhu:before { content: "\e60e"; }
.icon-jifen:before { content: "\e60c"; }
.icon-fenxiang:before { content: "\e606"; }
.icon-gouwuche:before { content: "\e608"; }

footer .mui-bar-tab .mui-tab-item .mui-icon{ font-size: 20px; width: 20px; height: 20px; padding-top: 3px;}
body{ font-size: 14px; /*font-family:'microsoft yahei';*/}
a{ color: #666;}
a:active{ color: #E3393C;}
h1,h2,h3,h4,h5,h6{ font-weight: 300;}
em,i{ font-style: normal;}
span{ display: inline-block;}
ul{ padding: 0; margin: 0;}
li{list-style: none;}
.mui-content{min-height: 400px; padding-top: 1px;}
.mui-scroll{min-height: 100%;}
.mui-bar.mui-bar-nav{background-color: #e3393c; color: #fff; box-shadow: none;}
.mui-bar.mui-bar-nav .mui-title,.mui-bar.mui-bar-nav .mui-icon,.mui-bar.mui-bar-nav .mui-pull-right{color: #fff;}
.mui-bar.mui-bar-nav .mui-btn-link{font-size: 14px;}
.mui-input-row .mui-input-clear~.mui-icon-clear.mui-active, .mui-input-row .mui-input-password~.mui-icon-eye.mui-active, .mui-input-row .mui-input-speech~.mui-icon-speech.mui-active{ color: #E3393C;}
.ui-page-login,body {width: 100%;height: 100%;margin: 0px;padding: 0px;}
.mui-content{height: 100%;}
.mui-bar-tab .mui-tab-item{ color: #fff;}
.mui-bar-tab .mui-tab-item.mui-active{ color: #e3393c;}
footer .mui-bar-tab{ background-color: #2a2a2e;}
.mui-bar-tab .mui-tab-item .mui-icon~.mui-tab-label{ font-weight: normal;}
.mui-slider-indicator .mui-indicator{ box-shadow: none; margin: 1px 4px; background: #ddd; border: 1px solid #fff;}
.mui-slider-indicator .mui-active.mui-indicator{ background: #e3393c;}
.mui-slider .mui-slider-group{z-index: 2;}
.mui-slider-indicator{z-index: 3; bottom:5px}
.mui-numbox [class*=mui-numbox-btn]{ background-color: #fff;}
.mui-h4, h4{font-size: 16px;}
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{color: #E3393C;}
.mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before{font-size: 24px;}
.mui-table-view-cell.mui-active,.mui-table-view-cell>a:not(.mui-btn).mui-active { background-color: #F7F7F7;}
.mui-table-view.vshop-product .mui-table-view-cell .mui-media-body,.mui-table-view.index-product .mui-table-view-cell .mui-media-body{ padding: 0 5px;  word-break: break-all;  overflow: hidden; text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 18px; height: 36px; font-size: 14px; text-align: left;}
.mui-preview-image.mui-fullscreen { position: fixed; z-index: 999999; background-color: #000; }
.mui-preview-header,  .mui-preview-footer { position: absolute; width: 100%; left: 0; z-index: 10; text-align: center; }
.mui-preview-header { height: 44px; bottom: 10px;text-align: center; }
.mui-preview-footer { height: 50px; bottom: 0px; }
.mui-preview-header .mui-preview-indicator { line-height: 25px; color: #fff;  margin: 15px auto 4; width: 70px; background-color: rgba(0, 0, 0, 0.4); border-radius: 12px; font-size: 16px; }
.mui-preview-image { display: none; -webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.mui-preview-image.mui-preview-in { -webkit-animation-name: fadeIn; animation-name: fadeIn; }
.mui-preview-image.mui-preview-out { background: none; -webkit-animation-name: fadeOut; animation-name: fadeOut; }
.mui-preview-image.mui-preview-out .mui-preview-header,  .mui-preview-image.mui-preview-out .mui-preview-footer { display: none; }
.mui-zoom-scroller { position: absolute; display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; justify-content: center; left: 0; right: 0; bottom: 0; top: 0; width: 100%; height: 100%; margin: 0; -webkit-backface-visibility: hidden; }
.mui-zoom { -webkit-transform-style: preserve-3d; transform-style: preserve-3d; }
.mui-slider .mui-slider-group .mui-slider-item img { width: 100%; height: auto; max-width: 100%; max-height: 100%; }
.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img { width: 100%; }
.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item { display: inline-table; }
.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img { display: table-cell; vertical-align: middle; }
.mui-preview-loading { position: absolute; width: 100%; height: 100%; top: 0; left: 0; display: none; }
.mui-preview-loading.mui-active { display: block; }
.mui-preview-loading .mui-spinner-white { position: absolute; top: 50%; left: 50%; margin-left: -25px; margin-top: -25px; height: 50px; width: 50px; }
.mui-preview-image img.mui-transitioning { -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease; transition: transform 0.5s ease, opacity 0.5s ease; }
@-webkit-keyframes fadeIn {  0% {opacity: 0;} 100% { opacity: 1;}}
@keyframes fadeIn {  0% { opacity: 0;} 100% { opacity: 1;}}
@-webkit-keyframes fadeOut {  0% { opacity: 1;} 100% { opacity: 0;}}
@keyframes fadeOut {  0% { opacity: 1;} 100% { opacity: 0;}}
p img { max-width: 100%; height: auto; }
.border-bot{ position: relative;}
.border-bot:after{content: ''; width: 100%; height: 1px; background-color: #c8c7cc; position: absolute; bottom: 0; left: 0; -webkit-transform: scaleY(.5);transform: scaleY(.5);}
.scroll-div{ overflow-y: auto;-webkit-overflow-scrolling: touch; position: absolute; top: 43px; bottom: 0; width: 100%;}

/*首页-----*/
.custom-loading{position:absolute;left:50%;top:50%;margin-left:-12px;margin-top:-12px; z-index: 1;}
.fast-nav{ background: #FFFFFF; width: 100%; position: relative; padding: 10px 0; display: table;}
.fast-nav li{ text-align: center; color: #4f4f4f; display: table-cell; line-height: 18px; padding: 0;}
.fast-nav li+li{ border-left: 1px solid #f1f4f6;}
.fast-nav img{ width: 36.5%; display: inline; margin-right: 6px;}
.fast-nav span{ vertical-align: top; margin-top: 5px;}
.fast-nav:after{ position: absolute; left: 0; bottom: -8px; width: 100%; height: 8px; background: url(../images/border.png) no-repeat; background-size: 100% auto; content: '';}
.index-topic{margin: 20px 0 10px; width: 100%; overflow: hidden; position: relative;}
.index-topic a{ display: block; float: left; font-size: 0; line-height: 0; box-sizing: content-box; position: relative; z-index: 3;}
.index-topic .fore1,.index-topic .fore2{ width: 50%; border-bottom: 1px solid #d4d4d4;}
.index-topic .fore3,.index-topic .fore4,.index-topic .fore5{ width: 33.33333333%;border-bottom: 1px solid #d4d4d4;}
.index-topic .fore2,.index-topic .fore5{ border-left: 1px solid #d4d4d4; margin-right: -1px;}
.index-topic .fore3{border-right: 1px solid #d4d4d4; margin-left: -1px;}
.index-topic img{ width: 100%; display: block;}

.mui-table-view.index-product{ background-color: transparent; padding:0 5px;}
.mui-table-view.index-product li.mui-table-view-cell{ padding: 0 5px; margin:0 0 10px; display: block; float: left;}
.index-product li .p-img{ width: 100%; overflow: hidden; background-color: #ddd;}
.index-product li .p-img b{ width: 100%; height: 100%; display: block; background-size: cover; background-position: center; background-repeat: no-repeat; background-color: #fff; opacity: 0;transition: opacity .4s ease-in;}
.index-product-box{ background-color: #fff; height: 100%; border-radius: 3px; overflow: hidden; position: relative;}
.index-product p{ padding: 5px; border-top: 1px solid #f2f2f2; margin:5px 5px 0; text-align: left;}
.index-product p span{ color: #E3393C; margin-right: 5px; }
.index-product p em{ text-decoration: line-through; font-size: 10px; }
.index-product i{ position: absolute; top: 15px; right: 0; background: #E3393C; line-height: 24px; padding:0 5px; color: #fff; font-size: 12px;}

/*商品详情页*/
.goods-sku .choose-sku,.goods-sku .goods-num { position: relative; margin-top: 5px;}
.goods-sku .choose-sku label,.goods-sku .goods-num label,.goods-onsale label{ position: absolute;top: 8px;}
.goods-sku .choose-sku div{ padding-left: 50px; }
.goods-sku .choose-sku span{ padding: 5px 10px; border: 1px solid #ddd; margin: 0 10px 10px 0; border-radius: 3px;}
.goods-sku .choose-sku span.selected{ background-color: #E3393C; border-color: #E3393C; color: #FFFFFF;}
.goods-sku .choose-sku span.disabled{ border-style: dashed; color: #999;}
.goods-sku .mui-numbox{ margin-left: 50px; }

.goods-info{ position: relative;}
.goods-info .p-price{ color: #222;}
.goods-info .p-price a{ color: #999; font-size: 14px;}
.goods-info .p-price span{ color: #E3393C; font-size: 18px;}
.goods-info h3{ font-size: 16px; line-height: 1.2; padding:0 50px 10px 0;}
.goods-info h4{ font-size: 14px; line-height: 1.2;  color: #E3393C; padding-right: 50px;}
.goods-info h5{ margin: 10px 0; font-size: 12px;}
.goods-share{ position: absolute; right:0; top: 0; text-align: center; border-left: 1px solid #E8E8E8; padding-left: 10px; font-size: 12px; line-height: 16px;}
.goods-share .iconfont{ font-size: 20px;}
.p-detail{padding: 11px 10px; background: #fff;}
.p-detail-html{ margin-top: 10px; width: 100%; position: relative;overflow: hidden; padding-bottom: 50px; z-index: 1;}
.p-detail-html img{ max-width: 100%; height: auto !important;display: inherit;}
.p-detail-html table{ width: auto;}
.p-detail-html p{ margin: 0;}
.goods-onsale-detail{ padding-left: 50px; padding-right: 0; width: 100%;}
.goods-onsale p{position: relative;}
.goods-onsale p.goods-coupon{ padding: 0 0 10px; margin-bottom: 10px;}
.goods-onsale p i{ display: inline-block; font-size: 12px;color: #fff; text-align: center; width: 50px; height: 24px;line-height: 24px; margin-right: 30px; background-color: #E3393C; position: relative;}
.goods-onsale p i:after{content: ''; line-height: 0; border-right: 6px solid #FFFFFF; border-top: 6px dashed transparent;border-bottom: 6px dashed transparent; position: absolute; right: 0;top: 6px;}
.goods-onsale p.goods-coupon:after{content: ''; width: 100%; height: 1px; background-color: #c8c7cc; position: absolute; bottom: 0; left: 0; -webkit-transform: scaleY(.5);transform: scaleY(.5);}
.goods-onsale p .mui-navigate-right:after{ margin-top: -4px;}

.goods-shop p{ font-size: 14px; color: #333;}
.goods-shop p em{ color: #E3393C; margin-right: 30px;}
.goods-shop h5{ margin: 10px 0;}
.goods-comment span{font-size: 12px;}
.comment-nice{ color: #999; margin-left: 10px; }
.comment-nice em{ color: #E3393C;}

#s-actionBar-container { position: fixed; bottom: 0; width: 100%; background-color: #fff; z-index: 9999; box-shadow: 0 -3px 3px #fff; }
#s-actionBar-container .action-bar { color: #5a5a5a; }
.mui-flex>.cell { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; width: 0; -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; max-width: 100%; display: block; padding: 0!important; position: relative; }
#s-actionBar-container .action-bar .cell { height: 46px; text-align: center; }
#s-actionBar-container .action-bar .addfav, #s-actionBar-container .action-bar .toshop, #s-actionBar-container .action-bar .tocart { border-top: 1px solid #ddd; max-width: 50px; }
#s-actionBar-container .action-bar .cart { background: #ffc245; font-size: 15px; }
#s-actionBar-container .action-bar .buy { background: #ff4342; font-size: 15px; }
#s-actionBar-container .action-bar .nobuy { background: #999; }
#s-actionBar-container .action-bar .cart .icon-time{ font-size: 20px; font-weight: bold;}
#s-actionBar-container .action-bar .cell a { position: absolute; width: 100%; height: 100%; display: block; top: 0; text-decoration: none; }
#s-actionBar-container .action-bar>button { border: 0; color: #fff; font-size: 16px; outline: none; border-radius: 0; line-height: 46px; overflow: hidden; }
#s-actionBar-container .action-bar>button span{ vertical-align: middle;}
#s-actionBar-container .action-bar>div:before { width: 100%; height: 25px; font-size: 18px; display: block; line-height: 1.7;}
#s-actionBar-container .action-bar>div+div { border-left: 1px solid #ddd; }
#s-actionBar-container .iconfont{ font-size: 12px;}
.mui-flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.plus-one { font-size: 12px; background-color: #e73641; color: #fff; display: block; position: absolute; top: 0; left: 18px; opacity: 0; border-radius: 100%; width: 20px; height: 20px; line-height: 20px; text-align: center; }


.mui-table-view-text{position: relative; overflow: hidden; padding: 11px 15px; background-color: inherit;-webkit-touch-callout: none;}
.mui-ios .mui-table-view-text { -webkit-transform-style: preserve-3d;transform-style: preserve-3d;}
.mui-table-view-text:after { position: absolute; right: 0;bottom: 0;left: 15px;height: 1px;content: '';-webkit-transform: scaleY(.5);transform: scaleY(.5);background-color: #c8c7cc;}
.mui-table-view-text p { margin-bottom: 0;}
.mui-table-view-text:last-child:after, .mui-table-view-text:last-child:before { height: 0;}

/*购物车*/
.cart-list{ margin-top: 10px; padding-bottom: 50px;}
.cart-list li{ margin-bottom: 10px;}
.cart-list .mui-checkbox.mui-left input[type=checkbox]{ left: 10px;}
.cart-list .mui-numbox{ width: 100px; height: 30px; padding: 0 30px;}
.cart-list .mui-numbox [class*=mui-numbox-btn]{width: 30px;}
.mui-numbox .mui-numbox-input{ background-color: #fff;}
.cart-goods,.cart-shop{  display: inline-block; float: none; width: 100%; padding: 10px 15px 10px 48px; position: relative;}
.cart-shop{ line-height: 1.1;}
.cart-shop .cart-shop-price{ float: right; color: #666;}
.cart-goods .goods-img{ width: 70px;height: 70px;overflow: hidden; display: inline-block;}
.cart-goods img{ width: 100%; height: 100%;}
.cart-goods .cart-goods-detail{ padding-left: 80px;margin-top: -80px;}
.cart-goods .cart-goods-detail p{ margin: 0;height: 24px;}
.cart-goods .cart-goods-detail p a{ width: 70%; height: 20px; overflow: hidden;display: inline-block;text-overflow: ellipsis;white-space: nowrap;}
.cart-goods .cart-goods-detail p span{ float: right; color: #000; max-width: 50px; overflow: hidden;}
.cart-goods h5{ margin-top: 0; height:16px; line-height: 16px; font-size: 12px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.cart-list-goods .mui-icon{ position: absolute; right: 0; bottom: 0; color: #666; padding:10px;}
.cart-list .cart-shop:after,.cart-list .cart-goods:after { position: absolute; right: 0; bottom: 0; left: 15px; height: 1px; content: ''; -webkit-transform: scaleY(.5); transform: scaleY(.5); background-color: #c8c7cc;}
.cart-list .mui-disabled,.cart-list .mui-disabled a,.cart-list .mui-disabled span{ color: #999999 !important;}

.cart-bottom{ position: fixed; bottom: 0; width: 100%; background-color: #f6f6f6; border-top: 1px solid #eaeaea; height: 50px;overflow: hidden; z-index: 99; }
.cart-bottom .mui-checkbox{float: left;}
.cart-bottom .mui-checkbox label{ padding:13px 15px 10px 45px;}
.cart-bottom .mui-checkbox.mui-left input[type=checkbox]{ left: 10px;top: 10px;}
.cart-total-price{ display:inline-block;max-width: 131px; overflow: hidden;}
.cart-total-price p{ line-height: 30px; margin: 0; color: #000; white-space: nowrap;}
.cart-total-price p span{color: #E3393C; font-size: 16px;}
.cart-total-price h5{ color: #999999; line-height: 16px; margin: 0;}
.submit-cart{ background: #f92a20;color: #FFFFFF; text-align: center; width: 100px; line-height: 50px; display: block; float: right; font-size: 16px;}
.submit-cart span{ font-size: 12px;}
.submit-cart:active{color: #FFFFFF;background: #cf2d28;}

/*历史记录*/
.history-hd { line-height: 28px; font-size: 12px; text-indent: 25px; }
.history-list { padding: 10px 0 10px 10px; background-color: #fff; border-bottom: 1px solid #eaeaea; border-top: 1px solid #eaeaea; }
.history-list li { width: 100%; float: left; padding: 0 15px; }
.history-list li + li { border-top: 1px solid #d7d7d7; }
.history-list li .p-img { width: 100px; height: 100px; float: left; margin-right: 15px; text-align: center; background-color:#eee; border-radius: 5px; overflow: hidden;}
.history-list li h3 { font-size: 14px; color: #444; padding: 0; max-height: 44px; margin-bottom: 3px; line-height: 22px; word-break: break-all; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.history-list li p { padding: 0 10px 4px; font-size: 14px; color: #E3393C; }
.history-list li  .p-img b { width: 100%; height: 100%; display: block; background-size: 100% auto; background-position: center; background-repeat: no-repeat; background-color: #fff; opacity: 0;transition: opacity .4s ease-in; }

.topic-list { padding: 10px; margin-bottom: -10px; }
.topic-list li { width: 100%; position: relative; margin-bottom: 10px; line-height: 0; min-height: 100px;  }
.topic-list li a{ display: block; background-color: #eee;}
.topic-list li img { width: 100%;opacity: 0;transition: opacity .4s ease-in; }
.topic-list li div { position: absolute; top: 50%; margin-top: -10px; text-align: center; width: 100%; }
.topic-list li p { display: inline-block; padding: 12px 45px; background: rgba(0,0,0,0.5); font-size: 18px; color: #fff; line-height: 36px; position: relative; }
.topic-list li p:after { border-bottom: 1px solid #ff2626; content: ''; width: 100%; height: 0; position: absolute; bottom: 11px; left: 0; }
.topic-list li p span { border-bottom: 1px solid #fff; margin-bottom: -1px; display: block; z-index: 1; position: relative; }
.topic-list li:nth-child(2n) p { background: rgba(255,255,255,0.5); color: #020202; }
.topic-list li:nth-child(2n) p span { border-color: #020202; }


/*优惠券*/
.coupon-list .coupon-hd{ padding:10px; background-color: #fff;}
.coupon-list .coupon-hd span{ width: 50%; text-align:center; border-bottom:2px solid #ddd; line-height:32px; font-size:15px; cursor:pointer; display: block; float: left;}
.coupon-list .coupon-hd span.active{ color:#E3393C; border-color:#E3393C;}
.coupon-list .coupon-hd span.only-child{ width:100%; border:1px solid #e2e2e2;}
.coupon-list .coupon-bd{ padding-bottom: 10px;}
.coupon-list .coupon-bd ul{ display:none}
.coupon-list *{ margin: 0;}
.coupon-list .coupon-bd li{ background-color:#fff; overflow:hidden; position: relative; padding:10px 12px;}
.coupon-list .coupon-bd li:after{position: absolute;top: 0; left:0; height: 1px; width: 100%; content: ''; -webkit-transform: scaleY(.5); transform: scaleY(.5); background-color: #eee;}
.coupon-list .cou-card div{ float:left; margin-right: 10px;}
.coupon-list .cou-card{ position: relative;}
.coupon-list .cou-card a{ width:50px; height:50px; text-align:center; line-height:50px; display:table-cell; vertical-align:middle; font-size:50px;}
.coupon-list .cou-card a img{ width:100%; vertical-align:middle; display:inline;}
.coupon-list .cou-card h3{color:#333; font-size:14px; line-height:1.8; padding-top: 6px; padding-right: 90px; overflow: hidden; height: 34px; text-overflow: ellipsis;white-space:nowrap;}
.coupon-list .cou-card p{ color:#999; font-size:10px; line-height:1;}
.coupon-list .cou-text{ position: absolute; top: 8px; right: 12px; text-align: center; color: #fff;}
.coupon-list .cou-price{ width: 84px;}
.coupon-list .cou-text:before,.coupon-list .cou-text:after{ content: ''; position: absolute; top: 23px; width: 8px; height: 8px; background: #fff; border-radius: 100%;}
.coupon-list .cou-text:before{left: -4px;}
.coupon-list .cou-text:after{right: -4px;}
.coupon-list .cou-price h3{ font-size: 22px; position: relative; line-height: 22px; padding-top: 4px;}
.coupon-list .cou-price h3 i{ font-size: 16px; margin-right: 2px;}
.coupon-list .cou-price h3:after{position: absolute;bottom: 0; left:10%; height: 1px; width: 80%; content: ''; -webkit-transform: scaleY(.5); transform: scaleY(.5); background-color: #fff;}
.coupon-list .cou-price p{ font-size: 10px; line-height: 26px; color: #fff;}
.coupon-list .coupon-blue.cou-price{background-color: #01b7aa;}
.coupon-list .coupon-red.cou-price{background-color: #fe4958;}
.coupon-list .coupon-gold.cou-price{background-color: #ffaf3e;}
.coupon-list .disabled .cou-price{ background: #D4D4D4;}
.coupon-list .disabled img{ opacity: .6;}
.coupon-list .coupon-user{ position: absolute; left: 0;top: 0;width: 100%;height: 100%; background-color: rgba(0,0,0,0.8);}
.coupon-list .coupon-user a{ border: 1px solid #fff; width: 100px; text-align: center; padding: 8px 0; color: #fff; display:block; margin: 15px auto 0; border-radius: 4px;}

/*商城分类*/
.category-box{ padding-top:44px; margin-top:-44px; height:100%; width:100%; overflow:hidden}
.category1{ height:100%; float:left; width:25%;background-color: #f3f3f3; position:relative;}
.category1 ul{ }
.category1 li{ width:100%; float:left;height: 44px;line-height: 44px;padding: 0 10px;background-color: #f3f3f3;border-top: 1px solid #e5e5e5;font-size: 14px; position:relative;}
.category1 li.cur{color:#e73641}
.category1 li.cur:before{ position:absolute; right:0; top:50%; margin-top:-5px; content:''; display:block;display: inline-block;border-width: 6px;border-color: transparent #fff transparent transparent;border-style: dashed solid dashed dashed;}
.category2{ height:100%; float:right; width:75%; background-color:#fff; overflow-y: auto;}
.category2 dl{padding: 0 10px 10px 10px; margin:0;}
.category2 dt {margin-top: 5px;line-height: 2;color: #333; font-size:14px; font-weight:normal;}
.category2 dd{padding-right: 10px; margin: 0;}
.category2 dd img{ width: 50px; height: 50px;}
.category2 dd a {float: left;display: block; width: 33.33%;min-height: 80px;font-size: 12px;padding: 4px 0;margin: 5px 5px 5px 0;text-align: center;background-color: #f8f8f8;}
.category2 dd a:nth-child(3n) {margin-right: -10px;}
.category2 dd a:hover{color: #666;}
.category2 dd span{display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;height: 30px;line-height: 34px;}

/*微店*/
.custom-title{ font-size: 16px; color: #333; padding: 10px 10px 5px;}
.custom-title span{ float: right;}
.vshop-info{ position: relative; padding:0 10px; margin-bottom: 10px;}
.vshop-info .vshop-img{background-color: #ddd; display: block; line-height: 0; }
.vshop-info img{ width: 100%; opacity: 0;transition: opacity .4s ease-in;}
.vshop-info .vshop-info-text{ position: absolute; right: 10px; bottom: 20px; background: rgba(0,0,0,0.8); color: #fff; height: 50px; width: 70%; overflow: hidden;}
.vshop-info .vshop-info-text i{ display: block; width: 50px; height: 50px; float: left; border-right: 1px solid rgba(255,255,255,0.5); font-size: 30px; line-height: 50px; text-align: center;}
.vshop-info .vshop-info-text a{ color: #fff; background-color: transparent;}
.vshop-info .vshop-info-text h3{ font-size: 16px; padding:3px 0 0 60px;}
.vshop-info .vshop-info-text p{ margin: 0; padding-left: 55px;}
.vshop-info .vshop-info-text span{ color: #FFFFFF; font-size: 14px; padding:0 5px; line-height: 1;}
.vshop-info .vshop-info-text span+span{ border-left: 1px solid #fff;}

.vshop-coupon{ width: 100%; overflow-x: auto; overflow-y: hidden;}
.vshop-coupon ul{overflow: hidden; white-space: nowrap; height: 60px; margin-top: 10px;}
.vshop-coupon li{ float: left;  white-space: normal; width: 40%; color: #fff; height:60px; position: relative; box-shadow: 0 0 2px #fff;}
.vshop-coupon li:after,.vshop-coupon li:last-child:before{ content: ''; position: absolute; top: 0;left: -4px; width: 8px; height: 60px; background: url(../images/flow.png) repeat-y; background-size:100% auto;}
.vshop-coupon li:last-child:before{ left: auto;right: -4px;}
.vshop-coupon .coupon-price{ width: 55%; text-align: center; float: left;}
.vshop-coupon .coupon-price h3{ line-height: 60px; margin: 0; height: 60px;}
.vshop-coupon .coupon-price i{ font-size: 16px;}
.vshop-coupon .coupon-price span{ font-size: 12px;}
.vshop-coupon .coupon-btn{ width: 45%; text-align: center; float: right;}
.vshop-coupon .coupon-btn p{ color: #fff; line-height: 14px; padding: 4px 0; margin: 0; font-size: 12px; }
.vshop-coupon .coupon-btn a{color: #fff; display: block; line-height: 24px; text-align: center; }

.vshop-coupon .coupon-blue .coupon-price{background-color: #01b7aa;}
.vshop-coupon .coupon-blue p{background-color:#009282 ;}
.vshop-coupon .coupon-blue a{background-color:#00564d ;}
.vshop-coupon .coupon-red .coupon-price{background-color: #fe4958;}
.vshop-coupon .coupon-red p{background-color:#c73b48 ;}
.vshop-coupon .coupon-red a{background-color:#8d010e ;}
.vshop-coupon .coupon-gold .coupon-price{background-color: #ffaf3e;}
.vshop-coupon .coupon-gold p{background-color:#d37e0a ;}
.vshop-coupon .coupon-gold a{background-color:#a55a00 ;}
.vshop-coupon .coupon-gray .coupon-price{background-color: #ddd;}
.vshop-coupon .coupon-gray p{background-color:#b6b5b5 ;}
.vshop-coupon .coupon-gray a{background-color:#a7a6a6 ;}

.mui-table-view.vshop-product{ background-color: transparent; padding:0 5px 5px;}
.mui-table-view.vshop-product:after{ position:static;}
.mui-table-view.vshop-product li.mui-table-view-cell{ padding: 0 5px; margin:0 0 10px; display: block; float: left;}
.vshop-product li .p-img{ width: 100%; overflow: hidden; background-color: #ddd;}
.vshop-product li .p-img b{ width: 100%; height: 100%; display: block; background-size: cover; background-position: center; background-repeat: no-repeat; background-color: #fff; opacity: 0;transition: opacity .4s ease-in;}
.vshop-product-box{ background-color: #fff; height: 100%; border-radius: 3px; overflow: hidden; position: relative;}
.vshop-product p{ padding: 5px; border-top: 1px solid #f2f2f2; margin:5px 5px 0; text-align: left;}
.vshop-product p span{ color: #E3393C; margin-right: 5px; }

.vshop-head{ background-color: #fff;}
#vshopHead .vshop-head{ padding: 5px;}
.vshop-head img{height: 30px; vertical-align: middle; margin:0 5px;}
.vshop-head i{ margin-left: 10px;}
.vshop-nav{ border: 0; border-bottom: 1px solid #eaeaea;border-top: 1px solid #eaeaea; background: #fff;}
.vshop-nav a{ position: relative;display: table-cell; width: 1%; overflow: hidden; line-height: 38px; color: #333; text-align: center;}
.vshop-nav a+a:before { height: 16px;position: absolute;top: 10px;left: 0;border-left:1px solid #ddd;content: '';display: block;}
.vshop-nav a:active{background-color: #F2F2F2;}
.vshop-intro p,.vshop-score p{ color: #666;}
.vshop-score p em{ color: #E3393C; margin-right: 20px;}
.vshop-intro img{ width: 60%;}

/*提交订单*/
.order-submit{margin-top: 5px; padding-bottom: 60px;}
.order-info{margin-top: 10px; background-color: #fff;border-bottom: 1px solid #e6e7e7;border-top: 1px solid #e6e7e7;padding: 10px;overflow: hidden;}
.order-info .order-shop{ padding-bottom: 6px;}
.order-info .order-shop span{ color: #E3393C;}
.order-info .buy-goods{ background: #F8F8F8; margin: 4px -10px 0; padding: 10px 10px; height: 100px;}
.order-info .buy-goods img{ width: 80px; height: 80px; float: left; margin-right: 10px;}
.order-info .buy-goods p{ margin: 0; }
.order-info .buy-goods p span{ width: 50%; height: 40px;line-height: 20px; word-break: break-all; overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.order-info .buy-goods p em{ float: right; color: #000;}
.order-info .buy-goods h5{ margin-top: 3px; height:16px; line-height: 16px; font-size: 12px;}
.order-info .buy-goods h5 span{float: right; color: #666;}
.order-info .item-text{ padding-top: 10px; color: #6b6c6e;}
.order-info .item-text .order-total{color: #999;}
.order-info .item-text .order-total em{color: #333;}
.order-info .total-m{padding-top:10px; margin-top:10px; position: relative;}
.order-info .total-m:after { position: absolute;top: 0; left: 0; height: 1px; width: 110%; content: ''; -webkit-transform: scaleY(.5); transform: scaleY(.5); background-color: #eaeaea;}
.order-info .total-m span em{ margin-left: 10px; color: #E3393C;}
.order-info .item-score span{line-height: 30px;}
.order-info .item-score em{ color: #E3393C; margin-left: 15px;}

.order-price-total{ float: left; font-size: 14px; color: #1e1e1e;line-height: 50px; padding-left: 10px;}
.order-price-total em{color: #E3393C;}
.order-price-total span{color: #E3393C; margin-left: 10px; font-size: 18px; }
.item-btn{text-align: right;}
.item-btn button{margin-left: 15px;}
.express-box p{ margin-bottom: 10px;}
.express-box span{ padding-left: 20px; color: #666;}
.express-loading{position: relative; height: 80px;}
.dcontent{ position: fixed; width: 80%; left: 50%;top: 50%; background: #fff; padding: 20px; border-radius: 5px; box-shadow: 0 0 5px rgba(0,0,0,0.5); z-index: 9999;-webkit-transform:translate(-50%,-50%) scale(0.7);transform:translate(-50%,-50%) scale(0.7);opacity: 0;-webkit-transition: all 0.2s;transition: all 0.2s;visibility: hidden;}
.dcontent.active {-webkit-transform:translate(-50%,-50%) scale(1);transform:translate(-50%,-50%) scale(1);opacity: 1;visibility: visible;}
.dcontent div+div{ margin-top: 10px;}
.empty-show{ position: fixed; top: 50%; left: 0; width: 100%; padding: 0 20px; text-align: center; transform: translateY(-50%); -webkit-transform:translateY(-50%) ; color: #a2a2a2; font-size: 14px;}
.empty-show button{ padding: 10px 30px; margin-top: 15px;}

/*收货地址*/
.form-list li a:not(.mui-btn){color: #666;padding:5px 25px 5px 15px;display:block;overflow:hidden;}
.form-list li:after {display: none;}
.form-list li .mui-navigate-right:after {right: 10px;}
.form-list li a .f-l {float: left;}
.form-list li .f-r {float: right;}
.form-list li {line-height: 30px;overflow: hidden;background: #fff;color: #666;font-size: 14px;position: relative;margin: 10px 0 0 0;}
.form-list li.certification {padding: 5px 15px;background: none; }
.form-list li.certification a {padding: 0 10px;background: #fff;display: block;height: 40px;line-height: 40px;color: #fff;font-size: 16px;border-radius: 3px;-webkit-border-radius: 3px;text-align: center;background: #E3393C;}
.form-list li.certification a:active {background: #cf2d28;}
.form-list li .icon-radio-push:before {display: none;}
.form-list .mui-table-view-cell .mui-active {background: #E7E7E8;}
.form-list li .input {background: none;width: 100%;border: none;height: 40px;text-indent: 15px;}
.form-list li.input-in {padding: 0 15px;line-height: 40px;}
.form-list li.input-in .input {text-align: right;width: 200px;margin: 0;font-size: 14px;}

.address-list li{ position: relative; }
.address-list li a{color: #333333;}
.address-list li i.icon-right{ position: absolute; right: 5px; top: 10px; padding: 10px;}
.address-list li .mui-navigate-right:after{display: none;}
.address-list li p{ color: #666; width: 100%; overflow: hidden; text-overflow: ellipsis;}
.address-list li p span{margin-right: 6px;}
.address-list li p i{font-size: 18px; margin-left: -3px;}
.address-list li p:first-of-type span{ color: #333; margin-right: 20px;}

/*搜索页*/
.search-box{ position: relative; margin:1px 10px;}
.search-box .search-text{ background: #fff; color: #666; text-align: left; font-size: 14px; vertical-align: top; border-radius: 3px;}
.mui-bar .search-box .search-btn{ position: absolute; right: 0; top: 5px; color: #E3393C; font-size: 24px; font-weight: bold; padding: 5px 10px;}
.fixed-inner{background-color: #fff;border-bottom: solid 1px #DDD;height: 44px;width: 100%;padding: 0; position:fixed; top:44px; left:0; z-index:777; box-shadow: 0 1px 2px rgba(0,0,0,0.1); }
.fixed-inner a {color: #666;height: 43px;line-height: 43px;text-align: center; width:20%; display: block;float: left; font-size:14px;}
.fixed-inner a+a{border-left: solid 1px #EEE;}
.fixed-inner a.select {color: #E33B3D;}
.icon_sort {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAYCAYAAADzoH0MAAAA1ElEQVR42u2UTQrCMBCFI/UAFa+gVjxFEQ9TPE8RcoB6C/EE/uzFtfizEHd1o28kA4O0NZNuDXzdfY+SmTxjao61dgrO4ARSozkQJuABXo47SHzlPjgKmTmA+JfcBesKmVmBqE7ugEWDzOR18txDZrLvgBl4KgJKmhLLI3BTyMwVDClgHyAzWwpYKn+fIacw//MZY9HqEvHZtBjjjgIGbim08oVcWR5l0CqLu8iCH5MIyYOeswiIXGnoC0WExK6+qiqt57sbiStSWapj7YKlrtIba/0NqA5XS9NeO6AAAAAASUVORK5CYII=);width: 8px;height: 12px;display: inline-block;background-size: 8px 12px;-webkit-background-size: 8px 12px;overflow: hidden;margin-left: 3px; vertical-align:-2px;}
.icon_sort_single {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAkElEQ…xkb8zHFph4NRKTkEYNoIIBT/AY8IQYAzyA+DkWzSAxD3T1AGfIcMiAc+6HAAAAAElFTkSuQmCC);width: 8px;height: 9px;display: inline-block;background-size: 8px 9px;-webkit-background-size: 8px 9px;overflow: hidden;margin-left: 3px;}
.state_switch .icon_sort_single {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAlElEQVR42mNgQANpaWn2QHwSiP+jYZCYPQMhAFT0HItmGH5OjAH/8eFRA2hhAFBwPhB/I6QRCwbpmQ8y4AwZmuGJC2SAChC/IkMzSI8KzBtOQPyTBM0gtU7oYZFGggFpuGJgMhGaJ+OLQmYg3oVHM0iOmVA64Afi21g0g8T4GYgB0Jj5gKT5AzzEiQXQguUJFOMsSAD1NXDFkXt2/wAAAABJRU5ErkJggg==);}
.icon_switch {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEUAAABmZmZ+SwYRAAAAAXRSTlMAQObYZgAAABxJREFUeNpj+P/H/j8DmDjAY8BMGoHQiw1QxWQAYWQttdWMsqkAAAAASUVORK5CYII=);width: 16px;height: 16px;display: inline-block;background-size: 16px 16px;-webkit-background-size: 16px 16px;overflow: hidden;vertical-align: -2px;margin: 0 5px;}
.select .icon_sort {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAYCAYAAADzoH0MAAAA2ElEQVR42u3UzQmDMBjG8YAL1B2EukMp1Exj97EHB7BT1AlKcQCPPQj24rXtwT4P+IKIiUnODfxANP8X/EClDOt5OGbQTU7KZyFIYYBxwuO9axxDO4sFz+224gjqlVjcuMc2oLDEojDFuUMs8mWs4e0xgHu1xAn0HrFgk3DAPSAWDQdc4RsQs6nUfylVlmUFHxg9sak44BEQi4YDEngFxD1buQ0Nb4+Ye/XyWZw9BuSmB3pxiAvbG4mgtsS8Fm291hjalZjnYtdvI4VhFvM49f3AMugmxt/6DwgMIppbpINyAAAAAElFTkSuQmCC);}
.state_switch .icon_sort {transform: rotate(180deg);-webkit-transform: rotate(180deg);}
.select.state_switch .icon_sort_single {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAlUlEQVR42mNgQAOPrW3tgfgkEP9HwyAxewZCAKjoORbNMPycGAP+48OjBtDCAKDgfCD+RkgjFgzSMx9kwBkyNMMTF8gAFSB+RYZmkB4VmDecgPgnCZpBap3QwyKNBAPScMXAZCI0T8YXhcxAvAuPZpAcM6F0wA/Et7FoBonxMxADoDHzAUnzB3iIEwugBcsTKMZZkAAAZgCM9be+9J4AAAAASUVORK5CYII=);}
.state_switch .icon_switch {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEUAAABmZmZ+SwYRAAAAAXRSTlMAQObYZgAAACFJREFUeNpj+P+HgYEBTBzgARP2/2EEQgyHLEIvNkAVkwEkzym53pX1XwAAAABJRU5ErkJggg==);}
.switch  i{ vertical-align:middle;}
.mui-table-view.crossrange{padding: 0;}
.mui-table-view.crossrange li.mui-table-view-cell{ margin: 0; padding: 0; height: 120px; width: 100%;border-bottom: solid 1px #f3f3f3; }
.crossrange .vshop-product-box{border-radius: 0;}
.mui-table-view.crossrange .mui-table-view-cell .mui-media-body{ padding-left: 120px; margin-top: 15px;}
.crossrange p{ padding-left: 120px; border: 0;}
.crossrange li{ width:100%; margin:0; border:0;padding: 15px 0;}
.crossrange li .p-img{width:100px; height:100px !important; position: absolute;left: 10px; top:10px}
.crossrange li img{ max-width:100%; max-height:100%;}

.screen-box{ position: fixed; background-color: #eeeff3; height: 100%; width: 86%; overflow-y: auto;z-index: 9999;right: 0; top: 0; transform: translateX(100%);-webkit-transform: translateX(100%); transition: all .3s; -webkit-transition: all .3s;}
.screen-box.active{transform: translateX(0);-webkit-transform: translateX(0); box-shadow: 0 0 3px rgba(0,0,0,0.5);}
.screen-box .mui-radio input[type=radio]{ right: 6px;}
.screen-box .mui-collapse a em{ color: #E3393C;}
.screen-head{ padding: 0 10px; background-color: #fff; line-height: 44px; height: 44px; position: relative;}
.screen-head h1{ text-align: center; font-size: 17px; line-height: 44px; margin: 0;}
.screen-head a{ position: absolute; right: 15px; top: 0;}
.screen-head a:first-child{ left: 15px; right: auto;}
.collapse-line{ height: 10px; background-color: #eeeff3;}
.screen-bot{ text-align: center; padding: 15px;}
.screen-bot button{ width: 100%; padding: 8px 0;}

/*关于我们*/
.aboutus{ padding: 15px; background-color: #fff;}
.aboutus p img{ margin: 10px auto; display: block; max-width: 100%;}
.aboutus p{ color: #666; line-height: 1.7;}

.red{ color: #E3393C;}
.gray{ color: #999;}
.hidden{ display: none;}
.transparent{ opacity: 0;}
.mt10{ margin-top: 10px;}
.mt20{ margin-top: 20px;}
.custom-btn{padding:0 10px; background:#fff; display:block;height:40px; line-height:40px; color:#fff;font-size:16px;border-radius:3px;-webkit-border-radius:3px; text-align:center;background:#E3393C;}
.custom-btn:active{background:#cf2d28; color: #fff;}
.custom-btn-default{position: relative;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42;color: #333;text-align: center;white-space: nowrap;vertical-align: top;cursor: pointer;background-color: #fff;background-clip: padding-box;border: 1px solid #ccc;border-radius: 3px;-webkit-transition: all;transition: all;-webkit-transition-timing-function: linear;transition-timing-function: linear;-webkit-transition-duration: .1s;transition-duration: .1s;}
.custom-btn-default:active{ background-color: #D4D4D4;}
.view-more-text{ position: absolute; font-size: 12px; color: #999;right:30px;}
.view-choose-text{ position: absolute;color: #666;right:35px;}


