html,body{
	background-color: white;
}
/*新增功能图标*/
.newfeature{
	color: rgba(255, 0, 0, .7);
	font-size: 14px !important;
}
/*自定义加载缓冲等待*/
.mui-loading {
	/*margin-top: 50px;*/
	padding-top: 50px;
	background-color: white;
	text-align: center;
}
/*数据请求完成*/
.mui-loaded{
	margin-top: 50px;
	text-align: center;
}
/*列表表格内容样式调整*/
.mui-table .mui-table-cell,.mui-table .mui-table-cell .mui-text-right{
	text-align: center !important;
}
/*页面标题样式*/
.mui-title{
	color: #007aff;
}
/*菜单样式*/
.barstyle{
	color: #007aff;
}
/*覆盖bootstrap对a*/
header a,header span{
    text-decoration: none !important;
    color: #007AFF;
}
