		/*.mui-content .tableheader{
			position: fixed;
			z-index: 2;
		}
		.mui-table-view .mui-table-view-cell{
			text-align: center;
		}
		.mui-content .tablecontent{			
			background-color: white;
			margin-top: 65px;
			width: 100%;
			height: 250px;
			overflow: auto;
		}
		.mui-content .chartcontent{			
			background-color: white;			
			margin-top: 315px;
			height: 100%;
			width: 100%;
		}
		.mui-content .tableheader ul,.mui-content .tableheader ul h6{
			background-color:#007AFF;
			color: white;
		}
		.mui-bar a{
			color:#007aff !important;
			font-size: smaller;
		}*/
		
		
		/*.mui-table-view .mui-table-view-cell{
			text-align: center;
		}
		.mui-content .table{
			background-color: white;
			width: 100%;
			height: 40%;
		}
		.mui-content .table .tableheader{			
			width: 100%;
		}
		.mui-content .table .tablecontent{			
			background-color: white;
			width: 100%;
			height: 27%;
			overflow: auto;
		}
		.mui-content .chartcontent{			
			background-color: white;			
			margin-top: 0px;
			height: 60%;
			width: 100%;
		}
		.mui-content .tableheader,.mui-content .tableheader h6{
			background-color:#007AFF;
			color: white;
		}
		.mui-bar a{
			color:#007aff !important;
			font-size: smaller;
		}*/
		
		.mui-table-view .mui-table-view-cell{
			text-align: center;
		}
		.mui-content .table{
			background-color: white;
			width: 100%;
		}
		.mui-content .table .tableheader{			
			width: 100%;
		}
		.mui-content .table .tablecontent{			
			background-color: white;
			width: 100%;
			height: 100%;
			overflow: auto;
		}
		.mui-content .chartcontent{			
			background-color: white;			
			height: 100%;
			width: 100%;
			
		}
		.mui-content .tableheader,.mui-content .tableheader h6{
			background-color:#007AFF;
			color: white;
		}
		.mui-bar a{
			color:#007aff !important;
			font-size: smaller;
		}
		.mui-slider-indicator .mui-active{
			background-color: #3188DE !important;
		}
		.mui-slider-indicator .mui-indicator{
			background-color: white;
			box-shadow: 0 0 1px 1px #3188DE;
			-webkit-box-shadow:0 0 1px 1px #3188DE;
		}