/*导航头公共样式*/
.mui-bar .mui-title {
	color: #007aff;
	left: 50px;
	right: 50px;
	font-size: 19px;
}
.mui-bar .mui-icon{
	padding-top:7px;
	padding-bottom:7px;
	font-size:30px;
}
.mui-bar-nav.mui-bar .mui-icon {
	padding-left: 0;
}
.mui-bar.mui-bar-nav{
	box-shadow: none;
}
