<template>
	<section v-class="activity-block:true,mui-hidden:!left&&!loading">
		<span v-if="loading" class="mui-spinner"></span>
		<div v-if="!loading&&left" class="activity-list">
			<div class="act-item act-left" v-on="tap:openByActivity(left)" data-href="{{left.activity_url}}">
				<img v-attr="src:left.icon" />
			</div>
			<div class="act-right">
				<div v-repeat="item in right" v-on="tap:openByActivity(item)" class="act-item act-right-top" data-href="{{item.activity_url}}">
					<img v-attr="src:item.icon" />
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	var Store = require('../store');
	module.exports = {
		mixins: [require('../mixins/open')],
		data: function() {
			return {
				loading: true,
				left: false,
				right: []
			}
		},
		methods: {
			update: function() {
				this.loading = true;
				Store.getActivity(function(activities) {
					var right = [];
					activities.map(function(activity) {
						if (activity.type == 0) {
							this.left = activity;
						} else {
							right.push(activity);
						}
					}.bind(this));
					this.right = right;
					this.loading = false;
				}.bind(this));
			}
		}
	}
</script>

<style>
</style>