<template>
	<header>
		<div class="banner-placeholder">
		</div>
		<span v-if="loading" class="mui-spinner"></span>
		<div v-if="!loading&&activities.length" id="slider" class="mui-slider">
			<div class="mui-slider-group mui-slider-loop">
				<template v-repeat="item in activities">
					<div class="mui-slider-item mui-slider-item-duplicate" v-if="$index==0">
						<a data-href="{{activities[activities.length-1].activity_url}}">
							<img v-attr="src:activities[activities.length-1].activity_pic" />
						</a>
					</div>
					<div class="mui-slider-item">
						<a data-href="{{item.activity_url}}" v-on="tap:openByBanner(item)">
							<img v-attr="src:item.activity_pic" />
						</a>
					</div>
					<div class="mui-slider-item mui-slider-item-duplicate" v-if="$index==activities.length-1">
						<a data-href="{{activities[0].activity_url}}">
							<img v-attr="src:activities[0].activity_pic" />
						</a>
					</div>
				</template>
			</div>
			<div id="indicator" v-if="activities.length" class="mui-slider-indicator mui-hidden">
				<div v-class="mui-indicator:true,mui-active:$index==0" v-repeat="item in activities"></div>
			</div>
		</div>
	</header>
</template>

<script>
	var Store = require('../store');
	module.exports = {
		mixins: [require('../mixins/open')],
		data: function() {
			return {
				loading: true,
				activities: []
			}
		},
		watch: {
			'activities': function(val, oldVal) {
				if (val.length) {
					mui('#slider').slider({
						interval: 3000
					});
					setTimeout(function() {
						document.getElementById("indicator").classList.remove('mui-hidden');
					}, 1000);
				}
			}
		},
		methods: {
			update: function() {
				this.loading = true;
				Store.getBanner(function(activities) {
					this.loading = false;
					this.activities = activities;
				}.bind(this));
			}
		}
	}
</script>

<style>
</style>