<template>
	<div v-class="broken-pop:true,active:active" v-on="touchmove:touchmove">
		<div style="text-align: center;width: 204px;margin: 0 auto;">
			<img v-attr="src:'img/broken.png'" style="width:102px;height: 102px;margin:150px auto 20px;" />
			<h2 style="font-size: 18px;color: #999;font-weight: normal;">加载失败，请稍后刷新</h2>
			<button v-on="tap:refresh" type="button" class="mui-btn mui-btn-primary" style="background-color: #03a9f4;border: 1px solid #03a9f4;font-size:20px;margin-top: 50px;padding: 12px 50px;">刷新试试</button>
		</div>
	</div>
</template>

<script>
	var Util = require('../util');
	module.exports = {
		data: function() {
			return {
				active: false
			};
		},
		ready: function() {
			this.refresh(false);
		},
		methods: {
			close: function() {
				this.active = false;
			},
			touchmove: function(e) {
				e.preventDefault();
			},
			refresh: function(dispatch) {
				mui.plusReady(function() {
					//无网
					if (plus.networkinfo.CONNECTION_NONE === plus.networkinfo.getCurrentType()) {
						this.active = true;
						if (dispatch !== false) {
							Util.toast('您的网络好像不太给力，请稍后再试');
						}
					} else {
						this.active = false;
						if (dispatch !== false) {
							this.$dispatch('refresh');
						}
					}
				}.bind(this));
			}
		}
	}
</script>
<style>
	.broken-pop {
		position: fixed;
		top: 0;
		width: 100%;
		max-width: 480px;
		margin: 0 auto;
		height: 100%;
		background: #fff;
		display: none;
		-webkit-box-orient: vertical;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		z-index: 1000;
	}
	.broken-pop.active {
		display: -webkit-box;
		display: flex;
	}
</style>