<template>
	<span class="flowstatus" style="display:{{active?'inline':'none'}};background-color: #fce67f;color: #03a9f4;margin-left:6px;padding: 3px 10px 2px;font-size: 12px;font-weight: bold;border-radius: 3px;vertical-align: 2px;">免流量</span>
</template>

<script>
	var Store = require('../store');
	var Util = require('../util');
	module.exports = {
		data: function() {
			return {
				active: false
			}
		},
		ready: function() {
			//检测免流量
			document.addEventListener("netchange", this.handleNetChange); //监听网络变化
			mui.plusReady(function() {
				this.handleNetChange();
			}.bind(this));
		},
		methods: {
			handleNetChange: function() {
				Util.DEBUG && Util.D('flowstatus network:' + (plus && plus.networkinfo.getCurrentType()));
				if (Util.supportFree() && Store.getFreeTrafficBalance() > 0 && Store.getFlowTree() != '0') { //支持免流量，有余额，且云控未关闭免流量
					var apn = plus.networkinfo.getCurrentAPN();
					var showFlowStatus = true;
					if (apn && apn.name) { //2g||3g||4g
						Util.DEBUG && Util.D('flowstatus APN:' + apn.name);
						if (/wap/i.test(apn.name)) { //wap
							showFlowStatus = false;
						}
					} else { //wifi
						showFlowStatus = false;
					}
					this.active = showFlowStatus;
				} else {
					this.active = false;
				}
				Util.DEBUG && Util.D('flowstatus active:' + this.active);
			}
		}
	}
</script>

<style>
</style>