<template>
	<div v-class="pop:true,active:active" v-on="touchmove:touchmove">
		<div class="pop-wrap">
			<div class="pop-title els"><span class="mui-icon mui-icon-info"></span>免流量提醒</div>
			<div class="pop-info">
				您正使用2g/3g/4g网络浏览内容，开启免流量功能，将不再消耗流量
				<br>
				<a v-on="tap:openHelp" style="text-decoration: underline;float: right;color: #03a9f4;">了解一下</a>
				<div class="mui-clearfix"></div>
			</div>
			<div class="pop-btn-wrap clearfix">
				<a v-on="tap:close" class="pop-btn pop-btn-cancel btn-close-pop">取消</a>
				<a v-on="tap:openBind" class="pop-btn pop-btn-sure">立即开启</a>
			</div>
		</div>
	</div>
</template>

<script>
	var Store = require('../store');
	var Logger = require('../logger');
	var Util = require('../util');
	module.exports = {
		props: ['active'],
		watch: {
			'active': function(val, oldVal) {
				if (!oldVal && val) {
					mui.plusReady(function() {
						Logger.logMllByPop(); //免流量提示打开
					});
				}
			}
		},
		methods: {
			close: function(log) {
				this.active = false;
				log !== false && Logger.logMllByPopAction(1); //免流量提示关闭
			},
			openHelp: function() {
				this.close(false);
				Logger.logMllByPopAction(3); //免流量提示打开了解更多
				var helpWebview = plus.webview.getWebviewById('help');
				if (!helpWebview) {
					Util.showWaiting();
					helpWebview = plus.webview.create('help.html', 'help', {
						popGesture: 'close'
					});
					helpWebview.addEventListener('loaded', function() {
						Util.closeWaiting();
						helpWebview.show('pop-in', 300);
					});
				} else {
					helpWebview.show('pop-in', 300);
				}
			},
			openBind: function() {
				this.close(false);
				Logger.logMllByPopAction(2); //免流量提示点击立即绑定
				var bindWebview = plus.webview.create('bind.html', 'bind', {
					popGesture: 'close'
				});
				Util.showWaiting();
				bindWebview.addEventListener('loaded', function() {
					Util.closeWaiting();
					bindWebview.show('pop-in', 300);
				});
			},
			touchmove: function(e) {
				e.preventDefault();
			}
		}
	}
</script>

<style type="text/css">
	.pop {
		position: fixed;
		top: 0;
		width: 100%;
		max-width: 480px;
		margin: 0 auto;
		height: 100%;
		background: rgba(0, 0, 0, .3);
		display: none;
		-webkit-box-orient: vertical;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		z-index: 1000;
	}
	.pop.active {
		display: -webkit-box;
		display: flex;
	}
	.pop-wrap {
		width: 90%;
		background: #fff;
		padding-top: 5px;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -55%);
		transform: translate(-50%, -55%);
	}
	.pop-title {
		height: 50px;
		font-size: 17px;
		color: #03a9f4;
		line-height: 2.94;
		padding-left: 10px;
		background-position: 15px center;
		background-size: 20px 20px;
		background-repeat: no-repeat;
		border-bottom: 1px solid #03a9f4;
	}
	.pop-info {
		padding: 27px 15px 30px;
		line-height: 1.79;
		font-size: 14px;
		color: #4f4f4f;
		height: 137px;
	}
	.pop-btn-wrap {
		border-top: 1px solid #c0ccca;
		height: 50px;
		font-size: 15px;
		line-height: 3.33;
	}
	.pop-btn {
		display: inline-block;
		width: 50%;
		height: 100%;
		float: left;
		text-align: center;
		font-size: 15px;
		color: #000000;
		-webkit-box-sizing: border-box;
	}
	.pop-btn-sure {
		border-left: 1px solid #c0ccca;
		color: #03a9f4;
	}
</style>