<template>
	<section class="rec-block">
		<div class="rec-title">
			<h1 class="els">热门服务</h1>
		</div>
		<span v-if="loading" class="mui-spinner"></span>
		<div v-if="!loading&&items.length" v-repeat="item in items" v-on="tap:openByHotServer(item)" class="block-list rec-list" data-href="{{item.url}}">
			<div class="icon">
				<img v-attr="src:'img/alt.png'" data-lazyload="{{item.logo}}">
			</div>
			<div class="detail">
				<h2 class="els"><i>{{item.classify}}</i>{{item.name}}</h2>
				<p class="els" v-html="item.brief"></p>
				<div class="detail-info">
					<div class="provider els" v-html="item.provider"></div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	var Store = require('../store');
	module.exports = {
		mixins: [require('../mixins/open')],
		data: function() {
			return {
				loading: true,
				items: []
			}
		},
		watch: {
			'items': function(val, oldVal) {
				mui('.rec-block').imageLazyload();
			}
		},
		methods: {
			update: function() {
				this.loading = true;
				Store.getHotServer(function(items) {
					this.loading = false;
					this.items = items;
				}.bind(this));
			}
		}
	}
</script>

<style>
</style>