<template>
	<div class="sc-detail">
		<ul class="sc-detail-list">
			<li v-repeat="item in items" track-by="child_class" class="{{item.child_class}}" id="{{item.id}}">
				<div class="sc-detail-banner">
					<div class="sc-padding"></div>
					<div class="sc-image">
						<img v-attr="src:'img/bg-cover.png'" data-lazyload="{{item.child_logo}}">
					</div>
				</div>
				<div v-repeat="item in item.child_list" v-on="tap:openByServerList(item)" class="sc-item" data-href="{{item.url}}">
					<div class="sc-item-logo">
						<img v-attr="src:'img/server-icon.png'" data-lazyload="{{item.logo}}">
					</div>
					<div class="sc-item-title">
						{{item.name}}
					</div>
				</div>
			</li>
		</ul>
	</div>
</template>

<script>
	module.exports = {
		mixins: [require('../mixins/open')],
		props: ['items', 'onScroll'],
		data: function() {
			return {
				tops: []
			};
		},
		ready: function() {
			var detailElem = document.querySelector(".sc-detail");
			mui(detailElem).imageLazyload();
			var cates = document.querySelectorAll('.sc-detail-list li[id]');
			this.maxScroll = detailElem.firstElementChild.offsetHeight - detailElem.offsetHeight;
			this.tops = [0];
			var length = cates.length;
			for (var i = 1; i < length; i++) {
				var offsetTop = cates[i].offsetTop;
				if (offsetTop + 100 >= this.maxScroll) {
					var height = Math.max(offsetTop + 100 - this.maxScroll, 100);
					var totalHeight = 0;
					var heights = [];
					for (var j = i; j < length; j++) {
						var offsetHeight = cates[j].offsetHeight;
						totalHeight += offsetHeight;
						heights.push(totalHeight);
					}
					for (var m = 0, len = heights.length; m < len; m++) {
						this.tops.push(parseInt(this.maxScroll - (height - heights[m] / totalHeight * height)));
					}
					break;
				} else {
					this.tops.push(parseInt(offsetTop));
				}
			}
			detailElem.addEventListener('scroll', function() {
				var scrollTop = detailElem.scrollTop;
				for (var i = 0; i < length; i++) {
					var offsetTop = this.tops[i];
					var offset = Math.abs(offsetTop - scrollTop);
					if (scrollTop < offsetTop) {
						if (scrollTop >= this.maxScroll) {
							this.onScroll(length - 1);
						} else {
							this.onScroll(i - 1);
						}
						break;
					} else if (offset < 20) {
						this.onScroll(i);
						break;
					}
				}
			}.bind(this));
		},
		methods: {
			scrollTo: function(index) {
				document.querySelector(".sc-detail").scrollTop = this.tops[index];
			}
		}
	}
</script>

<style>
</style>