<template>
	<section class="main-block">
		<div class="main-mod">
			<span v-if="loading" class="mui-spinner"></span>
			<ul v-if="!loading&&items.length">
				<li v-repeat="item in items" v-on="tap:onClick(item)" data-href="{{item.service_url}}" data-id="{{item.service_id}}">
					<div class="icon">
						<img v-attr="src:item.service_icon">
					</div>
					<p class="els">{{item.service_sname}}</p>
				</li>
			</ul>
		</div>
	</section>
</template>

<script>
	var Store = require('../store');
	module.exports = {
		mixins: [require('../mixins/open')],
		data: function() {
			return {
				loading: true,
				items: []
			}
		},
		methods: {
			update: function() {
				this.loading = true;
				Store.getAllServer(function(items) {
					this.loading = false;
					this.items = items;
				}.bind(this));
			},
			onClick: function(item) {
				if (item.openmode === 'more') {
					plus && mui.fire(plus.webview.getLaunchWebview(), 'go', 1);
				} else {
					this.openByIcon(item);
				}
			}
		}
	}
</script>

<style>
</style>