<template>
	<div class="sc-menu-list">
		<ul class="sc-menu-outer">
			<li v-repeat="item in items" v-on="tap:handleClick($index,$event)" track-by="cate_class" class="{{item.cate_class+($index===0?' active':'')}}">{{item.cate_name}}</li>
		</ul>
	</div>
</template>

<script>
	module.exports = {
		props: ['items', 'onClick'],
		ready: function() {
			this.wrapper = document.querySelector('.sc-menu-list');
			this.wrapperHeight = this.wrapper.offsetHeight;
			this.maxScroll = this.wrapper.scrollHeight - this.wrapper.offsetHeight;
			this.tops = [];
			var lis = this.wrapper.querySelectorAll('li');
			for (var i = 0, len = lis.length; i < len; i++) {
				this.tops.push(lis[i].offsetTop + 45);
			}
		},
		methods: {
			handleClick: function(index, e) {
				var current = e.currentTarget;
				if (current.classList.contains('active')) {
					return;
				}
				var lastActive = e.currentTarget.parentNode.querySelector('li.active');
				lastActive && lastActive.classList.remove('active');
				current.classList.add('active');
				this.onClick(index);
			},
			scrollTo: function(index) {
				//简单处理分类滚动，要么滚动到底，要么滚动到顶
				if (this.wrapper.scrollTop + this.wrapperHeight < this.tops[index]) {
					this.wrapper.scrollTop = this.maxScroll;
				} else if (this.wrapper.scrollTop > this.tops[index] - 45) {
					this.wrapper.scrollTop = 0;
				}
			}
		}
	}
</script>

<style>
</style>