<template>
	<div v-class="pop:true,active:active" v-on="touchmove:touchmove">
		<div class="pop-wrap">
			<div class="pop-title els" style="padding-left: 20px;font-size:18px;color:#666">已获得{{total}}M免费流量</div>
			<div class="pop-info" style="position: relative;height:137px;padding:20px;">
				<img v-attr="src:'img/flow.png'" style="width:78px;float:left;" />
				<ul style="margin:0;padding:0;margin-left: 100px;line-height: 18px;">
					<li style="margin:0;padding:0;color: #999;list-style-type: disc;">仅限360生活助手中使用，有效期至{{expire | dateFormat 'MM月dd日'}}</li>
					<li style="margin:0;padding:0;color: #999;margin-top:10px;list-style-type: disc;">免流量不包括视频、音频、下载、上传、wap网页、https网页</li>
				</ul>
				<span style="position: absolute;left: 20px;top: 60px;font-size: 20px;color: #fff;display: block;width: 88px;text-align: center;">{{total}}M</span>
			</div>
			<div class="pop-btn-wrap clearfix">
				<a v-on="tap:close" class="pop-btn pop-btn-sure" style="color:#03a9f4;border: 0;margin:0 auto;float: none;display: block;">确认</a>
			</div>
		</div>
	</div>
</template>

<script>
	var Store = require('../store');
	var Util = require('../util');
	module.exports = {
		props: ['active', 'total', 'expire'],
		filters: {
			dateFormat: require('../filters/date.js')
		},
		created: function() {
			var self = this;
			var old_back = mui.back;
			mui.back = function() {
				if (self.active) {
					self.active = false;
				} else {
					old_back();
				}
			};
		},
		methods: {
			close: function() {
				this.active = false;
			},
			touchmove: function(e) {
				e.preventDefault();
			}
		}
	}
</script>