<template>
	<div v-class="login-pop:true,active:active" v-on="touchmove:touchmove">
		<div class="login-cover">
			<div class="login-top">
				<div class="login-banner"></div>
				<p>使用生活类服务需要您登录360账号并绑定手机，一次登录即可使用所有服务。</p>
			</div>
			<div class="login-ctrl">
				<a v-on="tap:close" class="login-cancel">取消</a>
				<a v-on="tap:bind" class="login-sure">立即绑定</a>
			</div>
		</div>
	</div>
</template>

<script>
	var Store = require('../store');
	var Login = require('../login');
	module.exports = {
		props: ['active'],
		methods: {
			close: function() {
				this.active = false;
			},
			bind: function() {
				this.close();
				Login.addPhoneNumber(function(response) {
					if (response) {
						Store.updateUser(); //更新手机绑定状态
						//						this.$dispatch('closePhonePopover');
						this.$dispatch('bindSuccess');
					}
				}.bind(this));
			},
			touchmove: function(e) {
				e.preventDefault();
			}
		}
	}
</script>