<template>
	<section class="myFunc">
		<h1 class="mod-title">上门服务推荐</h1>
		<div class="swiper-container myFuncOuter">
			<span class="mui-spinner" v-if="!items.length"></span>
			<div v-if="items.length" class="swiper-wrapper myFuncWrap" id="myFuncMod">
				<ul class="swiper-slide main-mod">
					<li v-repeat="item in items" v-on="tap:openByRecommend(item)" data-href="{{item.service_url}}">
						<div class="icon">
							<img v-attr="src:item.service_icon">
						</div>
						<p class="els">{{item.service_sname}}</p>
					</li>
				</ul>

			</div>
		</div>
	</section>
</template>

<script>
	var Store = require('../store')
	module.exports = {
		mixins: [require('../mixins/open')],
		props: ['items']
	}
</script>

<style>
</style>