<template>
	<nav class="mui-bar mui-bar-tab">
		<a v-repeat="item in items" v-class="mui-tab-item:true,mui-active:item.active" v-on="tap:onClick(item,$event)" id="{{'nav_'+item.webview.id}}">
			<span class="mui-icon {{item.className}}"></span>
			<span class="mui-tab-label">{{item.title}}</span>
		</a>
	</nav>
	<template v-repeat="item in items">
		<webview options="{{item.webview}}"></webview>
	</template>
</template>

<script>
	var Store = require('../store');
	module.exports = {
		props: ['onChange'],
		data: function() {
			return {
				items: Store.getTabbar(0)
			};
		},
		created: function() {
			this.items.every(function(item) {
				if (item.webview.show) {
					this.selectedWebViewId = item.webview.id;
					return false;
				}
				return true;
			}.bind(this));
		},
		components: {
			webview: require('./webview.vue')
		},
		methods: {
			onClick: function(item) {
				var id = item.webview.id;
				if (id !== this.selectedWebViewId) {
					plus.webview.show(id, 'fade-in', 200);
					plus.webview.hide(this.selectedWebViewId, 'none');
					this.selectedWebViewId = id;
					mui.fire(plus.webview.getWebviewById(id), 'refresh');
					this.onChange && this.onChange(item.parentTitle);
				}
				var activeEl = document.querySelector('.mui-bar-tab a.mui-active');
				var currentTarget = document.getElementById("nav_" + id);
				if (activeEl !== currentTarget) {
					activeEl.classList.remove('mui-active');
					currentTarget.classList.add('mui-active');
				}
			},
			go: function(index) {
				this.onClick(this.items[index]);
			}
		}
	}
</script>