<template>
	<header class="mui-bar mui-bar-nav">
		<h1 class="mui-title">{{title||''}}<flowstatus></flowstatus></h1>
	</header>
</template>

<script>
	module.exports = {
		props: ['title'],
		components: {
			flowstatus: require('./flowstatus.vue')
		},
		methods: {
			update: function(title) {
				this.title = title;
			}
		}
	}
</script>