<template>
	<div v-class="pop:true,active:active" v-on="touchmove:touchmove">
		<div class="pop-wrap">
			<div class="pop-title els"><span class="mui-icon mui-icon-info"></span>{{'更新 '+info.ver}}</div>
			<div class="pop-info" v-html="info.update_note"></div>
			<div class="pop-btn-wrap clearfix">
				<a v-on="tap:close" class="pop-btn pop-btn-cancel btn-close-pop">取消</a>
				<a v-on="tap:upgrade" class="pop-btn pop-btn-sure">立即更新</a>
			</div>
		</div>
	</div>
</template>

<script>
	var Util = require('../util');
	module.exports = {
		props: ['active', 'info'],
		created: function() {
			var self = this;
			var old_back = mui.back;
			mui.back = function() {
				if (self.active) {
					self.active = false;
				} else {
					old_back();
				}
			};
		},
		methods: {
			close: function() {
				this.active = false;
			},
			upgrade: function() {
				if (this.info) {
					this.active = false;
					Util.showWaiting(true, '下载中...');
					Util.DEBUG && Util.D('pkg_url:' + this.info.pkg_url);
					var downloader = plus.downloader.createDownload(this.info.pkg_url, {}, function(download, status) {
						Util.closeWaiting();
						Util.DEBUG && Util.D(status + ',' + download.downloadedSize);
						if (download.downloadedSize != this.info.pkg_capacity) {
							plus.nativeUI.alert('安装包大小不一致，请重新下载！');
							return;
						}
						if (status == 200) {
							Util.closeWaiting();
							Util.DEBUG && Util.D(download.totalSize + '|' + plus.io.convertLocalFileSystemURL(download.filename));
							plus.runtime.install(plus.io.convertLocalFileSystemURL(download.filename), {
								recognise: true
							}, function() {
								//无法准确监听到真正安装了APK
								//plus.nativeUI.alert('更新成功，请重新启动！');
							}, function(e) {
								Util.DEBUG && Util.D('下载失败：' + e.code + ',' + e.message);
								plus.nativeUI.alert('安装失败：' + e.message);
							});
						} else {
							Util.DEBUG && Util.D('下载失败：' + status);
							plus.nativeUI.alert('下载失败，请重试！');
						}
					}.bind(this));
					downloader.addEventListener("statechanged", function(task, status) {
						switch (task.state) {
							case 1: // 开始
								Util.DEBUG && Util.D("开始下载...");
								break;
							case 2: // 已连接到服务器
								Util.DEBUG && Util.D("链接到服务器...");
								break;
							case 3: // 已接收到数据
								Util.DEBUG && Util.D('下载数据更新:' + task.downloadedSize + "/" + task.totalSize);
								break;
							case 4: // 下载完成
								Util.DEBUG && Util.D('下载完成:' + task.totalSize);
								break;
						}
					});
					downloader.start();
				}
			},
			touchmove: function(e) {
				e.preventDefault();
			}
		}
	}
</script>