<template>
	<div class="user-info" id="userInfo">
		<template v-if="!loading">
			<!--不支持免流量-->
			<template v-if="!free">
				<!-- 未登录 -->
				<div v-if="!user" v-on="tap:login" class="user-avatar">
					<img v-attr="src:'img/avatar.png'" />
					<span>未登录</span>
				</div>
				<!-- 已登录 -->
				<div v-if="user" class="user-avatar">
					<img v-attr="src:user.avatar||'img/avatar.png'" />
					<span class="els">{{user.nick||user.name}}</span>
				</div>
			</template>
			<!--支持免流量-->
			<template v-if="free">
				<div v-class="user-wrapper:true,invalid:(flowTree==0?true:false)">
					<!-- 未登录 -->
					<div v-if="!user" v-on="tap:login" class="user-avatar">
						<img v-attr="src:'img/avatar.png'" />
						<span>未登录</span>
					</div>
					<div v-if="user" class="user-avatar">
						<img v-attr="src:user.avatar||'img/avatar.png'" />
						<span class="els">{{user.nick||user.name}}</span>
					</div>
					<!-- 已登录 -->
					<div v-if="!freeInfo" class="user-freetraffic-tips">
						<p>开启免流量模式，浏览生活助手不再费流量。<a v-on="tap:openHelp" style="color: #91f1ff;text-decoration: underline;">了解一下</a></p>
						<button class="mui-btn mui-btn-block" v-on="tap:openBind">开启免流量</button>
					</div>
					<div v-if="freeInfo" class="user-freetraffic">
						<div class="user-freetraffic-total" style="margin-top: 10px;">
							<span class="txt">累计已免</span>
							<span class="mui-badge">{{(freeInfo.total_used/1024/1024).toFixed(1)}}M</span>
						</div>
						<div class="user-freetraffic-month" style="margin-top: 10px;">
							<span class="txt">本月已免</span>
							<span class="mui-badge" style="width: 100px;position: relative;"><span style="width:{{balanceWidth}}px" v-class="user-freetraffic-balance:true,active:balanceWidth">{{(freeInfo.used/1024/1024).toFixed(1)}}/{{parseInt((parseInt(freeInfo.used)+parseInt(freeInfo.balance))/1024/1024)}}M</span><span>.</span></span>
						</div>
					</div>
				</div>
			</template>
		</template>
	</div>
</template>

<script>
	var Store = require('../store');
	var Util = require('../util');
	var Login = require('../login');
	var Free = require('../freetraffic');
	module.exports = {
		mixins: [require('../mixins/open')],
		data: function() {
			return {
				user: false,
				free: false,
				freeInfo: false,
				loading: true,
				flowTree: true,
				balanceWidth: 0
			}
		},
		methods: {
			freetrafficInfo: function(callback) {
				Free.freetrafficInfo(function(response, error) {
					callback && callback(response, error);
				});
			},
			checkUserInfo: function() {},
			login: function() {
				Util.showWaiting();
				Login.loginByOAuth('qihoo', function(user, errorType, error) {
					Util.closeWaiting();
					if (user) {
						Store.setUser(user);
					} else {
						if ('userInfo' === errorType) {
							//							plus.nativeUI.confirm('获取登录信息失败', function(event) {
							//								if (0 == event.index) {
							this.login();
							//								}
							//							}.bind(this), '提示', ["重新获取", "取　　消"]);
						}
						Store.clearUser();
					}
					this.$dispatch('userInfoSuccess');
				}.bind(this));
			},
			refresh: function() {
				this.user = Store.getUser();
				if (!this.user) { //未登录，则查询用户信息之后再刷新
					Login.getUserInfo('qihoo', function(user) {
						if (user) {
							Store.setUser(user);
						}
						this._refresh();
					}.bind(this));
				} else {
					this._refresh();
				}
			},
			_refresh: function() {
				this.user = Store.getUser();
				this.free = Util.supportFree();
				this.flowTree = Store.getFlowTree() == '0' ? false : true;
				if (this.free) {
					mui.plusReady(function() {
						this.freetrafficInfo(function(response) {
							if (response) {
								var freeInfo = Store.getFreeTrafficInfo();
								if (!Store.getMonthTips(freeInfo.balance_exprire)) { //当前自然月尚未提示
									var total = parseInt((parseInt(freeInfo.used) + parseInt(freeInfo.balance)) / 1024 / 1024);
									if (total) {
										Store.setMonthTips(freeInfo.balance_exprire); //存储当前自然月提示标识
										mui.fire(plus.webview.getWebviewById('home'), 'showMonthTips', {
											total: total,
											expire: freeInfo.balance_exprire
										});
									}
								}
								Store.setFreeTrafficInfoBalance(freeInfo.balance); //存储免流量余额
								freeInfo.balance = parseInt(freeInfo.balance) || 0;
								freeInfo.used = parseInt(freeInfo.used) || 0;
								if (freeInfo.balance < 0) { //限制本月已免不超出本月总额
									freeInfo.used = freeInfo.used + freeInfo.balance;
									freeInfo.balance = 0;
								}
								if (freeInfo.used) {
									this.balanceWidth = Math.max(parseInt(freeInfo.used) / (parseInt(freeInfo.balance) + parseInt(freeInfo.used)) * 100, 25);
								}
								this.freeInfo = mui.extend({}, freeInfo);
								//更新余额，刷新其他
								var webviews = plus.webview.all();
								for (var i = 0, len = webviews.length; i < len; i++) {
									mui.fire(webviews[i], 'netchange');
								}
							} else {
								Store.setFreeTrafficInfoBalance(0); //存储免流量余额
							}
						}.bind(this));
					}.bind(this));
				}
				this.loading = false;
			},
			openHelp: function() {
				var helpWebview = plus.webview.create('help.html', 'bind', {
					popGesture: 'close'
				});
				Util.showWaiting();
				helpWebview.addEventListener('loaded', function() {
					Util.closeWaiting();
					helpWebview.show('pop-in', 300);
				});
			},
			openBind: function() {
				if (!this.flowTree) {
					plus.nativeUI.alert('由于服务器维护，免流量功能暂停使用，敬请谅解！');
					return;
				}
				var bindWebview = plus.webview.create('bind.html', 'bind', {
					popGesture: 'close'
				});
				Util.showWaiting();
				bindWebview.addEventListener('loaded', function() {
					Util.closeWaiting();
					bindWebview.show('pop-in', 300);
				});
			}
		}
	}
</script>

<style>
</style>