<template>
	<noscript id="{{options.id}}" url="{{options.url}}"></noscript>
</template>

<script>
	module.exports = {
		props: ['options'],
		created: function() {
			var options = this.options;
			options.id = options.id || options.url;
			options.show = !!options.show;
			options.extras = options.extras || {};
			options.onLoaded = options.onLoaded || mui.noop;
			options.preload = options.preload || false;
			mui.plusReady(function() {
				var webView = plus.webview.create(options.url, options.id || options.url, options.styles, options.extras);
				!options.show && webView.hide();
				!options.preload && plus.webview.currentWebview().append(webView);
				webView.addEventListener('loaded', options.onLoaded);
			}.bind(this));
		}
	}
</script>