﻿
body {margin:0px;padding:0px;width:100%;height:100%;}
@charset "UTF-8";
/* CSS Document */
html { overflow-x: hidden; }
/*去除包括IE7横向滚动条*/
body { margin: 0px; padding: 0px; font-size: 1.2em; font-size: 62.5%; overflow-x: hidden; /* background:url(../images/bj.png) repeat-x;*/ color: #444; -webkit-text-size-adjust: none; font-family: "Microsoft Yahei"; }

ul, ol, li { margin: 0px; padding: 0px; list-style: none; vertical-align: top; }

img { border: none;}

div, span, dd, dl, dt, p, img, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; border: 0px; /*font-weight:normal;*/ font-style: normal; font-size: 12px; color: #808080; }

input, textarea { padding: 0px; margin: 0px; outline: medium none; font-family: "Microsoft Yahei"; }

*a { color: #444; text-decoration: none; }

*a:hover { color: #333; text-decoration: none; } 

.clear { clear: both; }

em { font-weight: normal; font-style: normal; }

.main{overflow:hidden;}

/********************公共的**********************/
.mui-public-btn{position:absolute;top:0;left:0;display:none;}
.mui-TipText{font-size: 22px;font-weight: 600;color: black;position: absolute;top: 100px;width: 375px;left: 0;text-align: center;}
.mui-newtipOk{width:423px;top:115px;}
.mui-ActivityRe-Float{position:absolute;top:0;left:0;height:100%;width:100%;background:rgba(0, 0, 0, 0.63);z-index:20;}
.mui-ActivityRe-TipText{font-size:24px;font-weight:600;color:black;width:100%;text-align:center;padding-top:10px;}
.mui-ActivityRe-TipText2{font-size:22px;font-weight:100;color:#fcc662;width:100%;text-align:center;}
.mui-RightArrow{font-size:25px;float:right;font-weight:100;padding-left:10px;}
.mui-publike-right{position:absolute;right:15px;font-size:22px;padding-top:12px;}
.Pubulic_RightPoint{float: right;width: 8px;height: 5px;background: red;border-radius: 50%;margin-top: 35px;margin-right: 20px;display:none;}


/************************首页登录**************************/
#LoginTitle{line-height:80px;font-size:30px;color:white;}
#HeaderTop{height:88px;background-color:black;}
.mui-input-group{margin-top:88px;}
/*.mui-button-row{padding-bottom:5px;}*/
.mui-LoginOKBtn{height:67px;width:400px;font-size:25px;background-color:rgba(0, 0, 0, 0.00);}
.mui-button-row{padding-bottom:30px;padding-top:45px;}
.mui-input-row{padding-top:25px;width:450px;margin-left:95px;}
.mui-input-row label{font-size:25px;width:24%;}
.mui-input-row label~input{font-size:25px;width:74%;}
.mui-input-clear{height:56px;width:24%;}
.mui-button-row>p{font-size:25px;color:black;float:left;padding-left:115px;}
.mui-button-row>p>span{font-size:25px;color:#4183ed;margin-left:245px;}
#mui-LoginOKBtn{    border: 2px solid black;font-size: 30px;font-weight: 600;margin-top:45px;}
.Login_Tip{position:absolute;top:130px;right:60px;z-index:2;display:none;}
.Login_Tip>span{    position: absolute;top: 0;left: 0; font-size: 20px;color: white;text-align: center;width: 171px;line-height: 2.5;}
.FloatError{position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.5);z-index:2;display:block;}
.Login_Close{position:absolute;top:150px;left:50%;/*margin-left:-211px;*/margin-left:-187px;}
.LoginTiptext{position:absolute;width:100%;/*height:35px;*/font-size:15px;background-color:#e3f3ff;color:#4e98d1;text-align:center;top:88px;left:0;line-height:25px;}
#mui-LoginCode{border: 2px solid #3e90ce;font-size: 30px; font-weight: 600; margin-top: 0;color:#3e90ce;}
#mui-LoginCode>span{color:#3e90ce;    font-size: 30px;    font-weight: 600;display:none;} 
#ChangePassword_Box{width:500px;margin-left:60px;}
#RePasstext{width:30%;text-align:center;}
#RePasstext2{width:70%;}
#mui-RegisteredIcon{height:100%;}
#mui-RegisteredIconBg{border:none;background-color:white;}
#mui-RegisteredIconBg:hover{background-color:rgba(233, 231, 231, 0.49);}
#Gallery{margin-top:113px;}
.mui-RegisterTitle{font-size:30px;width:100%;text-align:center;color:black; font-family:"Microsoft YaHei";padding-top:45px;}


/************************注册*********************************/
.Register1_Mian{    position: relative;    top: 0;    left: 0;    width: 100%;    background: white;    height: 39%;}
#Register1-Phono{width:24%;}
.VerifyBtn{background-color: #4183ed;border-radius: 5px;height: 36px;width: 72px;font-size: 20px;color:#ffffff;float: right;text-align: center;position: absolute;right: 0;top: 32px;line-height: 33px;}
/*.VerifyBtn:hover{background-color: #e3e3e3;color:#808080;}*/
#Register1{display:none;}
#Register1_InfoBox{margin-left:0;padding-top:0;width:100%;}
#Register1_InfoBox3{    margin-left: 0;width: 100%;    height: 80px;    padding-top: 20px;line-height: 1;}
#Register1-Phono2{width:26%;border-right:none;}
#Register1-Phono2>img{padding-bottom:5px;}
#Register1-Phono3{width:34%;border-right:none;}
#Register1-Phono3>img{padding-bottom:5px;}
#inputRegister1-Phono3{width:66%;line-height:1;}

.mui-Register1-Phono{font-size:25px;line-height:40px;color:gray;margin-left:15px;}
.mui-Register1-Phono>span{margin-left:50px;font-size:25px;color:rgba(96, 95, 95, 0.50);}
#File1{height: 45px;width: 80px; position: absolute; top: 0px;right: 0;opacity:0;line-height:1;}
.Register1-File1Btn{height:45px;width:80px;background-color:#fbc761;color:white;    position: absolute;top: 22px; right: 25px;text-align: center;line-height: 50px;font-size: 26px;border-radius: 5px}
.Register1-Text{    font-style: normal;font-size: 25px; color: #808080;width: 260px;height: 50px;overflow: hidden;text-overflow: ellipsis;display: block;white-space: nowrap;padding-top:5px;}
#Register2-height{width:31%;float:left;text-align:center;line-height:1;}
.Register2-heightText{font-size:26px;line-height:50px;}

.Register2-SexSelect{position: absolute;top: 24px;right: 25px;width: 63%;}
#Register1_PersonalIntr{ margin-left: 0;width: 100%;height: 240px;padding-top: 20px;}
#Register1_PersonalIntr> #Register1-Phono2{font-weight:500;}
#Register1_PersonalIntr> #Register1-Phono2>b{font-size:20px;font-weight:100;}
#Register1_PersonalIntr> #Register1-Phono2>b>span{font-size:20px;color:red;}
#Register2-TextArea{width: 93%;position: absolute;top: 70px;left: 0;font-size: 13px;height:170px;}
.Register1_Costume{position:relative;top:0;left:0;width:100%;}
.Register2-Cloth{margin-left:20px;color:#4183ed;font-size:25px;line-height:50px;float:right;margin-right:120px;}
.Register1-YesIcon{position: absolute;top: 22px; right: 25px;text-align: center;line-height: 50px;}
.YesIcon2{position:absolute;top:0;left:0;display:none;}
.mui-Register-TipText{position:absolute;    top: 191px;right: 170px;    z-index: 2;}



/*****************************活动消息*******************************/
.mui-ActionText{position:relative;top:0;left:0;width:90%;margin:auto;border-bottom:1px #808080 dashed;}
.mui-ActionTitle{width:320px;font-size:25px;overflow: hidden;text-overflow: ellipsis;display: block;white-space: nowrap;font-weight:100;line-height:80px;color:black;}
.mui-ActionTime{    position: absolute;top: 0;left: 380px;font-size: 20px;color: orange;line-height:80px;}
.mui-actioncontent{font-size:20px;color:gray;}
.DownBox{float:right;margin-right:30px;}




/*****************************公司招聘******************************/
.mui-recuitment-Title{position:relative;top:88px;left:0;width:100%;height:105px;border-bottom:1px black solid;margin-bottom:86px;}
.mui-recuitment-downdrop{float:left;width:188px;height:60px;border-radius:30px;border:1px #4183ed solid;margin-left: 20px;margin-top: 25px;font-size: 20px;padding-top:5px;text-align:center;padding-right:40px;}
.mui-recuitment-downdrop>select{color:#4183ed;}
.selectDown{padding-left:55px;}
.mui-recr-Downlisebg{position:absolute;top:200px;left:0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.62);}
.mui-recruitment-DownList{position:relative;top:0;left:0;width:100%;height:83px;font-size:32px;text-align:center;background-color:white;line-height:80px;font-weight:600;color:#a0a0a0;margin-top:-10px;border-bottom:1px dashed gray;}
.mui-recruitment-color{color:black;}



.Recr-Content{width:100%;margin-left:0;margin-top:20px;background-color:#ffffff; } /*height: 29em;(牡丹修改)*/

.mui-Recuitment-text{width:14%;float:left;padding-top:10px;}
.mui-Recuitment-text2{width:70%;}
.mui-Recuitment-time{font-size:22px;color:#eca825;width:600px;margin:auto;}
.mui-Recuitment-time>span{font-size:1.2em;color:gray;}/*小段修改(主页字体改为em格式)*/
.mui-Recuitment-address{font-size:22px;color:#ccc7c7;width:600px;margin:auto;}
.mui-Recuitment-address>span{font-size:1.2em;color:gray;} /*小段修改(主页字体改为em格式)*/
.mui-Recuitment-action{font-size:1.5em;color:#000;width:600px;top:0px;border-bottom:1px dashed #808080;padding-bottom:35px;margin:auto;position: relative;}/*小段修改(增加了个定位)*/
.mui-monuday{font-size:1.5em;color:#4e98d1;float:right;} /*小段修改(改为em模式 以前为35px)*/
.mui-Plan{font-size:13px;color:#4183ed;margin-left:80px;width:390px;font-weight:600;}
.mui-Plan>span{font-size:13px;color:#4183ed;}
.mui-recruitment-DownListIcon{float: right;position: relative;top: 15px;right: 0;}
#mui-rec-Number{font-size:20px;width:187px;height:35px;border:1px solid #4ec1ec;border-radius:20px;line-height: 16px;font-weight: 100;text-align:center;margin-left:25px;color:#4ec1ec;}
#mui-rec-Number>span{font-size:19px;color:#4ec1ec;}
#mui-rec-Number2{font-size:20px;width:187px;height:35px;border:1px solid #4ec1ec;border-radius:20px;line-height: 16px;font-weight: 100;text-align:center;margin-left:15px;color:#4ec1ec;}
#mui-rec-Number2>span{font-size:19px;color:#4ec1ec;}
#mui-rec-Number3{font-size:20px;width:187px;height:35px;border:1px solid #4ec1ec;border-radius:20px;line-height: 16px;font-weight: 100;text-align:center;margin-left:15px;color:#4ec1ec;}
#mui-rec-Number3>span{font-size:19px;color:#4ec1ec;}
.mui-morebtn{font-size: 22px;color: #4183ed;margin-left: 30px;line-height: 50px;}

.mui-DownLoadAction{position:relative;top:0;left:0;width:100%;display:block;}
.mui-actionmore{position:relative;top:0;left:0;width:100%;display:none;}
.mui-actionmore-time{color:#b9b3b3;font-size:22px;}
#mui-recr-time{height:55px;width:155px;font-size:22px;}
.Recr-Content-more{width:600px;margin-left:20px;border-bottom:1px dashed #000;padding-bottom:10px;}
.mui-recr-sex{font-size:22px;}
.mui-recr-sex2{font-size:22px;margin-left:120px;}
.sexselect{position:absolute;top:0;left:0;display:none;}
#mui-recr-btn{width:288px;height:72px;float:left;margin-left:20px;}
.mui-recr-bottom{margin-top:60px;}




/************************首页**************************/
.mui-bar-tab{height:100px;}
.mui-Unknown{position:relative;top:0;left:0;width:100%;display:none;}
.mui-known{position:relative;top:0;left:0;width:100%;}

.mui-navigate-Text{font-size:2.5em;margin: 0px;padding: 0px;}
#mui-badge{background-color:red;display: inline-block;padding: 3px 6px;border-radius: 50%;margin-top:30px;float:right;}
.mui-table-view-chevron .mui-table-view-cell{height:85px;line-height:85px;padding-top:0px;padding-bottom: 0px;}
.mui-table-view-chevron .mui-table-view-cell>a{text-decoration: none;margin: 0px !important;padding: 0px !important;}
.mui-navigate-Text>img{padding-right:15px;margin-top:-6px;}
.mui-bar{border-top:1px solid #3e90ce;}
.mui-bar-tab{height:100px;}
.mui-tab-label{font-size:22px;color:#3e90ce;}
.mui-bar-tab .mui-tab-item{text-decoration:none;}
.Home-BottomIcon{position:absolute;top:0;left:0;display:none;}
/*.RightArrow{float:right;font-size:22px;color:black;}*/
#mui-homecon{    width: 100%;margin-left: 0;}
#mui-homecon>label{width:33%;text-align:center;}
#mui-homecon>label>span{font-weight:100;font-size:22px;color:red;}
#mui-homeTop{width:100%;background:rgba(0, 0, 0, 0.00); margin-top: 80px;margin-left: 0;margin-bottom:15px;height:150px;}
.mui-photo{position:relative;left:0;top:6px;}
.mui-photo>img{width:110px;height:100%;border-radius:50%;margin-left:50px;}
#Home-Content{margin-top:0;overflow:hidden;}
.mui-photo>span{font-size:22px;color:white;margin-left:25px;}
#Exit{width:87px;height:40px;border:1px #000 solid;border-radius:20px;color:black;text-align:center;float:right;line-height: 20px;margin-top:35px;margin-right: 50px;}


/********************我的收藏*****************************/
#Coll-HeaderTop{height:88px;background-color:rgba(0, 0, 0, 0.48);}
.mui-bar .mui-btn-nav.mui-pull-left {color:white;}
.mui-icon{margin-left:20px;}
.mui-Coll-Content{width:600px;margin-left:20px;border-bottom:1px dashed #808080;height:121px;}
.mui-CollectionIcon{float:right;line-height:30px;}
.mui-input-groupBg{position: absolute;top: 0;left: 0;overflow: hidden;}
.mui-collbg{height:100%;width:100%;position:fixed;top:0;left:0;}
#mui-coll-bg{background:none;}
.mui-coll-Company{width:450px;font-size:24px;color:white;}
.mui-coll-Company>span{font-size:24px;color:white;margin-left:20px;}
.mui-coll-nowactoin{font-size:19px;color:white;border:1px solid #fff;border-radius:30px;width:245px;height:40px;padding-left:15px;padding-top:7px;}
.mui-coll-nowactoin>span{border-radius:50%;color:red;font-size:19px;width:21px;position:relative;padding-left:5px;}
.mui-coll-nowactoin>img{position: absolute;margin-top: 3px;}
.coll-CollectionIcon2{position:absolute;top:0;left:0;display:none;}





/****************************公司招聘详细信息***************************/
#mui-actionrement-Number{font-size:25px;width:195px;height:45px;border:1px solid #4ec1ec;border-radius:20px;line-height: 40px;font-weight: 100;text-align:center;margin-left:15px;background-color:#4ec1ec;color:white;}
#mui-actionrement-Number>span{font-size:25px;color:white;}
#mui-actionrement-Number2{font-size:25px;width:195px;height:45px;border:1px solid #4ec1ec;border-radius:20px;line-height: 40px;font-weight: 100;text-align:center;margin-left:15px;background-color:#00e1f1;color:white;}
#mui-actionrement-Number2>span{font-size:25px;color:white;}
#mui-actionrement-Number3{font-size:25px;width:195px;height:45px;border:1px solid #4ec1ec;border-radius:20px;line-height: 40px;font-weight: 100;text-align:center;margin-left:15px;background-color:#3f90cf;color:white;}
#mui-actionrement-Number3>span{font-size:25px;color:white;}
.mui-actionrement-title{position:absolute;top:30px;left:0;}
.mui-actionrement-font{font-size:28px;padding-bottom:18px;}
.mui-action-RecommendIcon{float:right;}
.mui-actionment-Pay{color:#4183ed;padding-top:10px;font-size:26px;}
.mui-actionment-Pay>span{font-size:26px;}
.mui-actionment-Pitch{padding-top:10px;font-size:26px;color:black;}
#mui-actionment-Color{color:#eca825;}
.mui-actionment-Pitch>span{font-size:26px;}
#mui-actionment-SoTip{color:#4183ed;font-size:15px;}
#mui-actiontment-btn{border:1px solid #00e1f1; font-size:26px;width:300px;height:72px;float:left;margin-left:20px;color:#00e1f1;}
#mui-actiontment-btn2{border:1px solid #ff8e8e; font-size:26px;width:290px;height:72px;float:left;margin-left:20px;color:#ff8e8e;}
#mui-actiontment-btn3{border:1px solid #ff8e8e; font-size:26px;width:290px;height:72px;float:left;margin-left:7em;color:#ff8e8e;}
#mui-actiontment-btn4{border:1px solid #3f90cf; background-color: #3f90cf; font-size:26px;width:300px;height:72px;float:left;margin-left:20px;color:#fff;}
#mui-actiontment-btn5{border:1px solid #3f90cf; font-size:26px;width:300px;height:72px;float:left;margin-left:20px;color:#3f90cf;}
#mui-actiontment-btn #mui-actiontment-btn:enabled, #mui-actiontment-btn:enabled:active{background-color:#00e1f1;color: #a09f9f;}
.mui-actionment-Payment{font-size:16px;color:gray;margin-left:10px;font-weight:100;}
.mui-actionment-Payment>span{color:red;font-size:12px;}
.mui-return{float:right;color:#00e1f1;font-size:22px;border:1px solid #00e1f1;width:123px;height:35px;border-radius:20px;text-align:center;}

/**********************企业评价************************/
.mui-busnesRevi-Time{position:relative;top:0;left:0;width:90%;height:90px;border-bottom:1px dashed gray;margin:auto;color:gray;font-size:25px;line-height:90px;}
#mui-busnesRevi-TimeColor{color:red;}
.mui-busnesRevi-Time>span{float:right;color:#4ec1ec;font-size:25px;}

/***********************企业介绍********************/
.mui-busnesscript{width:100%;height:100%;margin:auto;}
.mui-busnesscript>p{font-size:22px;text-indent:2em;padding-top:20px;}

/*********************最新活动**********************/
#mui-NewActionTop{position:relative;top:63px;left:0;width:100%;margin-left:0;margin-bottom:65px;}
#mui-NewActionTop>img{width:100%;}
#mui-Nweaction{margin-top:0;overflow-y:scroll;height:100%;width:100%;position:absolute;background-color:#f5f5f5;max-height:64%;}
#mui-newaction-title{    width: 100%;margin-left: 0;height: 60px;top:-10px;}
.mui-newactionText1{float: left;font-size: 30px;color: black;line-height: 10px;padding-left: 30px}
.mui-newactionText2{float: right;font-size: 30px;color: black;line-height: 10px;padding-right: 30px}
#mui-NewAction-Bgcolor{background:#fff;margin-top:0;margin-bottom:10px;}
#mui-NewAction-btn{    border-right: 1px solid #b6b3b3;font-size: 26px;width: 300px;height: 72px;float: left;margin-left: 20px; color: #b6b3b3;border-bottom:none;border-top:none;border-left:none;}
#mui-NewAction-btn2{font-size: 26px;width: 300px;height: 72px;float: left;margin-left: 20px;color: #b6b3b3;border:none;}
.mui-NweAction-Downlisebg{position:fixed;top:76px;left:0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.61);z-index:20;}
.mui-NewAction-Ctiy{font-size:32px;color:black;}
.mui-NewAction-CtiyText{font-size:22px;color:black;}
.mui-NewAction-Location{    position: absolute; top: 40px;left: 40px;}
.mui-NewAction-Location2{position:relative;    top: 120px;    left: 50px;border-left:1px solid #00e1f1;}
.mui-NewAction-Location2>span{font-size:24px;padding-left:20px;}
.mui-NewAction-Location3{    position: relative;top: 140px;left: 0;    overflow-x: hidden;    float: left;    overflow-y: scroll;    width: 100%; height: 150px;}
.mui-NewAction-Location3>span{border:1px solid #00e1f1;border-radius:20px;text-align:center;font-size:26px;color:#00e1f1;padding:5px;padding-left:40px;padding-right:40px;    float: left;margin-left: 20px;margin-top: 20px;}
#mui-NewAction-TipBtn{position: absolute;left: 20px;top: 165px;margin-left:0;width:100%;}
#mui-NewAction-FloatBtn{    font-size: 26px;width: 160px;height: 50px;float: left; margin-left: 20px;}
.Js_ActivityDtl{position: relative;}
.mui-NewAction-Action{position:absolute;font-size:1.5em;top:0px;left:90px;width:300px;display: block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}/*小段修改(主页的title字体大小修改)*/
.mui-NewAction-TwoBtn{font-size:26px;}


/***********************设置反馈*****************************/
.mui-Feedback-Text{font-size:26px;color:black;padding:30px;font-weight:600;}
#mui-textarea{border:1px solid #000;width:588px;height:330px;margin:auto;font-size:22px;margin-left:26px;}
#mui-feedback-send{width:320px;height:65px;font-size:26px;border:2px solid #000;margin:auto;margin-top:100px;font-weight:600;}
#Home-Setting{margin-top:88px;    overflow: hidden;}


/**************************发布活动*******************************/
.mui-action-title{font-size: 26px;font-weight: 600;}
.mui-action-text{font-size:24px;font-weight:100;width:400px;}
.mui-action-right{position: absolute;top: 0;right: 40px;font-size: 30px;font-weight: 100;/*line-height: 100px;*/}
#mui-ActivityRelease{margin-top: 0;overflow: hidden;width: 100%;position: absolute;background-color: #f5f5f5;height:70%;}
#activiRe-worktime{width:38%;}
#activiRe-Time{width:60%;}
#ActivityRe-Pay{width:60%;float:left;}
#mui-ActivityRe-PayDay{font-size:24px;line-height:50px;}
.mui-ActitvityRe-Bg{height:250px;width:410px;background:#fff;border-radius:5px;margin:auto;margin-top:150px;}
.mui-ActitvityRe-Bg>img{margin-left:185px;margin-top:50px;}

/************************保安员详情*********************************/
.mui-SecurDetail-action{font-size:30px;padding-top:30px;}
.mui-SecurDetail-action2{font-size:30px;color:#13bb99;}
.mui-SecurityDetail{background-color:#f1f1f1;margin-top:60px;}
#mui-Securitails-Content{margin-left: 0;width: 100%;margin: auto;background:#ffffff;margin-top:20px;}
.mui-SecurDetail-Title{font-size:35px;color:gray;}
.mui-IDNumber{float:right;font-size:26px;padding-right:20px;}
#mui-IDNumberText{float:right;font-size:22px;color:#4e98d1;}
.mui-Secutity-PhotoInfo{float:left;margin-left:35px;}
.mui-Secutity-PhotoInfo>img{width:150px;height:150px;}
#mui-SecurityDetails-btn{    width: 305px;height: 72px;float: left;margin-left: 15px;font-size:30px;}
.mui-Security-topimg{width:100%;height:160px;}
.mui-SecurityName{position: absolute;top: 46px; left: 0;font-size: 35px;color: white;}
.mui-Security-Title{position: absolute;top: 110px; font-size: 30px;color: white;font-weight:300;}
.mui-Security-TitleNum{color:red;font-size:30px;}



/******************************批量招聘************************************/
.mui-MassRecrutment-Name{font-size: 30px;color: #13bb99;margin-left: 20px;margin-right: 20px;}
.mui-massrecruit{font-size:30px;line-height:2;}
#mui-MassRecruitment-btn{    width: 305px;height: 72px; float: right; margin-right: 30px; font-size: 30px;}



/***************************我的评价************************************/
.mui-MyEvaluation-text1{font-size: 28px;margin-top: 30px;margin-left: 30px;color:black;}
.mui-MyEvaluation-text2{font-size:20px;color:#eca825;margin-left:30px;}
.mui-MyEvaluation-text3{font-size: 28px;margin-right: 30px;text-align:right;color:black;}
.mui-MyEvaluation-text4{font-size: 28px;line-height:2;color:gray;text-align:right}
.mui-MyEvaluation-text4>img{margin-top:-10px;margin-left:15px;}
#mui-MyEvaluation-Content{    margin-left: 0;width: 100%;margin: auto;background: #ffffff;border-bottom:1px dashed #000;}
.mui-MyEvaluation-Time{font-size: 28px;margin-right: 100px;text-align:right;}
.mui-MyEvaluation-Ticket{background:#e6e4e4;text-align:center;font-size:24px;color:#3e90ce;padding-left:5px;padding-right:5px;padding-bottom:2px;padding-top:2px;    position: absolute;    right: 20px;}



/**************************我的发布**********************************/
.mui-MyRelease-Title{font-size:1.5em;color:black;line-height:3;}
#mui-stateBtn{width:135px;height:50px;font-size:22px;color:gray;margin-top:-30px;float:right; text-align: center; overflow: hidden; text-overflow: ellipsis;}
.Js_MyActiveList .mui-stateBtn2{width:148px;height:54px;font-size:1.5em;color:gray;position:absolute;border-radius:45px;display:none;float:right;top:25px;right:10px;}
.mui-stateBtn2-btn{width:135px;border:1px solid gray;background-color:#fff;text-align:center;float:right;border-radius:10px;position: absolute;top:25px;right: 10px !important;}
.mui-statebtn2-close{font-size:2.5em;margin:auto;border-bottom:1px dashed gray;color:#3e90ce;    line-height: 75px;    padding-bottom: 20px;}
.mui-statebtn2-SignUp{font-size:2.5em;margin:auto;color:#b6b3b3;line-height: 60px;    padding-bottom: 10px;}

#mui-MyRelease-Num2{font-size: 2em;width: 202px;height: 50px;border: 1px solid #4ec1ec;border-radius: 20px;line-height: 50px; font-weight: 100;text-align: center; margin-left: 15px;    }

#mui-MyRelease-Num{font-size: 2em;width: 180px;height: 50px;border: 1px solid #4ec1ec;border-radius: 20px;line-height: 50px;font-weight: 100;text-align: center;}
#mui-MyRelease-Num3{font-size: 2em;width: 180px;height: 50px;border: 1px solid #4ec1ec;border-radius: 20px;line-height: 50px;font-weight: 100; text-align: center; margin-left: 15px;    }
#mui-search{ font-size: 28px;color: gray;border: none;outline: none;position: absolute;top: 125px;left: 42px;height: 70px;width: 525px;background: none;line-height: 1;}
.cbtn_{height: 50px; display: block;margin-top: 40px;}



/*****************************保安员评价******************************/
#mui-Assessment{margin-top:0;padding-top:0;display:none;}
#mui-Unrated{margin-top:0;padding-top:0;background:#fff;}
#mui-Assessment-Title{    font-size: 30px;border-bottom: 1px solid gray;border-right: 1px dashed gray;height: 80px;line-height: 80px;color: black;}
#mui-Assessment-Title:hover{color:#3e90ce;text-decoration:none;border-bottom:1px solid #3e90ce;}
.mui-Safety-Name{color:black;font-size:28px;}
.mui-Safety-with{color:#8f8f8f;font-size:28px;}
.mui-Safety-with>b{font-weight:100;color:red;font-size:28px;}
.mui-Safety-Title{font-size:24px;color:#8f8f8f;position:relative;top:15px;}
.mui-Safety-Title>img{margin-top:-10px;margin-left:10px;}
.mui-Safe-Unrated{    font-size: 22px;color: #000;width: 600px;margin-top: 10px;border-bottom: 1px dashed #808080;padding-bottom: 30px;margin: auto;height: 115px;padding-top: 30px;}
.mui-Evaluation-change{position:fixed;top:300px;width:470px;height:370px;background:#fff;border-radius:20px;left:50%;margin-left:-235px;}

.mui-Evaluation-Title{font-size:28px;color:#8f8f8f;position:relative;top:15px;border-bottom:1px dashed gray;width:90%;margin:auto;text-align:left;line-height:75px;}
.mui-Evaluation-Title>img{margin-top:-10px;margin-left:10px;}
#Radio1{width:30px;height:30px;float:right;}
#mui-SafetyEvaluation-btn{    width: 155px; height: 55px; float: left; margin-left: 50px; font-size: 30px;   padding: 0;}





/******************************报名查看************************************/
.mui-CheckUp-Title{font-size:28px;color:black;line-height:3;}
.mui-CheckUp-Text{font-size:26px;}
.mui-CheckUp-Text>b{font-size:26px;font-weight:100;color:red;}
.mui-AuditIconbtn{float:right;margin-top:49px;}



/***********************************个人资料修改****************************************/
#Register1-Phono1>img{margin-top:-5px;}
#mui-ModifyDate-Name{text-align:right;padding-right:50px;line-height:1;}
#mui-ModifyData-Sex{font-size:25px;width:50px;float:right;}
#mui-ModifyData-height{font-size:25px;width:100px;float:right;}
#mui-ModifyDate-Year{text-align:right;float:right;width:100px;padding-right:50px;}
#mui-ModifyData-Myphoto{    margin-left: 0;width: 100%; height: 130px;    padding-top: 20px;}
#ModifyData-Phono{    width: 26%;border-right: none;padding-top:30px;}
.MyPhoto{float:right;margin-right:50px;}
.MyPhoto>img{width:87px;height:87px;}
#mui-ModifyData-photoFile{width:87px;height:87px;opacity:0;position:absolute;top:20px;z-index:5;}
.mui-provice{text-align:right;width:58%;}
.mui-provice2{text-align:left;width:66%;}
.mui-sele-provice{font-size:25px;opacity:0;}
#mui-sele-provice2{font-size:25px;opacity:1;margin-left:-55px;}
.mui-license-img{    float: right;margin-right: 30px;margin-top: 30px;}
.mui-license-img>img{height:150px;width:150px;}



.mui-Evaluation-change2{position:absolute;top:200px;width:470px;height:554px;background:#fff;border-radius:20px;left:50%;margin-left:-235px;}

.Carousel{width:90px;height:20px;    position: absolute;right: 0; bottom:55px;z-index:4;}
.Carousel>a{height:12px;width:12px;float:left;margin-left:10px;background-color:#fff;border-radius:50%;font-size:0;}
.Carouselbg{background:black!important;z-index:2;}
.SearchBtn{  position: absolute;top: 135px;right: 36px;height: 50px;width: 50px;}
#mui-Click-Tip{    font-size: 20px;    margin-top: 20px;    padding-left: 0;    width: 100%;    color: green;}
.FloatFeedBack{position:absolute;top:88px;left:0;height:100%;width:100%;z-index:10;background:#fff;display:block;}
.Pubulic_RightArrow{float:right;font-size:25px;}
#mui-top-left{margin-left:20px; font-size: 68px;}


.mui-UserProtocol{position:fixed;top:88px;left:0;height:100%;width:100%;overflow-y:scroll;overflow-x:hidden;-webkit-overflow-scrolling:touch;background:#fff;display:none;}
.mui-UserProtocol p{font-size:22px;color:black;position:relative;top:0;left:0;text-indent: 2em;}
#mui-UserProtoclo_h6{color:black;font-size:13px;text-indent: 1em;font-weight:400;}
.mui-UserProtocol>span{font-size:25px;color:black;position:relative;top:0;left:20%;line-height:5;font-weight:600;}
.mui-UserProtocol b{font-size:22px;color:black;position:relative;top:0;left:0;text-indent: 2em;line-height:2;}

::-webkit-input-placeholder{color:#808080;}
.FloatImg1{position:relative;top:0;left:0;width:100%;font-size:0;}

/***************新改部分***********************/
#mui-ModifyData-bank{width: 230px;font-size: 25px;height: 37px;padding-top:0px;line-height: 37px;}
#mui-ModifyDate-khyh,#mui-ModifyDate-yhzh{padding-right: 50px;text-align: right;line-height: 35px;padding-top:0px;}
.white_css{color:#fff;}
.main-content p{margin-top: 15px;font-size:24px;}
.main-content p:first-child{margin-top: 0px;}
#iszbfz ul li{width:33%;position: relative;float: left;text-align: center;}
#sgzh ul li{width:50%;position: relative;float: left;text-align: center;}
#iszbfz ul li img{margin: auto;width: 172px;height: 172px;}
#sgzh ul li img{margin: auto;width: 234px;height: 305px;}
#iszbfz ul li span,#sgzh ul li span{width: 100%; text-align: center;display: block;font-size:2em;margin-top: 10px;margin-bottom: 10px;}
#iszbfz .photo_sc{color:white;font-size:2em;background-color: #fbc761;padding-top:10px;padding-bottom: 10px; width: 60%;margin: 0 auto;border-radius: 3px;}
#iszbfz .btn_upfile{position: absolute;height:30px;width:50px;left:40%;bottom:0px;z-index: 5;opacity: 0;}
#sgzh .btn_upfile{position: absolute;height:30px;width:50px;left:40%;bottom:0px;z-index: 5;opacity: 0;}
#sgzh .photo_sc{color:white;font-size:2em;background-color: #fbc761;padding-top:10px;padding-bottom: 10px; width: 30%;margin: 0 auto;border-radius: 3px;}
/*********************全部项目************************/
.Js_ActiveList p {margin-top: 15px; font-size: 2em;}
.Recr-Content p:first-child {margin-top: 0px;}



/***ios fixed fix****/
body{overflow: hidden;}
.mui-bar-nav{position: absolute;}
.main{overflow: hidden;}
form {max-height:initial !important; overflow-y:scroll !important; position: absolute !important; height:100% !important;width:100% !important; margin-top: 88px !important; padding-bottom: 80px !important;}

/***空内容图像***/
.emptyContent{background: url("../images/noContent.gif") center center no-repeat;}

/*第二版好多保安的新增*/
.projecttype{text-align: center;font-size:3em;border: none;font-weight: bold;padding-top:10px;padding-bottom:10px;}
.Tproject_ li{width:50%;float: left;padding-top: 20px;padding-bottom: 20px;}
.pstyle{width:100%;height:53px;margin: auto;}
.pstyle img{margin-left: 45%;}
.baoan-type{text-align: center;font-size: 3em}
#longtime_ .Register1-Phono2{width:30%;border-right: none;}
#longtime_ .allwidth_input{width:70%;}
#longtime_ .halfwidth_input{width:60%;float: left;}
#longtime_ .end_style{width:10%;float: left;font-size:2em;line-height: 50px;text-align: left;}
#longtime_ .Js_ActivitType{padding-top:15px;}
#projectFaxingri,#projectHetongqixian{padding-top:10px;}
.ordernum_{font-weight: bold;color:#000;font-size:2.5em;width:90%;margin: 20px auto;}
.servicefeecontent{font-size:2em;color:#585858;width:90%;margin: 20px auto; display: block;}
.importantinfo{width:90%;margin: 0 auto;font-size:2.2em;font-weight: bold;color:#000;}
.end_fee{width:100%;text-align: center;color:#3e90ce;font-size:2em;margin-top: 100px;}
.Js_Name{width:12em;display: inline-block;}
#orderYufu{color: #3f90cf;}
#countTS{font-size: 1em;color:#585858;}



