ul,
ol,
li,
dl,
dd {
	margin: 0;
	padding: 0;
}
em{
	font-style: normal;
}
ul, dl {list-style: none; font-size: 0; line-height: 0;}
ul li.mui-col-xs-6, ul li.mui-col-xs-4, ul li.mui-col-xs-3{
	display: inline-block;
}
dl dd.mui-col-xs-6, dl dd.mui-col-xs-4, dl dd.mui-col-xs-3{
	display: inline-block;
}
a>img,p>img,dd>img{
	width: 100%;
}
.mui-col-xs-4,.mui-col-xs-3{
	padding-left: 5px;
}
.mui-col-xs-6{
	width: 49.999%;
}
.mui-col-xs-4{
	width: 33.333%;
}
.mui-col-xs-3{
	width: 24.999%;
}
.mui-content>div,.mui-content>ul,.mui-content>dl,.page>div,.page>ul,.page>dl {
	background-color: #fff;
}
.page{
	background-color: #efeff4 !important;
}
.mui-search {
	position: absolute;
	width: 72%;
	left: 12%;
}
.mui-bar-nav {
	background: -webkit-linear-gradient(#8E1D21, #F00);
	/* Safari 5.1 - 6.0 */
	
	background: -moz-linear-gradient(#8E1D21, #F00);
	/* Firefox 3.6 - 15 */
	
	background: linear-gradient(#8E1D21, #F00);
	/* 标准的语法 */
}
#search {
	background-color: rgba(255, 255, 255, 0.92);
}
.mui-bar .mui-icon-speech {
	position: absolute;
	right: 5px;
	top: -2px;
	color: #999;
	width: 38px;
	height: 38px;
}
.mui-search .mui-placeholder {
	text-align: left;
	padding: 3px 0 0 30px;
}
.mui-bar .mui-icon-search {
	position: absolute;
	left: 5px;
	top: 0px;
}
.mui-bar-nav .mui-pull-left, .mui-bar-nav .mui-pull-right{
	padding-top: 5px;
}
.mui-bar-nav a, .mui-bar-nav a:hover{
	color: #fff;
}
.mui-pull-right .mui-icon,
.mui-pull-left .mui-icon {
	display: block;
	margin: 0;
	padding: 0;
	height: 18px;
	width: 18px;
	font-size: 18px;
}
.mui-pull-right .mui-tab-label,
.mui-pull-left .mui-tab-label {
	display: block;
	font-size: 9px;
}
.index_box {
	width: 100%;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #EBEBEB;
	padding-bottom: 10px;
}
.index_box1 {
	display: table;
	list-style: outside none none;
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	line-height: 21px;
}
.index_box1 li {
	display: table-cell;
	width: 1%;
	text-align: center;
	vertical-align: middle;
}
.index_box2 {
	height: 40px;
	margin: 5px auto;
	clear: none;
	width: 40px;
	border-radius: 12px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: 100% auto;
}
.index_box3 {
	width: 100%;
	background-color: #FFF;
}
.index_box4 {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.index_box4 img {
	width: 100%;
}
.index_box5 {
	width: 95%;
	margin: 0 auto;
	border-bottom: 1px solid #6D7172;
}
.index_text1 {
	color: #303030;
	margin: 0px;
}
.index_text2 {
	text-align: left;
	overflow: hidden;
	font-size: 14px;
	height: 24px;
	margin: 0 auto;
}
.tx_l1 {
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: keep-all;
}
.index_textspan {
	color: #303030;
}
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.listBox_2 {
	padding: 0 5px;
	margin: 0;
	background-color: #EFEFF4 !important;
}
.listBox_2 ul {
	font-size: 0;
	margin: 0;
	padding: 0;
}
.listBox_2 ul li {
	display: inline-block;
	width: 50%;
	padding: 5px;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.listBox_2 ul li a {
	display: block;
	background-color: #fff;
	border: 1px solid #d7d7d7;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.listBox_2 ul li a.selected {
	border: 1px solid #FFD700;
}
.listBox_2 ul li a i {
	display: block;
	width: 100%;
	padding-top: 100%;
	position: relative;
}
.listBox_2 ul li a i em {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.listBox_2 ul li a img {
	display: block;
	width: 100%;
}
.listBox_2 ul li a p {
	display: block;
	color: #323232;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 50px;
	line-height: 1.2;
	border-bottom: 1px solid #dddddd;
	margin: 4px 4px;
}
.listBox_2 ul li a span {
	display: block;
	color: #999999;
	font-size: 12px;
	line-height: 1.2;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 4px;
	padding: 0px 4px;
}
.listBox_2 ul li a b {
	display: block;
	color: #f32d31;
	margin-top: 4px;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 4px;
	padding: 0px 4px;
	position: relative;
	line-height: 1.2;
}
.listBox_2 ul li a b del {
	color: #999;
	position: absolute;
	right: 5px;
}
.listBox_2 .titlebox{
	position: relative;
	text-align: center;
	margin: 20px 0 30px;
}
.listBox_2 .titlebox hr{
	color: rgba(153, 153, 153, 0.23);
}
.listBox_2 .titlebox .title{
	width: 70%;
	background-color: #EFEFF4;
	margin: -20px auto;
	color: rgb(150, 151, 153);
	font-size: 14px;
	overflow: hidden;
}
.listBox_2 .titlebox #tuijian{
	margin: 0 5px;
}
.line_m {
	text-decoration: line-through
}
.inline {
	display: inline-block;
}
.separator-before:before {
	content: "";
	width: 100%;
	background-color: #EAEAEA;
	height: 1px;
	display: block;
}
.separator-after:after {
	content: "";
	width: 100%;
	background-color: #EAEAEA;
	height: 1px;
	display: block;
}
.separator-right, .separator-left{
	position: relative;
}
.separator-right:after{
	content: "";
	width: 1px;
	background-color: #EAEAEA;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	right: 1px;
}
.separator-left:before{
	content: "";
	width: 1px;
	background-color: #EAEAEA;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: -5px;
}
.chaoqianggou .left{
	display: inline-block;
	width: 44.99%;
	position: relative;
	padding: 15px 0px;
}
.chaoqianggou .left .text1{
	font-size: 12px;
	color: rgba(200, 45, 45, 0.84);
	width: 70%;
	padding-left: 8px;
	font-weight: bolder;
	line-height:18px;
}
.chaoqianggou .left .text1 .mui-icon{
	font-size: 20px;
	margin-right: 5px;
}
.chaoqianggou .left .text2{
	font-size: 12px;
	display: block;
	padding-left: 8px;
	color: rgba(51, 51, 51, 0.67);
	font-weight: bold;
	line-height:18px;
}
.chaoqianggou .left .text3{
	font-size: 22px;
	line-height: 20px;
	padding-left: 8px;
	color: rgb(0, 0, 0);
	font-weight: bolder;
	padding-bottom: 10px;
}
.chaoqianggou .left .text3 span{
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: rgb(0, 0, 0);
	text-align: center;
	padding-top: 2px;
	color: rgb(255, 255, 255);
}
.chaoqianggou .left .text4{
	padding: 0px 5px 0px 8px;
}
.chaoqianggou .right{
	display: inline-block;
	width: 54.99%;
	vertical-align: bottom;
}
.chaoqianggou .right .top{
	padding: 5px;
}
.chaoqianggou .right .item1{
	display: inline-block;
	width: 49.99%;
	text-align: right;
	padding-right: 5px;
	padding-top: 5px;
}
.chaoqianggou .right .item2{
	display: inline-block;
	width: 49.99%;
	padding-right: 5px;
}
.link1, .link2, .link3, .link4{
	line-height: 40px;
}
.link1 {
	text-align: right;
	padding-right: 5px;
	font-size: 16px;
}
.link1 a,.link1 a:focus{
	color:#E36F70;
}
.pingguo li{
	padding: 10px;
}
.shangou li{
}
.shangou li .title1{
	font-size: 14px;
	line-height: 16px;
	color: rgba(51, 51, 51, 0.67);
	margin: 5px 0px 2px;
}
.shangou li .title1 em{
	width: 22px;
	height: 22px;
	background-color: rgb(254, 87, 69);
	color: #FFF;
	display: inline-block;
	border-radius: 30%;
	padding: 3.1px;
	margin-right: 3px;
}
.shangou li .title2 {
	font-size: 11px;
	line-height: 14px;
	color: rgba(51, 51, 51, 0.67);
}
.news {
	font-size: 12px;
	padding-left: 8px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.news .title{
	background-color: #F15352;
	color: #FFF;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	margin: 3px 0;
	width: 70px;
	text-align: center;
	border-radius: 5px;
}
.news .title a,.news .title a:focus{
	color: #FFF;
}
.news .category{
	margin:0 5px;
	color:#EE4B50;
	font-size: 14px;
}
.news .content{
	color: #000;
	font-size: 12px;
}
.news .marqueebox{
	list-style: none;
	overflow: hidden;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	margin: 3px 0px;
	vertical-align: middle;
}
.miaosha {
	line-height: 40px;
	position: relative;
}
.miaosha .title{
	display: inline-block;
	font-size: 16px;
	margin-left: 8px;
	color: #F15652;
}
.miaosha .time{
	display: inline-block;
	width: 25px;
	text-align: center;
	vertical-align: middle;
	padding-top: 2px;
	color: #000;
	line-height: 14px;
	border: 1px solid #999;
	margin: 8px 0px;
	font-size: 12px;
}
.miaosha .right{
	font-size: 12px;
	position: absolute;
	line-height: 25px;
	margin: 8px auto;
	right: 10px;
	color:#999;
}
.miaosha .content{
	border-radius: 2px;
	padding:5px 2px;
	background-color: #F15352;
	color: #FFF;
}
.hanchao .title{
	font-size: 12px;
	line-height: 14px;
	color: #5A5A5A;
	margin: 10px 0px;
	text-align: center;
}
.tese {
	position: relative;
}
.tese .title{
	display: inline-block;
	font-size: 16px;
	margin-left: 8px;
	color: #E94745;
}
.tese a{
	position: absolute;
	right: 5px;
	font-size: 12px;
}
.tese a, .tese a:hover{
	color: #E94745;
}
.tese .mui-icon{
	font-size: 12px;
}
.dongdong .left{
	display: inline-block;
	width: 45%;
}
.dongdong .right{
	display: inline-block;
	width: 54.99%;
	vertical-align: bottom;	
}
.dongdong .top{
	padding: 5px;
}
.dongdong .item1{
	text-align: right;
	padding-right: 5px;
	padding-top: 5px;'
}
.dongdong .item2{
	padding-right: 5px;
}
.link3 {
	position: relative;
	text-align: right;
}
.link3 a{
	font-size: 12px;
	padding-right: 30px;
}
.link3 a, .link3 a:hover{
	color: #8E8E8E;
}
.link3 .title{
	display: inline-block;
	font-size: 16px;
	color: #F15652;
	position: absolute;
	left: 8px;
}
.link3 em{
	background-color: #F15352;
	color: #FFF;
	margin-right: 2px;
	border-radius: 5px;
	font-size: 12px;
	display: inline-block;
	height: 24px;
	padding: 4px 10px 4px 5px;
	line-height: 16px;
}
.neiyi .left{
	display: inline-block;
	width: 59.22%;
}
.neiyi .right{
	display: inline-block;
	width: 40.78%;
}
.fuzhuang li{
	padding-top: 20px;
}
.fuzhuang .strong{
	position: relative;
}
.fuzhuang .label{
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 14px;
	line-height: 18px;
	background-color: rgb(245, 91, 93);
	color: rgb(255, 255, 255);
}
.fuzhuang .title1{
	font-size: 14px;
	text-align: center;
	line-height: 18px;
	color: rgb(55, 55, 55);
}
.fuzhuang .title2{
	font-size: 12px;
	text-align: center;
	line-height: 12px;
	color: #A9A9A9;
}
.link4{
	font-size: 16px;
	padding-left: 8px;
	color: #F15652;
}
.pinpai {
	margin-bottom: 10px;
}
.pinpai .item1 .top{
	font-size: 16px;
	line-height: 50px;
	text-align: left;
}
.pinpai .item1 .top a{
	margin-left: 15px;
}
.pinpai .item1 .top a, .pinpai .item1 .top a:hover{
	color: #5F5F5F;
}
.pinpai .item1 .logo{
	margin: 10px 10px 10px 18px;
}
.pinpai .item1 .bottom{
	margin: 5px 10px 5px 15px;
}
.pinpai .item2 .nav{
	font-size: 14px;
	line-height: 40px;
	text-align: right;	
}
.pinpai .item2 .nav a{
	margin-right: 5px;
}
.pinpai .item2 .nav a, .pinpai .item2 .nav a:hover{
	color: #5F5F5F;
}
.pinpai .item2 .link{
	margin: 8px 10px 8px 20px;
}
.faxian>dd{
	padding-left: 10px;
}
.faxian .left{
	display: inline-block;
	width:65.99%;
}
.faxian .right{
	display: inline-block;
	width:33.99%;
}
.faxian .bottom{
	font-size: 16px;
	line-height: 40px;
}
.faxian .bottom a, .faxian .bottom a:hover{
	color: #373737;
}