/**
 * @copyright   Copyright © 2013-2015 佛山齐易网络科技有限公司（Foshan Qiyi Network Technology Co., Ltd.）
 * @license     佛山齐易网络科技有限公司软件授权协议（Qiyi Software License Agreement）
 * @project     tmh360
 * @author      Bruce
 * @version     common.css 15/8/3 11:09
 * @link        http://www.fs71.com.cn
 */

/* 顶部导航栏 */
.tmh-header {
    width: 100%;
    background-color: #c81623;
    -webkit-box-shadow: 0 1px 0 #c81623;
            box-shadow: 0 1px 0 #c81623;
}
.tmh-header a,
.tmh-header h1 {
    color: #f7f7f7;
}
/* 白色背景子标题 */
.subtitle {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
}
/* 提交按钮 */
.btn-submit {
    border: 1px solid #C81623 !important;
    color: #fff;
    background-color: #c81623;
}

/* 关注，订单，购物车空的背景 */
.bg-null1 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-top: 44px;
}
.bg-null2 {
    display: -webkit-box;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #a9a9a9;
    -webkit-box-orient:vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
.bg-null2 p {
    margin-top: 30px;
    color: #3e3e3e;
}
.bg-null2 .qiyifont {
    font-size: 200px;
    line-height: 200px;
}

.box {
    display: -webkit-box;
}
.box-flex-1 {
    -webkit-box-flex: 1;
}
.box-flex-2 {
    -webkit-box-flex: 2;
}

.bgc-white {
    background-color: #fff;
}

.fontsize-14 {
    font-size: 14px;
}

/* Padding */
.pad-all-10 {
    padding: 10px;
}
.padding-bottom-10 {
    padding-bottom: 10px;
}
.mar-bottom-10 {
    margin-bottom: 10px !important;
}

/* hack */
.mui-slider-indicator .mui-indicator {
    background-color: #3aacd8;
}
.mui-slider-indicator .mui-indicator.mui-active {
    background-color: #c81623;
}
.mui-input-row label {
    padding: 10px 13px;
}
.mui-input-row.non-bg:after {
    background-color: inherit;
}
.mui-input-row.address {
    height: auto;
}
.mui-input-row.address textarea {
    margin: 5px 0;
    padding: 4px 5px;
}
input[disabled] {
    color: #aaa;
}
.mui-input-group .mui-input-row:last-child:after {
    height: 0;
}
