/**
 * @copyright   Copyright © 2013-2015 佛山齐易网络科技有限公司（Foshan Qiyi Network Technology Co., Ltd.）
 * @license     佛山齐易网络科技有限公司软件授权协议（Qiyi Software License Agreement）
 * @project     tmh360
 * @author      Jaden & Tom
 * @version     index.css 15/8/3 11:12
 * @link        http://www.fs71.com.cn
 */

/**
 * index.html - 首页 
 */
/* 顶部导航栏 */
.index-header {
	width: 100%;
	background-color: #c81623;
	-webkit-box-shadow: 0 1px 0 #c81623;
			box-shadow: 0 1px 0 #c81623;
}
.index-header .title,
.index-header .leftmenu,
.index-header .rightmenu {
	margin: 0;
	padding: 0;
	line-height: 44px;
	color: #f7f7f7;
}
.index-header .rightmenu {
	font-size: 28px;
	line-height: 44px;
}
.index-header a:active {
	color: #7a7a7a;
}
/* 频道 */
.circle {
	display: -webkit-box;
    display: -webkit-flex; 
	margin: 0;
	padding: 15px 0 10px;
	background-color: #fff;
}
.circle li {
    -webkit-box-flex: 1;
	-webkit-flex: 1;
	margin-top: 10px;
	list-style: none;
	text-align: center;	
}
.circle span {
	padding: 10px;
	border-radius: 25px;
	font-size: 30px;
	color: #fff;
}
.circle a {
	display: inline-block;
	width: 100%;
	margin: 15px 0 0;
	font-size: 13px;
	color: #060606;
}
/* 搜索栏 */
.search-input {
	width: 80.4% !important;
	padding-left: 25px !important;
	border: 1px solid #c81623;
	font-size: 14px;
	line-height: 14px;
	background: url("../img/search.png") center left no-repeat;
	background-size: 18px;
	background-position: 2% center;
}
.search-btn {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	height: 40px;
	border: 1px solid #c81623;
	font-size: 14px;
	color: #fff;
	background-color: #c81623;
}
/* 专区 */
.special { 
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-flex-flow: row;
    max-height: 220px;
    margin-top: -15px;
}
.special img {
    width: 100%;
}
.special .left {
    width: 50%;
    border-right: 1px solid #f4f3f3;
    background-color: #fff;
}
.special .right {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    background-color: #fff;
}
#speicalRightTop {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    border-bottom: 1px solid #f4f3f3;
    background-color: #fff;
}
#speicalRightBottom {
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    background-color: #fff;
}
/* 推广 */
.promotion {
    margin-top: 10px;
    font-size: 12px;
}
.promotion .box {
    height: 30px;
}
.promotion .price {
    font-weight: bold;
    font-style: italic;
    color: #c81623;
}
.promotion .title {
    overflow: hidden;
    padding-left: 5px;
    max-width: 57.5%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.promotion .countdown {
    text-align: right;
}
.promotion .countdown .time {
    background-color: #c81623;
    color: #fff;
}
.promotion .countdown .division {
    color: #c81623;
}
.promotion .poster img {
    display: block;
    width: 100%;
    margin: 0 auto;
}
/* 浮动按键 */
.resident {
	position: fixed;
	bottom: 10px;
	left: 0;
	z-index: 2;
	display: -webkit-box;
	width: 50%;
	height: 40px;
}
.resident button {
	display: block;
	-webkit-box-flex: 1;
	position: relative;
	min-width: 60px;
	padding: 0;
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: rgba(247, 247, 247, .3);
	border-radius: 0;
	font-size: 20px;
	line-height: 24px;
	vertical-align: text-top;
	color: #f7f7f7;
	background-color: rgba(62, 62, 62, .25);
}
.resident span {
	display: block;
	font-size: 10px;
	line-height: 16px;
	text-align: center;
}
.resident button:active {
	background-color: rgba(204, 204, 204, .7);
}
.icon-cart {
	border-radius:  0 5px 5px 0 !important;
}

/**
 * leftMenu.html - 左菜单 
 */
.leftmenu-content {
    padding-top: 15px;
}
.leftmenu-list {
    display: block;
    height: auto;
    margin: 0 24px 0 25px;
    padding: 0;
}
.leftmenu-list li {
    display: block;
    padding-left: 40px;
    font-size: 16px;
    line-height: 60px;
    text-align: left;
    color: #f7f7f7;
    background: transparent no-repeat left center;
    background-size: 30px 30px;
}

/**
 * rightMenu.html - 右菜单 
 */
/* 顶部导航栏 */
.nav {
    display: -webkit-box;
}
.nav .mui-icon-back {
    font-size: 24px;
    color: #c81623;
}
.nav .search {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-flex: 1;
    height: 40px;
}
.nav .search .border {
    max-width: 180px;
    padding-left: 10px;
    border-bottom: 1px solid #c81623;
    font-size: 14px;
    white-space: nowrap;
    color: #c81623;
}
.nav .search .seek {
    max-width: 155px;
    margin: 0 !important;
    padding: 0;
    font-size: 16px;
    text-align: left;
    color: #a7a7a7;
    background-color: #fff;
}
.nav button {
    width: 50px;
    height: 28px;
    margin: 7px 0;
    padding: 0;
    border-color: #c81623;
    border-radius: 3px;
    font-size: 18px;
    color: #3e3e3e;
}
/* 选项卡 */
.tab {
    display: -webkit-box !important;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    height: 60px;
    margin: 0 -10px;
    white-space: nowrap;
    background-color: #f4f3f3;
}
.tab .mui-segmented-control {
    top: 0;
    border: 1px solid #c81623;
    border-radius: 5px;
    line-height: 0;
    background-color: #fff;
}
.tab .mui-control-item {
    display: inline-block;
    min-width: 91px;
    height: 28px;
    line-height: 28px;
    padding: 0;
    border: 0;
    font-size: 18px;
    color: #3e3e3e;
}
.tab .mui-control-item.mui-active {
    color: #f7f7f7;
    background-color: #c81623;
}
.tab .category {
    border-radius: auto 0 0 auto;
}
.tab .brand {
    border-radius: 0 auto auto 0;
}
/* 分类 */
div.category {
    padding-top: 104px !important;
}
.category-list {
    margin-top: 0 !important;
    padding-right: 0 !important;
    background-color: #fff !important;
}
.category-list:after {
    height: 0;
}
.category-list li {
    display: block;
    width: 33.33333%;
    padding: 11px 0 !important;
    border: 0 !important;
}
.category-list span {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    font-size: 30px;
    line-height: 60px;
    color: #fff;
    background-color: #c81623;
}
.category-list div {
    margin-top: 10px !important;
    color: #3e3e3e !important;
}
/*右目录品牌*/
.aside-list {
    margin-top: 30px;
    background: none !important;
}
.aside-list a {
    height: 12px !important;
    line-height: 12px !important;
    font-weight: bold;
    color: #3e3e3e;
}
.highlight {
    color: #a7a7a7 !important;
}
.brand-list {
    height: 100%;
}
.brand-list li:first-child {
    margin: 0px;
}
.brand-list .group {
    padding: 5px 10px;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: #3e3e3e;
    background-color: #eee;
}
.brand-list .item {
    font-size: 18px;
    line-height: 20px;
    padding: 18px 10px;
}
.brand-list:after {
    height: 0;
}
.brand-list .mui-table-view-divider:before,
.brand-list .mui-table-view-divider:after {
    background-color: #c2c2c2;
}
.brand-list .mui-table-view-cell:after {
    left: 10px;
    height: 1px;
    background-color: #d0d0d0;
}
