/**
 * @copyright   Copyright © 2013-2015 佛山齐易网络科技有限公司（Foshan Qiyi Network Technology Co., Ltd.）
 * @license     佛山齐易网络科技有限公司软件授权协议（Qiyi Software License Agreement）
 * @project     tmh360
 * @author      Jaden & Tom
 * @version     my.css 15/8/12 10:16
 * @link        http://www.fs71.com.cn
 */

/**
 * homeConsumer & homeDistributor.html 
 */
.my-top {
    width: 100%;
    /*height: 167px;*/
    background-image: url(../img/my-bg.png);
}
.my-top .headportrait {
    display: block;
    width: 100%;
    height: 60px;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    color: #f7f7f7;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
}
.my-top #login {
    float: left;
    width: 25%;
    margin: 0 10% 0 20%;
    color: #fff;
    background-color: #a0b3bC;
}
.my-top #signup {
    float: left;
    width: 25%;
    margin: 0 20% 0 0;
    color: #fff;
    background-color: #a0b3bc;
}
.my-top .my-mid {
    margin-top: 5px;
    width: 100%;
    height: 30px;
}
.my-top .face {
    font-size: 50px;
    line-height: 95px;
    text-align: center;
    color: #f7f7f7;
    background-size: 60% 40%;
    background-repeat: no-repeat;
    background-position: center;
}
.my-top .telephone {
    margin-left: 10px;
    line-height: 95px;
    color: #fff;
}
/*我的页面*/
.my-home .mui-table-view:before,
.my-home .mui-table-view:after,
.my-home .mui-table-view-cell:after {height: 0;}
.my-home .mui-table-view {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}
.my-home .mui-table-view-cell {border-bottom: 1px solid #d8d8d8;}
.my-home .mui-table-view-cell:last-child{border-bottom: 0;}
/*标签栏*/
.tab {
    margin-top: 12px;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.2);
}
.tab.distributor {
    margin-top: 0;
}
.tab.distributor .inner {
    padding-top: 14px;
}
.tab .inner {
    float: left;
    width: 33.333333%;
    height: 100%;
}
.tab .inner:active {
    background-color: #a5a5a5;
}
.profit div:active {
    background-color: #f0f0f0;
}
.tab .inner.last {
    background: none;
}
.inner .qiyifont {
    display: block;
    height: 32px;
    margin-top: 11px;
    font-size: 36px;
    text-align: center;
    color: #f7f7f7;
}
.inner img {
    width: 30%;
    height: 35px;
    margin-top: 3px;
    margin-left: 35%;
}
.inner .text {
    margin-top: -5px;
    text-align: center;
}
.inner .text,
.inner .number {
    display: block;
    font-size: 14px;
    text-align: center;
    color: #f7f7f7;
}
.right-text-red {
    margin-right: 10px;
    float: right;
    color: #c81623;
}
.right-text-gry {
    float: right;
    color: #d8d8d8;
}
.right-text-black {
    margin-right: 13px;
    float: right;
    color: #000;
}
.right-arrow {
    float: right;
    width: 16px;
    padding: 13px 0 0;
}
/*右箭头右边红色字体*/
.update {
    margin-right: -30px;
    font-size: 12px;
    font-style: normal;
    color: #999;
}
.update-red {
    margin-right: -30px;
    font-size: 12px;
    font-style: normal;
    color: #c81623;
}
.update-black {
    margin-right: -30px;
    font-size: 12px;
    font-style: normal;
    color: #000;
}
.mui-table-view {
    margin-top: 10px !important;
}
.mui-table-view a {
    font-size: 14px;
}
.mui-table-view .share {
    font-weight: bold;
    color: #c81623 !important;
}
/* 我的营收 */
.summary {
    margin-top: 10px;
}
.my-revenue {
    display: block;
    padding-left: 15px;
    border-bottom: 1px solid #D8D8D8;
    font-size: 14px;
    background-color: #fff;
}
.profit {
    width: 100%;
    height: 55px;
    background-color: #fff;
}
.profit .inner {
    float: left;
    width: 33.33333%;
    height: 100%;
}
/*.profit .inner:active {
    background: #A5A5A5;
    background-size: 1px 100%;
}
.profit .inner.last {background: none;}
.profit .inner.last:active {background: #A5A5A5;}
.profit .inner .text {font-size: 14px !important;}*/
.profit .inner .number,
.profit .inner .text {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
    color: #000000;
}
.profit .disabled .number,
.profit .disabled .text {
    color: #a7a7a7;
}

/* signupConsumer.html */
.clause {
    margin: 0 10px;
    border: none;
}
.clause input[type='checkbox'] {left: 0 !important;}
.clause label {padding-left: 30px !important;}
#frmCode {
    width: 56%;
}
.countDown {
    width: 42.4%;
    height: 40px;
    padding: 0;
    line-height: 40px;
}

/* signupDistributor.html */
.title-ls3 {font-size: 14px;}
.level {
    width: 56%;
    line-height: 26px;
    margin-bottom: 15px;
}
.notice {
    width: 42%;
    font-size: 12px;
}
.notice span {
    color: #c81623;
}
.area {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 26px;
}
/* 服务条款 */
.terms {
    margin-left: -10px;
}
.terms label {
    font-size: 14px;
    color: #3e3e3e;
}
/* 覆盖MUI选择框样式 */
.terms input[type=checkbox]:disabled:before {
    color: #c81623;
    opacity: 1;
}

/* login.html */
.loginform {
    margin-top: 15px;
    background-color: transparent;
}
.loginform .text {
    height: 60px;
    padding-top: 10px;
}
.loginform .text:after {
    margin-left: 19%;
}
.loginform .mui-icon-clear {
    top: 20px !important;
    right: 20px !important;
    width: auto !important;
    height: auto !important;
}
.loginform label {
    width: 23%;
}
.loginform input {
    width: 77% !important;
}

/* certification.html */
.certification {
    margin-top: 10px; 
    padding-bottom: 5px;
}
.certification label {
    padding-top: 11px;
    line-height: 20px;
}
.certification-statement {
    padding-left: 30px;
    padding-right: 10px;
    font-size: 14px;
    color: #a7a7a7;
}
/* delivery.html */
/*.frmCity {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}*/
#frmCity {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none
}
/*about.html*/
.top-picture-about {width: 100%;}
.top-picture-about img {width: 100%;}
.text-indent-about {text-indent: 2em;}
.h4-about,
.h5-about {
    padding-left: 5px;
    border-left: 2px solid #c81623;
    color: #c81623;
}
.h4-about-red,
.h5-about-red {
    margin: 15px 0 15px 0;
    text-align: center;
    color: #c81623;
}
.h5-about,
.h5-about-red {
    margin-top: 25px;
    font-weight: bold;
}
.top-border-about {
    border-top: 1px solid black;
    padding-top: 5px;
}
.about p {color: #3e3e3e;}
/* item.html */
.item-service h5 {
    font-weight: bold;
    color: #3e3e3e;
}
.item-service h5 {line-height: 24px;}
.item-service p {color: #3e3e3e;}
/* help.html */
.help-guide {padding: 0 10px;}
.help-guide h4 {
    line-height: 24px;
    color: #c81623;
}
.help-guide h5 {
    line-height: 18px;
    font-weight: bold;
    color: #c81623;
}
.help-guide p {
    margin: 10px 0;
    line-height: 20px;
    color: #3e3e3e;
}
.help-guide span {
    font-size: 14px;
    color: #3e3e3e;
}
.help-guide div {margin-top: 10px;}
.help-guide .text_indent {text-indent: 28px;}
.help-guide img {width: 100%;}
.help-guide .advantage p {
    margin-bottom: 0;
    margin: 0;
    padding: 10px 10px 0;
    color: #3e3e3e;
}
.help-guide .advantage h4 {
    font-size: 16px;
    margin-top: 20px;
}
.help-guide .payment {height: auto !important;}
.help-guide .payment span {
    display: block;
    padding-top: 10px !important;
    font-weight: bold;
}
.help-guide .payment a {word-wrap: break-word;}

/* userDetails.html */
.mui-content.mui-input-group {
    background-color: inherit;
}
.signup:after {
    height: 0;
}
.signup .mui-content-padded {
    background-color: #fff;
}
.mui-input-row.address {
    height: auto;
}
.ic {
    position: relative;
    display: inline-block;
    width: 40%;
    margin: 10px;
}
.file {
    display: inline-block;
    width: 100%;
    background: url("http://img.tmh360.cn/system/ic-bg.jpg") no-repeat;
    background-size: cover;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
}
.file input {
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* subordinate.html */
.list {
    font-size: 14px;
}
.list .mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
    border-bottom: 0;
}
.list .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    color: #c81623;
}
.list .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar {
    background-color: #c81623;
}
.list table {
    width: 100%;
}
.list tr {
    border-bottom: 1px dotted #ccc;
}
.list thead tr {
    border-bottom-style: solid;
}
.list th, .list td {
    padding: 5px 0 !important;
}

/* commission.html */
.remark {
    font-size: 13px;
}
