/**
 * @copyright   Copyright © 2013-2015 佛山齐易网络科技有限公司（Foshan Qiyi Network Technology Co., Ltd.）
 * @license     佛山齐易网络科技有限公司软件授权协议（Qiyi Software License Agreement）
 * @project     tmh360
 * @author      Jaden & Tom
 * @version     qiyifont.css 15/8/3 21:39
 * @link        http://www.fs71.com.cn
 */

@font-face {
	font-family: "qiyifont";
	src: url('../fonts/qiyifont.ttf') format('truetype'); 
}
.qiyifont {
  font-family: "qiyifont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
}
.icon-love:before { content: "\e600"; }
.icon-alarmclock:before { content: "\e601"; }
.icon-female:before { content: "\e602"; }
.icon-plane:before { content: "\e604"; }
.icon-cart:before { content: "\e605"; }
.icon-likes:before { content: "\e606"; }
.icon-dairy:before { content: "\e607"; }
.icon-complementary:before { content: "\e608"; }
.icon-arrowup:before { content: "\e60b"; }
.icon-diaper:before { content: "\e60d"; }
.icon-people:before { content: "\e60f"; }
.icon-commodity:before { content: "\e610"; }
.icon-share:before { content: "\e611"; }
.icon-barsseek:before { content: "\e612"; }
.icon-search:before { content: "\e615"; }
.icon-statement:before { content: "\e617"; }
.icon-bankcard:before { content: "\e619"; }
.icon-truck:before { content: "\e61a"; }
.icon-calendar:before { content: "\e61b"; }
.icon-cosmetic:before { content: "\e61e"; }
.icon-bell:before { content: "\e61f"; }
.icon-health:before { content: "\e620"; }
.icon-house:before { content: "\e621"; }
.icon-shaper:before { content: "\e622"; }
/*
.icon-preparing:before {content: "\e603";}
.icon-plane:before {content: "\e604";}
.icon-robtickets:before {content: "\e609";}
.icon-fenleiseek:before {content: "\e613";}
.icon-homepage:before {content: "\e614";}
.icon-true:before {content: "\e616";}
.icon-lorry:before {content: "\e618";}
.icon-fulllove:before {content: "\e60a";}
.icon-arrowdown:before {content: "\e60c";}
.icon-homebonded:before {content: "\e60e";}
*/
