/**
 * @copyright   Copyright © 2013-2015 佛山齐易网络科技有限公司（Foshan Qiyi Network Technology Co., Ltd.）
 * @license     佛山齐易网络科技有限公司软件授权协议（Qiyi Software License Agreement）
 * @project     tmh360
 * @author      Jaden
 * @version     share.css 15/8/10 14:15
 * @link        http://www.fs71.com.cn
 */

/*弹性盒子九宫格*/
.grid-9 {
    display: -webkit-box !important;
    -webkit-box-pack: center;
    padding: 1px 0 0 !important;
    background-color: #fff !important;
}
.grid-9:after {height: 0;}
.grid-9 li {
    display: block !important;
    -webkit-box-flex: 1;
}
/*share.html*/
.share-grid-9 a {
    width: 90px;
    margin: 0 auto !important;
}
.share-grid-9 img {
    width: 50px;
    height: 50px;
}
.share-grid-9 .mui-media-body {color: #848887 !important;}          
.share-close {
    width: 100%;
    height: 50px;
    border-width: 1px 0 0;
    border-style: solid;
    border-color: #eee;
    font-size: 18px;
    color: #848887;
    background-color: #fff;
}