/**
 * @copyright   Copyright © 2013-2015 佛山齐易网络科技有限公司（Foshan Qiyi Network Technology Co., Ltd.）
 * @license     佛山齐易网络科技有限公司软件授权协议（Qiyi Software License Agreement）
 * @project     tmh360
 * @author      Jaden & Tom
 * @version     store.css 15/8/6 21:13
 * @link        http://www.fs71.com.cn
 */

/* 顶部导航栏 */
.store-header {
    width: 100%;
    background-color: #c81623;
    -webkit-box-shadow: 0 1px 0 #c81623;
            box-shadow: 0 1px 0 #c81623;
}
.store-header a,
.store-header h1 {
    color: #f7f7f7;
}
/*LOGO*/
.intro {
    display: -webkit-box;
    -webkit-box-align: center;
    padding: 10px;
    line-height: 40px;
    background-color: #fff;
}
.intro img {
    width: auto;
    height: 40px;
    padding: 0 10px 0 0;
    vertical-align: middle;
}
.intro p {
    -webkit-box-flex: 1;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    text-align: left;
    vertical-align: middle;
    color: #3e3e3e;
}
.intro .cart {
    width: 20px;
    height: 40px;
    padding: 0;
    border: 0;
    font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
    color: #a7a7a7 !important;
    background-color: #fff !important;
}
/*品牌详情*/
.more-detail {
    padding: 0 10px 10px;
    font-size: 12px;
    line-height: 18px;
    text-indent: 24px;
    color: #3e3e3e;
    background-color: #fff;
}
/* 商品列表 */
.goods-list {
    margin: 0 5px;
}
.goods-list .item {
    width: 100%;
    margin-top: 5px;
    padding: 10px 0;
    background-color: #fff;
}
.goods-list .thumb {
    display: block;
    width: 100%;
    padding: 0 5px;
}
.goods-list .info {
    width: 70%;
    margin-top: 5px;
    padding-right: 5px;
}
.goods-list .info div {
    display: -webkit-box;
    font-size: 14px;
    line-height: 21px;
    color: #3e3e3e;
}
.goods-list .info .box {
    position: relative;
}
.goods-list .info h4 {
    font-weight: normal;
}
.goods-list .info .price {
    color: #c81623;
}
.goods-list .info .share {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 26px;
    line-height: 26px;
    vertical-align: text-bottom;
    color: #c81623;
}
.goods-list .info button {
    position: absolute;
    right: 5px;
    bottom: 5px;
    border: 1px solid #c81623;
    color: #f7f7f7;
    background-color: #c81623;
}
/* 商品详情 */
.mui-bar .qiyifont {
    margin: 0 -10px;
    padding: 12px;
    line-height: 1;
    font-size: 20px;
    font-weight: 400;
}
.goods-info {
    margin-top: 10px;
    padding: 0 10px;
    font-size: 16px;
}
.goods-info div {
    display: block;
    line-height: 26px;
    color: #c81623;
}
.goods-info h4 {
    color: #c81623;
}
.goods-info .icon-likes {
    display: inline-block;
    padding-right: 10px;
    font-size: 20px;
    font-weight: normal;
}
.goods-info .title {
    color: #3e3e3e;
}
.goods-info .delete {
    padding-left: 16px;
    font-size: 14px;
    text-decoration: line-through;
    color: #3e3e3e;
}
.goods-tips {
    margin-top: 10px;
    padding: 0 10px;
    color: #3e3e3e;
}
.goods-tips h4 {
    font-weight: normal;
}
.goods-tips .content {
    padding: 5px 0;
    border-top: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
    font-size: 14px;
    line-height: 21px;
    color: #3e3e3e;
}
.goods-tips .freight,
.goods-tips .tips {
    display: block;
    padding-left: 46px;
    text-indent: -46px;
}
.goods-tips span.title {
    text-indent: 0;
}
.goods-tips span.text {
    padding-right: 10px;
    font-size: 14px;
    text-indent: 0;
}
.goods-detail .mui-slider {
    padding: 0 10px;
}
.goods-detail .mui-slider a {
    font-size: 18px;
    color: #3e3e3e !important;
}
.goods-detail .mui-slider-group {
    margin: 0 -10px;
}
.goods-detail .mui-slider-progress-bar {
    padding: 0 10px;
    background-color: #c81623 !important;
}
.goods-detail .mui-slider-item {
    border: 0 !important;
}
.goods-detail .mui-slider-item img {
    display: block;
}
.goods-detail #params {
    padding: 0 10px;
}
.bar {
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: -webkit-box;
    width: 100%;
    height: 65px;
    padding: 0 10px;
    vertical-align: center;
    background-color: rgba(255,255,255,.5);
    -webkit-box-pack: justify;
    -webkit-box-align: center;
}
.bar .return-top {
    position: absolute;
    right: 20px;
    bottom: 70px;
    z-index: 10;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 26px;
    line-height: 40px;
    text-align: center;
    color: #f7f7f7;
    background-color: rgba(200,22,35,.6);
}
.bar .icon-cart {
    position: relative;
    display: -webkit-box;
    width: 46px;
    height: 42px;
    padding-top: 2px;
    font-size: 36px;
    line-height: 46px;
}
.bar .icon-cart:active {
    color: #c81623;
}
.bar .quantity {
    position: absolute;
    top: 0;
    left: 27px;
    z-index: 12;
    display: block;
    height: 18px;
    padding: 0 4px;
    border: 2px solid #f7f7f7;
    border-radius: 9px;
    font-size: 12px;
    line-height: 16px;
    color: #f7f7f7;
    background-color: #c81623;
    background-clip: padding-box;
}
.bar .button {
    display: -webkit-box;
    width: 213px;
    -webkit-box-pack: end;
}
.bar .button .cart {
    margin-right: 3px;
}
.bar .button .cart.not {
    background-color: #a7a7a7 !important;
}
.bar .button .cart,
.bar .button .share {
    display: block;
    height: 42px;
    width: 105px;
    padding: 0; 
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    color: #f7f7f7;
    background-color: #c81623;
}

/* cart.html */
.cart-null .qiyifont {padding-right: 34px;}
.cart-null p {font-size: 22px;}
.cart-null button {
    width: 242px;
    margin-top: 20px;
    border: 0;
    font-size: 22px;
    color: #f7f7f7;
    background-color: #c81623;
}

/* 购买须知 */
.carttitile {padding: 10px;}
.carttitile h4 {
    padding-bottom: 5px;
    border-bottom: 1px solid #a7a7a7;
    font-size: 16px;
    font-weight: normal;
    color: #3e3e3e;
}
.carttitile p {
    margin: 0;
    color: #8f8f94;
}
.cartblock > h4 {
    padding: 5px;
    /*border-top: 1px solid #a7a7a7;*/
    /*border-bottom: 1px solid #a7a7a7;*/
    font-size: 14px;
    font-weight: normal;
    color: #3e3e3e;
    background-color: #d8d8d8;
}
.goodscard > input {float: left;}

/* 结算区 */
.settlement-cart {
    display: -webkit-box;
    padding: 10px;
    border-top: 1px solid #ccc;
    -webkit-box-pack: justify;
}
/* 计价小结 */
.subtotal {
    padding-top: 13px;
    font-size: 16px;
    color: #c81623;
}
.subtotal span {
    color: #c81623;
}
.subtotal p {
    display: inline-block;
}
/* 结算区的结算按钮 */
.settlement-cart .btn {
    width: 105px;
    height: 42px;
    border: 0;
    font-size: 16px;
    color: #f7f7f7;
    background-color: #c81623;
}
/* 商品卡片 */
.goodscard {
    position: relative; 
    height: 120px;
    margin-bottom: 5px;
    padding: 4px;
    /*border: 1px solid #ccc;*/
    background-color: #fff;
}
.goodscard .cardcheck {
    margin: 50px 10px 0 10px;
    
}
.cardcheck {
    margin: 0 10px 0 10px;
}
/* 商品图 */
.goodscard img {
    float: left;
    width: 80px;
    margin-right: 5px;
    padding-top: 15px;
}
.goodscard section {
/* 商品信息区域 */
    float: left;
    height: 100%;
    margin-left: 10px;
}
/* 商品名称 */

/* 商品副标题与其他说明  */

/* 删除按钮 */
.goodscard .delete {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #ccc;
}
.goodscard .delete:visited {
    color: #ccc;
}

.settlement-head {
    display: -webkit-box;
    position: relative;
    height: 100px;
    width: 100%;
    padding-left: 10px;
    color: #f7f7f7;
    background-image: url(../img/my-bg.png);
    background-size: 100%;
    -webkit-box-align: center;
}
.settlement-head:active {color: #f7f7f7;}
.settlement-head div {
    display: block;
    padding-right: 40px;}
.settlement-head p {
    margin-top: 10px;
    font-size: 16px;
    color: #f7f7f7;
}
.settlement-head .mui-icon {
    position: absolute;
    top: 35px;
    right: 10px;
    font-size: 30px;
}
.settlement h4 {
    color: #3e3e3e;
    font-weight: normal;
}
.settlement input[type='radio'] {left: 8px !important;}
.settlement .mui-table-view-cell.mui-left {padding-left: 48px;}
.settlement .mui-table-view-cell {padding: 11px 12px;}
.settlement .mui-table-view-cell:after {left: 0;}
/* 类目两边放置 - 公用样式 */
.text-justify {
    display: -webkit-box;
    padding: 0 10px;
    font-size: 14px;
    color: #3e3e3e;
    -webkit-box-pack: justify;
}
.text-justify span {    display: block;}
/* 建立宽度，让文字左对称 */
.span-width-80 {    width: 80px;}
/* 应付金额边距 */
.account-sum {padding: 5px 10px 2px;}
/* 单选按钮样式覆盖 */
.radio-color input[type=radio]:checked:before {
    color: #c81623;
    opacity: 1;
}
/* 取消下拉框内ul默认边距，并不显示 */
.padLef0-disNone {
    padding-left: 0;
    display: none;
}
.border-bottom-grey {border-bottom: 1px solid #dbdbdb;}