/**
 * @copyright   Copyright © 2013-2015 佛山齐易网络科技有限公司（Foshan Qiyi Network Technology Co., Ltd.）
 * @license     佛山齐易网络科技有限公司软件授权协议（Qiyi Software License Agreement）
 * @project     tmh360
 * @author      Bruce
 * @version     trade.css 15/8/20 15:41
 * @link        http://www.fs71.com.cn
 */

/*order-all.html*/
.order-block-all {
    width: 100%;
    height: 168px;
    margin-top: 10px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
}
.order-body-all {
    width: 100%;
    height: 102px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.order-block-all img {
    float: left;
    margin-left: 5px;
    width: 90px;
    height: 90px;
}
.order-block-all div {
    float: left;
    width: 75%;
    margin: 5px 0 5px 5px;
    font-size: 14px;
}
.order-block-all section span {
    float: right;
    color: #a7a7a7;
    font-size: 30px;
}
.order-block-all .mui-btn {
    float: right;
    height: 30px;
    margin: 5px 10px 5px 0;
}
.order-block-all h5 {
    margin-left: 10px;
    color: #3e3e3e;
}

/*order.html*/
/* 订单详情盒子 - 公用 */
.order-title-wait {
    background-color: #fff;
}
.order-title-wait h4 {
    padding: 5px;
    border-bottom: 1px solid #dbdbdb;
    font-weight: normal;
}
.order-title-wait p {
    margin: 0;
    margin-left: 10px;
    color: #3e3e3e;
}
/* 商品图文盒子 - 公用  */
.img-block {
    display: -webkit-box;
}
.img-block img {
    width: 80px;
    height: 80px;
    margin-left: 5px;
}
/* 收货信息下让信息左对齐 */
.span-width-252 {
    width: 252px;
}
.border-top-grey {
    border-top: 1px solid #dbdbdb;
}
/*商品信息*/
.commodityod1 {
    width: 100%;
    /*height: 120px;*/
    margin-top: 10px;
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    background-color: #fff;
}
.pictureod1 {
    float: left;
    width: 30%;
    height: 90px;
    margin: 5px 0;
}
.pictureod1 img {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-left: 10px;
}
.nameod1 {
    float: left;
    width: 40%;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 16px;
}
.name1od1 {
    float: left;
    width: 20%;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 16px;
}
.name2od1 {
    float: left;
    width: 60%;
    height: 30px;
    margin-left: 10px;
    font-size: 12px;
}
.order-body {
    float: left;
    width: 25%;
    font-size: 14px;
    text-indent: 10px;
}
.order-footer {
    float: left;
    width: 75%;
    padding-right: 10px;
    font-size: 14px;
}
.order-header {
    float: left;
    width: 100%;
}
.order-money-body {
    float: left;
    width: 75%;
    font-size: 14px;
    text-indent: 10px;
}
.order-money-footer {
    float: left;
    width: 25%;
    font-size: 14px;
}
.order-title {
    text-indent: 10px;
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    font-size: 16px;
    font-weight: bolder;
}
.pay-btn {
    margin: 5px 10px 0 10px;
    float: right;
    width: 100px;
    height: 40px;
    background-color: #c81623;
    color: #fff;
}
.pay-btn-red {
    float: right;
    width: 82px;
    height: 33px;
    margin-left: 10px;
    border-color: #c81623;
    color: #fff;
    background-color: #c81623;
}
.pay-btn-green {
    float: right;
    width: 82px;
    height: 33px;
    margin-left: 10px;
    border-color: #56932c;
    color: #fff;
    background-color: #56932c;
}
.cancel-btn {
    float: right;
    margin: 0 10px 0 10px;
    width: 82px;
    height: 33px;
    color: #3e3e3e;
    background-color: #fff;
}
.order-text-red {color: #c81623;}
.order-text-orange {color: #ffc685;}
.order-background {
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
}
.order-dashed {border-top: 1px dashed #dbdbdb;}
.order-picture-header {
    padding-left: 10px;
    border-bottom: 1px solid #dbdbdb;
    font-size: 16px;
    font-weight: bolder;
}

/* reshipRequest.html */
.mui-input-row.message {
    height: auto;
}
