<template>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">免流量</h1>
	</header>
	<div class="mui-content">
		<h5 class="mui-content-padded">开启免流量功能需要绑定本机号码</h5>
		<div class="mui-content-padded">
			<div class="mui-input-group">
				<div class="mui-input-row">
					<input id="phone" type="number" placeholder="请输入手机号码">
				</div>
				<div class="mui-button-row">
					<button v-on="tap:sendCode" type="button" v-class="mui-btn:true,mui-btn-outlined:true,mui-disabled:seconds">{{codeText}}</button>
				</div>
			</div>
			<div class="mui-input-group">
				<div class="mui-input-row">
					<input id="code" type="number" placeholder="请输入验证码">
				</div>
			</div>
			<button v-on="tap:bind" type="button" class="mui-btn mui-btn-primary mui-btn-block">立即绑定</button>
			<p style="margin-top: 25px;"><span class="mui-icon mui-icon-info"></span>绑定即同意<a v-on="tap:openAgreement3" href="javascript:;">免费上网协议</a></p>
		</div>
	</div>
</template>
<script>
	var Store = require('./store');
	var Free = require('./freetraffic');
	var Util = require('./util');
	var Logger = require('./logger');
	module.exports = {
		el: '#app',
		data: function() {
			return {
				seconds: 0,
				codeText: '获取验证码',
				binded: false
			};
		},
		ready: function() {
			this.phoneElem = document.getElementById("phone");
			this.codeElem = document.getElementById("code");
			mui.plusReady(function() {
				Logger.logMllByBind(); //免流量打开时
			});
			mui.init({
				beforeback: function() {
					if (!this.binded) {
						Logger.logMllByBindAction(1); //打点免流量取消
					}
				}.bind(this)
			});
			Store.fetchFlowStatus();
			//			mui.plusReady(function() {
			//				var imsi = plus.device.imsi;
			//				if (mui.isArray(imsi) && imsi.length > 1) {
			//					Util.showSimsTips();
			//				}
			//			});
		},
		components: {
			flowstatus: require('./components/flowstatus.vue')
		},
		methods: {
			bind: function() {
				Util.showWaiting();
				Logger.logMllByBindAction(2); //立即绑定打点
				Free.freetrafficBind(this.phoneElem.value, this.codeElem.value, function(response, error) {
					if (error) {
						Util.closeWaiting();
						if (error.code && !(error.code >= 50001 && error.code <= 50006)) {
							Logger.logMllByBindAction(error.code);
						}
						plus.nativeUI.alert(error.message || '未知错误', function() {
							if (error.code == '50006') {
								mui.back();
							}
						});
					} else if (response) {
						this.binded = true;
						var helpWebview = plus.webview.getWebviewById('help');
						if (helpWebview) {
							helpWebview.hide('none');
						}
						//绑定成功且获取了流量信息，自动后退,同时通知我的生活更新流量数据显示
						Free.freetrafficInfo(function(response) {
							Util.closeWaiting();
							var total = 30;
							if (response) {
								var freeInfo = response;
								if (freeInfo.balance < 0) {
									freeInfo.balance = 0;
								}
								Store.setMonthTips(freeInfo.balance_exprire);
								total = parseInt((parseInt(freeInfo.used) + parseInt(freeInfo.balance)) / 1024 / 1024);
								mui.fire(plus.webview.getWebviewById('my'), 'bindSuccess', {
									total: total || 30,
									expire: freeInfo.balance_exprire
								});
								mui.fire(plus.webview.getLaunchWebview(), 'bindSuccess');
							}
							mui.back();
						}.bind(this));
					} else {
						Util.closeWaiting();
					}
				}.bind(this));
			},
			sendCode: function(e) {
				if (!this.seconds) {
					var phone = this.phoneElem.value;
					if (!phone) {
						plus.nativeUI.alert('请输入手机号');
						return;
					}
					var flowStatus = Store.getFlowStatus();
					if (flowStatus) {
						var section = flowStatus.num_section;
						if (section) {
							var carrier; //当前手机号运营商
							var prefix = parseInt((phone + '').substr(0, 3));
							for (var key in section) {
								if (~section[key].indexOf(prefix)) {
									carrier = key;
									break;
								}
							}
							if (!carrier) {
								plus.nativeUI.toast('该号码暂不支持免流量功能');
								return;
							}
							if (carrier === 'china_telecom') {
								plus.nativeUI.toast('暂未开通电信版免流量功能');
								return;
							}
							var mnc = {
								'china_mobile': ['46000', '46002', '46007'],
								'china_telecom': ['46003', '46005'],
								'china_unicom': ['46001', '46006']
							};
							var imsi = plus.device.imsi;
							if (imsi && mui.isArray(imsi) && imsi.length) {
								imsi = imsi[0].substr(0, 5);
								if (mnc[carrier]) {
									if (!~mnc[carrier].indexOf(imsi)) {
										plus.nativeUI.toast('请填写本机号码');
										return;
									}
								}
							}
						}
					}
					this.seconds = 60;
					this.codeTimer();
					Free.freetrafficRequest(phone, function(response, error) {
						if (error) {
							plus.nativeUI.alert(error.message || '未知错误');
							this.seconds = 0;
						} else {
//							Logger.logMllByBindAction(3); //获取验证码成功打点
						}
					}.bind(this));
				}
			},
			codeTimer: function() {
				this.codeText = this.seconds + '秒后重发';
				var codeInterval = window.setInterval(function() {
					this.codeText = --this.seconds + '秒后重发';
					if (this.seconds <= 0) {
						window.clearInterval(codeInterval);
						this.seconds = 0;
						this.codeText = '获取验证码';
					}
				}.bind(this), 1000);
			},
			openAgreement3: function() {
				var agreement3Webview = plus.webview.create('http://openbox.mobilem.360.cn/html/shzs/app/agreement.html', 'agreement3');
				plus.nativeUI.showWaiting();
				agreement3Webview.addEventListener('loaded', function() {
					plus.nativeUI.closeWaiting();
					agreement3Webview.show('pop-in', 300);
				});
			}
		}
	}
</script>