<template>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">我要反馈</h1>
	</header>
	<div class="mui-content">
		<div class="mui-content-padded">
			<div class="problem ellipseBox" style="padding-bottom: 10px;">
				<textarea id="content" class="problemDesc"></textarea>
				<div class="imgs">
					<ul class="screenshotList hbox">
						<li v-repeat="file in images">
							<div class="full"><a v-on="click:delete($index,file,$event)" class="del">+</a><img v-attr="src:file" /></div>
						</li>
						<li v-class="hidden:images.length>=5">
							<div v-on="click:pick" id="picker" class="picker"></div>
						</li>
					</ul>
				</div>
			</div>
			<div class="contact ellipseBox" style="margin-top: 20px;">
				<div class="mui-input-row">
					<label for="contact" style="float: none;width: auto;padding: 10px 15px 10px 0;">您的联系方式:</label>
					<input type="text" placeholder="邮箱/QQ/手机号(必填)" id="contact" style="font-size: 15px;float: none;max-width: 170px;">
				</div>
			</div>
			<div class="btnGroup">
				<a v-on="tap:submit" class="button button-1 ">提交反馈</a>
			</div>
		</div>
	</div>
</template>
<script>
	var MD5 = require("blueimp-md5");
	var Util = require('./util');
	var Api = require('./api');
	module.exports = {
		el: '#app',
		data: function() {
			var project = '360life';
			if (mui.os.android) {
				project = '360life_android';
			} else if (mui.os.ios) {
				project = '360life_iOS';
			}
			return {
				project: project,
				umsg: 'email,qq,mobile',
				tag: 'feedback',
				images: [],
				content: ''
			};
		},
		ready: function() {
			var self = this;
			//TODO 好像html-loader编译时会移除type="text"属性，导致ios无法获取光标
			document.getElementById("contact").setAttribute('type', 'text');
			var contentElem = document.getElementById("content");
			var placeholder = '请描述您在使用该服务的过程中遇到的问题，您可以将遇到的问题截图在此上传，我们会竭诚为您解决。注意:非wifi网络上传图片会消耗流量（必填）';
			contentElem.value = placeholder;
			contentElem.addEventListener('focus', function() {
				if (this.value.trim() === placeholder) {
					this.value = '';
				}
			});
			contentElem.addEventListener('blur', function() {
				if (!this.value.trim()) {
					this.value = placeholder;
				}
			});
		},
		methods: {
			pick: function() {
				var regex = /\.(gif|jpg|bmp|png|GIF|JPG|BMP|PNG)$/;
				plus.gallery.pick(function(file) {
						if (regex.test(file)) { //暂不过滤文件大小，后续可以通过plus读取文件，然后在检查size
							this.images.push(file);
						} else {
							Util.toast(file.name + '类型不匹配');
						}
					}.bind(this),
					function(e) {}, {
						filter: "image"
					});
			},
			delete: function(index, file, event) {
				this.images.splice(index, 1);
				event.preventDefault();
			},
			handleUMsg: function() {
				if (/^[\d\w]+@([\w\d]+.)+\w{2,4}$/.test(this.contact)) { //email
					return 'email';
				} else if (/^(13[0-9]|14[0-9]|15[0-9]|18[0-9])\d{8}$/i.test(this.contact)) { //phone
					return 'phone';
				} else if (/^\d+$/i.test(this.contact)) { //QQ
					return 'qq';
				} else {
					return '';
				}
			},
			submit: function() {
				var self = this;
				self.content = document.getElementById("content").value.replace(/\n/g, "");
				if (!self.content) {
					plus.nativeUI.alert('请填写您在使用该服务的过程中遇到的问题');
					return;
				}
				self.contact = document.getElementById("contact").value;
				self.umsg = self.handleUMsg();
				if (!self.umsg) {
					plus.nativeUI.alert('请填写正确的邮箱/QQ/手机号');
					return;
				}
				self.content = self.content + '（设备IMEI:' + plus.device.imei + '，系统:' + (plus.device.model + ' ' + plus.os.name + ' ' + plus.os.version) + '）';
				Util.DEBUG && Util.D('MD5 before:' + self.project + self.content + "360clientfeedback");
				Util.showWaiting();
				var task = plus.uploader.createUpload("http://care.help.360.cn/care/upload", {
						method: "POST"
					},
					function(t, status) {
						Util.closeWaiting();
						// 上传完成
						if (status == 200) {
							try {
								var response = JSON.parse(t.responseText);
							} catch (e) {
								Util.DEBUG && Util.D(e);
							}
							if (response && response.errno) {
								plus.nativeUI.alert(response.errmsg);
							} else {
								plus.nativeUI.alert('感谢您的反馈！', function() {
									mui.back();
								});
							}
						} else {
							plus.nativeUI.alert('网络错误');
						}
					}
				);
				for (var i = 0, len = Math.min(this.images.length, 5); i < len; i++) {
					task.addFile(this.images[i], {
						name: "img" + (i + 1)
					});
				};
				task.addData("content", self.content);
				task.addData("umsg", self.umsg);
				task.addData("contact", self.contact);
				task.addData("project", self.project);
				task.addData("sys", plus.device.model + ' ' + plus.os.name + ' ' + plus.os.version);
				task.addData("ver", plus.runtime.version);
				task.addData("tag", self.tag);
				task.addData("verify", MD5(self.project + self.content + "360clientfeedback"));
				task.start();
			}
		}
	}
</script>