<template>
	<div v-class="mui-content:true,mui-active:location">
		<banner v-ref="banner"></banner>
		<main v-ref="main"></main>
		<activity v-ref="activity"></activity>
		<hotserver v-ref="hotserver"></hotserver>
	</div>
	<login active="{{@loginActive}}"></login>
	<monthpopover active="{{@monthActive}}" total="{{@monthTotal}}" expire="{{@monthExpire}}"></monthpopover>
	<bindphone active="{{@phoneActive}}"></bindphone>
	<tips active="{{@tipsActive}}"></tips>
	<upgrade active="{{@upgradeTipsActive}}" info="{{update_info}}"></upgrade>
	<broken></broken>
</template>
<script>
	var Store = require('./store');
	var Api = require('./api');
	var PAGE_START = mui.now();
	module.exports = {
		el: '#app',
		mixins: [require('./mixins/broken'), require('./mixins/tips'), require('./mixins/login')],
		data: function() {
			return {
				location: false,
				citycode: '000',
				ip: '',
				upgradeTipsActive: false,
				monthActive: false,
				monthTotal: 0,
				monthExpire: '',
				update_info: {
					pkg_capacity: "",
					pkg_hash: "",
					pkg_url: "",
					update_note: "",
					ver: ""
				}
			};
		},
		ready: function() {
			document.addEventListener('showMonthTips', function(e) {
				this.monthTotal = e.detail.total;
				this.monthExpire = e.detail.expire;
				this.monthActive = true;
			}.bind(this));
			this.update();
		},
		components: {
			banner: require('./components/banner.vue'),
			main: require('./components/main.vue'),
			activity: require('./components/activity.vue'),
			hotserver: require('./components/hotserver.vue'),
			upgrade: require('./components/upgradepopover.vue'),
			monthpopover: require('./components/monthpopover.vue')
		},
		methods: {
			update: function() {
				this.checkUpdate();
				Store.fetchTipsDomainList(); //每次启动读取一次tips domain list
				Store.getLocation(function(response) {
					if (response) {
						this.location = response.location;
						this.citycode = response.citycode;
						this.ip = response.ip;
					} else {
						this.location = {};
					}
					this.$.banner.update();
					this.$.main.update();
					this.$.activity.update();
					this.$.hotserver.update();
				}.bind(this));
			},
			checkUpdate: function() {
				mui.plusReady(function() {
					var networkinfo = plus.networkinfo;
					var network = networkinfo.getCurrentType();
					var ni = '';
					switch (network) {
						case networkinfo.CONNECTION_UNKNOW:
							ni = 'UNKNOW';
							break;
						case networkinfo.CONNECTION_NONE:
							ni = 'NONE';
							break;
						case networkinfo.CONNECTION_ETHERNET:
							ni = 'ETHERNET';
							break;
						case networkinfo.CONNECTION_WIFI:
							ni = 'WIFI';
							break;
						case networkinfo.CONNECTION_CELL2G:
							ni = '2G';
							break;
						case networkinfo.CONNECTION_CELL3G:
							ni = '3G';
							break;
						case networkinfo.CONNECTION_CELL4G:
							ni = '4G';
							break;
					}
					Api.checkUpdate({
						m2: plus.device.imei,
						os: plus.os.name + ' ' + plus.os.version,
						vc: plus.runtime.version,
						_t: mui.now(),
						md: plus.device.model, //机型
						ni: ni,
						page_start: PAGE_START,
						login: Store.isLogin() ? 1 : 0,
						ope: this.location && this.location.isp || ''
					}, function(response) {
						if (response) {
							var data = response.data;
							if (data) {
								if (data.new_version) {
									this.upgradeTipsActive = true;
									this.update_info = data.update_info;
								}
								if (data.flow_tree != 1) { //免流量被关闭
									Api.getNotice(function(response) {
										response && response.data && response.data.content && Util.showPauseTips({
											msg: response.data.content
										});
									});
								}
								Store.setFlowTree(data.flow_tree);
							}
						}
					}.bind(this));
				}.bind(this));
			}
		}
	}
</script>