<template>
	<titlebar></titlebar>
	<tabbar v-ref="tabbar" on-change='{{updateTitle}}'></tabbar>
	<template v-repeat="item in preloads">
		<webview options='{{item}}'></webview>
	</template>
</template>
<script>
	module.exports = {
		el: '#app',
		data: function() {
			return {
				preloads: [{
					id: "TITLE",
					url: "titlebar.html",
					show: false,
					preload: true,
					styles: {
						popGesture: 'hide'
					}
				}]
			};
		},
		components: {
			titlebar: require('./components/titlebar.vue'),
			tabbar: require('./components/tabbar.vue'),
			webview: require('./components/webview.vue')
		},
		methods: {
			updateTitle: function(title) {
				this.title = title;
			},
			go: function(index) {
				this.$.tabbar.go(index);
			}
		}
	}
</script>