<template>
	<div class="wrap">
		<div class="page page2">
			<userinfo v-ref="userinfo"></userinfo>
			<recommend items="{{recommends}}"></recommend>
			<ul class="mui-table-view" style="margin-bottom: 10px;">
				<li class="mui-table-view-cell">
					<a v-on="tap:openOrderList" class="mui-navigate-right">我的订单</a>
				</li>
			</ul>
			<ul class="mui-table-view" style="margin-bottom: 10px;">
				<li class="mui-table-view-cell">
					<a v-on="tap:feedback" class="mui-navigate-right">我要反馈</a>
				</li>
				<li v-on="tap:checkUpdate" class="mui-table-view-cell">
					<a>检查更新</a>
					<span id="myVersion" class="mui-pull-right">当前版本：<span>{{version}}</span></span>
				</li>
			</ul>
			<ul v-class="mui-table-view:true,mui-hidden:!user">
				<li class="mui-table-view-cell">
					<a v-on="tap:logout" class="mui-navigate-right">退出登录</a>
				</li>
			</ul>
		</div>
	</div>
	<login active="{{@loginActive}}"></login>
	<bindphone active="{{@phoneActive}}"></bindphone>
	<tips active="{{@tipsActive}}"></tips>
	<bindtips active="{{@bindTipsActive}}" total="{{@bindTotal}}" expire="{{@bindExpire}}"></bindtips>
	<upgrade active="{{@upgradeTipsActive}}" info="{{update_info}}"></upgrade>
</template>
<script>
	var Store = require('./store');
	var Util = require('./util');
	var Login = require('./login');
	var Api = require('./api');
	module.exports = {
		el: '#app',
		mixins: [require('./mixins/tips'), require('./mixins/login')],
		data: function() {
			return {
				version: '',
				recommends: [],
				user: false,
				bindTipsActive: false,
				bindTotal: 30,
				bindExpire: '',
				upgradeTipsActive: false,
				update_info: {
					pkg_capacity: "",
					pkg_hash: "",
					pkg_url: "",
					update_note: "",
					ver: ""
				}
			};
		},
		created: function() {
			this.$on('userInfoSuccess', this.update.bind(this));
			this.initVersion();
		},
		ready: function() {
			this.update();
		},
		components: {
			userinfo: require('./components/userinfo.vue'),
			recommend: require('./components/recommend.vue'),
			bindtips: require('./components/bindpopover.vue'),
			upgrade: require('./components/upgradepopover.vue')
		},
		methods: {
			logout: function() {
				plus.nativeUI.confirm('是否退出登录', function(e) {
					if (e.index === 0) {
						Util.showWaiting();
						Login.logoutByOAuth(function(response) {
							Util.closeWaiting();
							if (response) {
								Store.clearUser();
								this.update();
							} else {
								plus.nativeUI.alert('未知错误');
							}
						}.bind(this));
					}
				}.bind(this), '提示', ['确定', '取消']);
			},
			update: function() {
				this.recommends = Store.getRecommends(4); //这个其实不用每次update
				this.$.userinfo.refresh();
				this.user = Store.getUser();
			},
			openOrderList: function() {
				if (!Store.isLogin()) {
					this.$.userinfo.login();
					//					this.showLoginPopover(this.openOrderList.bind(this));
				} else {
					Util.showWaiting();
					var webview = plus.webview.create('orderListMain.html', 'orderListMain');
					webview.addEventListener('loaded', function() {
						//Util.closeWaiting();//订单页获取到数据后再close
						webview.show('pop-in', 300);
					});
				}
			},
			feedback: function() {
				Util.showWaiting();
				var webview = plus.webview.create('feedback.html', 'feedback');
				webview.addEventListener('loaded', function() {
					Util.closeWaiting();
					webview.show('pop-in', 300);
				});
			},
			initVersion: function() {
				Store.getVersion(function(version) {
					this.version = version;
				}.bind(this));
			},
			checkUpdate: function() {
				Util.showWaiting();
				Api.checkUpdate(function(response) {
					Util.closeWaiting();
					var data = response.data;
					if (data && data.new_version) {
						this.upgradeTipsActive = true;
						this.update_info = data.update_info;
					} else {
						plus.nativeUI.toast('已经是最新版本!');
					}
				}.bind(this));
			}
		}
	}
</script>