<template>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">订单详情<flowstatus></flowstatus></h1>
	</header>
	<div class="mui-content"></div>
</template>
<script>
	module.exports = {
		el: '#app',
		ready: function() {
			var getQuery = function(key) {
				var query = window.location.search.substr(1);
				var parts = query.split('&');
				for (var i = 0, len = parts.length; i < len; i++) {
					var kv = parts[i].split('=');
					if (kv[0] == key) {
						try {
							return decodeURIComponent(kv[1]);
						} catch (e) {
							return kv[1];
						}
					}
				}
				return undefined;
			};
			mui.plusReady(function() {
				var webview = plus.webview.create('orderDetail.html?appId=' + getQuery('appId') + '&orderId=' + getQuery('orderId'), 'orderDetail', {
					top: mui.supportStatusbarOffset() ? '65px' : '45px',
					bottom: '0px'
				});
				plus.webview.currentWebview().append(webview);
			});
		},
		components: {
			flowstatus: require('./components/flowstatus.vue')
		}
	}
</script>