<template>
	<div id="pullrefresh" v-class="mui-content:true,mui-scroll-wrapper:true,noorder:!loading&&!items.length,mui-active:!loading&&items.length">
		<div class="mui-scroll">
			<div v-if="!loading&&!items.length" class="page page2">
				<div class="empty-basket">
				</div>
				<div class="nocard-info">
					<div class="nocard-title">暂无订单</div>
				</div>
			</div>
			<section v-if="!loading&&items.length" v-repeat="item in items" v-on="tap:openDetail(item)" class="block">
				<div class="main">
					<div class="icon">
						<img class="altImage w100" v-attr="src:item.orderImg">
					</div>
					<div class="detail">
						<div class="name els">{{item.orderShortInfo}}</div>
						<div class="price els">金额：{{item.orderPrice}}元</div>
						<div class="status els">状态：<span v-class="c-orange:item.orderStatus==='待支付'">{{item.orderStatus}}</span></div>
					</div>
				</div>
				<div class="tail">
					<div class="logo"><img class="altImage w100" v-attr="src:item.serviceLogo"></div>
					<div class="providor els">{{item.serviceName}}</div>
					<div class="create-time">{{item.orderTime | dateFormat 'yyyy年MM月dd日 hh:mm'}}</div>
				</div>
			</section>
		</div>
	</div>
	<broken active="{{@brokenActive}}"></broken>
</template>
<script>
	var Util = require('./util');
	var Api = require('./api');
	module.exports = {
		el: '#app',
		mixins: [require('./mixins/broken')],
		data: function() {
			return {
				loading: true,
				page: 1,
				page_size: 10,
				items: []
			};
		},
		ready: function() {
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						auto: true,
						callback: this.pulldownRefresh.bind(this)
					},
					up: {
						contentrefresh: '正在加载...',
						callback: this.pullupRefresh.bind(this)
					}
				}
			});
		},
		filters: {
			dateFormat: require('./filters/date.js')
		},
		methods: {
			update: function() {
				if (this.brokenActive) {
					mui('#pullrefresh').pullRefresh().setStopped(true);
				} else {
					mui('#pullrefresh').pullRefresh().setStopped(false);
					this.pulldownRefresh();
				}
			},
			openDetail: function(item) {
				//TODO 目前未处理流应用订单
				Util.showWaiting();
				var webview = plus.webview.create('orderDetailMain.html?appId=' + item.appId + '&orderId=' + item.orderId, 'orderDetailMain');
				webview.addEventListener('loaded', function() {
					//Util.closeWaiting();//订单详情页获取到数据后再close
					webview.show('pop-in', 300);
				});
			},
			_filterOrders: function(orders) {
				if (orders && orders.length) {
					return orders.filter(function(order) {
						return !~['202557106', '202662396'].indexOf(order.appId);
					});
				}
				return [];
			},
			getOrders: function(callback, append) {
				append = append || false;
				if (!append) {
					this.page = 1; //页码重置
				}
				Api.getOrderList(this.page, this.page_size, function(response) {
					Util.closeWaiting();
					if (response) {
						if (response.errno) {
							plus.nativeUI.alert(response.errmsg);
							callback && callback(false);
						} else {
							var data = response.data;
							if (append) { //上拉加载
								if (data.list) { //有数据
									this.items = this.items.concat(this._filterOrders(data.list));
									this.page = this.page + 1; //页码+1
									callback && callback(true, data.list.length);
								} else { //无数据
									callback && callback(true, 0);
								}
							} else { //下拉刷新
								this.page = 2; //页码重置
								if (data.list) { //有数据
									this.items = this._filterOrders(data.list);
									callback && callback(true, data.list.length);
								} else { //无数据
									this.items = [];
									callback && callback(true, 0);
								}
							}
							Util.DEBUG && Util.D('order list:' + JSON.stringify(this.items));
						}
					} else {
						mui.toast('您的网络好像不太给力，请稍后再试');
						callback && callback(false);
					}
					this.loading = false;
				}.bind(this));
			},
			pulldownRefresh: function() {
				this.getOrders(function(result, count) {
					Util.DEBUG && Util.D('pulldownRefresh:' + result + ',' + count);
					mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
					if (result) {
						if (count < this.page_size) { //如果下拉刷新时，数据小于每页数量，则说明没有更多订单，需要禁用上拉加载
							Util.DEBUG && Util.D('disablePullupToRefresh');
							mui('#pullrefresh').pullRefresh().disablePullupToRefresh();
						} else { //如果下拉刷新时，数据大于等于每页数量，则说明可能有更多订单，需要重启上拉加载
							Util.DEBUG && Util.D('enablePullupToRefresh');
							mui('#pullrefresh').pullRefresh().enablePullupToRefresh();
						}
					}
				}.bind(this));
			},
			pullupRefresh: function() {
				this.getOrders(function(result, count) {
					Util.DEBUG && Util.D('pullupRefresh:' + result + ',' + count);
					mui('#pullrefresh').pullRefresh().endPullupToRefresh(count === 0);
				}.bind(this), true);
			}
		}
	}
</script>