<template>
	<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
		<div class="mui-scroll">
			<div v-if="!loading">
				<section class="order-info">
					<div v-on="tap:openDetail(item)" v-class="els:true,title:true,arrow:item.orderUrl">{{item.orderShortInfo}}</div>
					<ul class="info-detail">
						<li><span>订单编号：</span>{{item.orderId}}</li>
						<li><span>下单时间：</span>{{item.orderTime}}</li>
						<li><span>订单金额：</span>{{item.orderPrice}}元</li>
						<li><span>预约用户：</span>{{item.userInfo.phone||'***********'}}</li>
						<li><span>服务状态：</span>{{item.orderStatus}}</li>
					</ul>
				</section>
				<section class="order-trace">
					<div class="title">服务跟踪</div>
					<ul class="trace-list">
						<li v-repeat="log in item.statusLog">{{log.time}} {{log.status}}</li>
					</ul>
				</section>
			</div>
		</div>
	</div>
	<broken></broken>
</template>
<script>
	var Util = require('./util');
	var Api = require('./api');
	module.exports = {
		el: '#app',
		mixins: [require('./mixins/broken'), require('./mixins/open')],
		data: function() {
			return {
				loading: true,
				item: {}
			};
		},
		ready: function() {
			this.appId = Util.getQuery('appId');
			this.orderId = Util.getQuery('orderId');
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						auto: true,
						callback: this.pulldownRefresh.bind(this)
					}
				}
			});
		},
		methods: {
			update: function() {
				if (this.brokenActive) {
					mui('#pullrefresh').pullRefresh().setStopped(true);
				} else {
					mui('#pullrefresh').pullRefresh().setStopped(false);
					this.pulldownRefresh();
				}
			},
			pulldownRefresh: function() {
				if (this.appId && this.orderId) {
					Api.getOrderDetail(this.appId, this.orderId, function(response) {
						this.loading = false;
						Util.closeWaiting();
						if (response) {
							if (response.errno) {
								mui.plusReady(function() {
									plus.nativeUI.alert(response.errmsg);
								});
							} else {
								this.item = response.data;
							}
						}
						mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
					}.bind(this));
				} else {
					Util.closeWaiting();
					mui.plusReady(function() {
						plus.nativeUI.alert('未指定服务编号或订单编号');
					});
				}
			},
			openDetail: function(item) {
				if (!item.orderUrl) {
					return;
				}
				//三类，轻应用，流应用，普通
				var type = 'link';
				if (item.configExt) {
					if (item.configExt.dcloud == 1) {
						type = 'dcloud';
					} else if (item.configExt.dcloud == 2) {
						type = 'stream';
					}
				}
				this.openByCpOrder(type, item);
			}
		}
	}
</script>