<template>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">我的订单<flowstatus></flowstatus></h1>
	</header>
	<div class="mui-content"></div>
</template>
<script>
	module.exports = {
		el: '#app',
		ready: function() {
			mui.plusReady(function() {
				var webview = plus.webview.create('orderList.html', 'orderList', {
					top: mui.supportStatusbarOffset() ? '65px' : '45px',
					bottom: '0px'
				});
				plus.webview.currentWebview().append(webview);
			});
		},
		components: {
			flowstatus: require('./components/flowstatus.vue')
		}
	}
</script>