<template>
	<div class="mui-content mui-fullscreen">
		<span v-if="!menu.length" class="mui-spinner"></span>
		<div v-if="menu.length" class="life-layout life-grid-m0s2">
			<div class="life-col-main">
				<div class="life-main-wrap">
					<list v-ref="list" items="{{list}}" on-scroll="{{handleScroll}}"></list>
				</div>
			</div>
			<div class="life-col-sub">
				<menu v-ref="menu" items="{{menu}}" on-click={{handleMenuClick}}></menu>
			</div>
		</div>
	</div>
	<login active="{{@loginActive}}"></login>
	<bindphone active="{{@phoneActive}}"></bindphone>
	<tips active="{{@tipsActive}}"></tips>
	<broken v-ref="broken"></broken>
</template>
<script>
	var Store = require('./store');
	module.exports = {
		el: '#app',
		mixins: [require('./mixins/broken'), require('./mixins/tips'), require('./mixins/login')],
		data: function() {
			return {
				menu: [],
				list: [],
				loaded: false,
			};
		},
		components: {
			menu: require('./components/menu.vue'),
			list: require('./components/list.vue'),
			broken: require('./components/broken.vue')
		},
		methods: {
			update: function() {
				this.$.broken.refresh(false);
				Store.getServerList(function(response) {
					if (response) {
						this.loaded = true;
						this.menu = response.menu;
						this.list = response.list;
					}
				}.bind(this));
			},
			handleScroll: function(index) {
				var lastActive = document.querySelector(".sc-menu-outer .active");
				lastActive && lastActive.classList.remove('active');
				var current = document.querySelector(".sc-menu-outer li:nth-child(" + (index + 1) + ")");
				current && current.classList.add('active');
				this.$.menu.scrollTo(index);
			},
			handleMenuClick: function(index) {
				this.$.list.scrollTo(index);
			}
		}
	}
</script>