<template>
	<header>
		<h1 id="title" class="mui-action-back"><span class="back"></span><span class="title">正在加载中...</span><span><flowstatus></flowstatus></span></h1>
		<a id="home"><span></span></a>
	</header>
</template>
<script>
	var Util = require('./util');
	var Logger = require('./logger');
	var Store = require('./store');
	module.exports = {
		el: '#app',
		ready: function() {
			var titleElem = document.querySelector("#title .title");
			var titleBar;
			var server;
			//更新标题
			window.updateTitle = function(title) {
				titleElem.innerText = title || '正在加载中...';
			};
			var closeWaitingTimer;
			//打开服务
			window.openServer = function(url) {
				updateTitle();
				setTimeout(function() {
					if (server) {
						loading = true;
						Util.showWaiting(false);
						closeWaitingTimer = mui.later(function() {
							loading = false;
							Util.closeWaiting();
						}, 5000);
						//				server.clear();
						server.loadURL(url);
						server.show();
						titleBar.show('fade-in', 200);
					}
				}, 0);
			};
			//返回首页
			function goHome() {
				if (server) {
					titleBar.hide('fade-out', 200);
					updateTitle();
				}
			};
			var loading = false;
			//后退
			mui.back = function() {
				Util.closeWaiting();
				if (server) {
					if (loading) { //新打开CP加载中的话，直接返回首页
						goHome();
					} else {
						server.canBack(function(e) {
							if (e.canBack) { //webview history back
								server.evalJS('window.history.back()');
							} else {
								goHome();
							}
						});
					}
				}
			};
			document.getElementById("home").addEventListener('touchend', goHome);
			var aElem = document.createElement("a");
			mui.plusReady(function() {
				titleBar = plus.webview.currentWebview();
				titleBar.addEventListener('hide', function() {
					server.hide("none");
					server.clear();
				});
				server = plus.webview.create('', 'SERVER', {
					top: mui.supportStatusbarOffset() ? '64px' : '44px',
					bottom: '0px',
					popGesture: 'hide'
				});
				server.setJsFile('js/cp.min.js');
				//监听title变化
				server.addEventListener('titleUpdate', function(e) {
					updateTitle(e.title || '');
				});
				server.addEventListener('loaded', function() {
					loading = false;
					closeWaitingTimer && closeWaitingTimer.cancel();
					Util.closeWaiting();
					var title = server.getTitle();
					updateTitle(title || '');
					aElem.href = server.getURL();
					Util.DEBUG && Util.D(aElem.host + ':');
					Store.getRuleByDomain(aElem.host, aElem.href, function(js) {
						if (js) {
							Util.DEBUG && Util.D(js);
							setTimeout(function() {
								server.evalJS("try{" + js + "}catch(e){console.wran(e);}");
							}, mui.os.android ? 0 : 300);
						}
					});
				});
				titleBar.append(server);
			});
		},
		components: {
			flowstatus: require('./components/flowstatus.vue')
		}
	}
</script>