
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fenxiang:before { content: "\e600"; }
.icon-shoujihao:before { content: "\e601"; }
.icon-baoyang:before { content: "\e602"; }
.icon-daijinquan:before { content: "\e603"; }
.icon-ren:before { content: "\e604"; }
.icon-baoyang1:before { content: "\e605"; }
.icon-shoucangyishoucang:before { content: "\e606"; }
.icon-wodecheliang:before { content: "\e607"; }
.icon-baoxian:before { content: "\e608"; }
