.card-img{width:100%;display:block}.mui-navigate-right{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#333;width:95%;font-family:"microsoft yahei"}.mui-navigate-right:active{color:#F59703!important}.mui-card-footer:before{top:-1px}