.mui-content,body{background:#FFF;font-size:15px}.mui-content{padding:0 10px;margin-top:10px;display:flex;display:-webkit-flex;flex-flow:row wrap;-webkit-flex-flow:row wrap}.row{width:50%;text-align:center;word-break:break-all;line-height:16px;padding-top:10px}